migrate/services/cloudant/nodered.txt
[{"_id":"_design/library","_rev":"1-003b750938ae583f15265e4225c867d6","views":{"flow_entries_by_app_and_type":{"map":"function (doc) {\n                                            var p = doc._id.split(\"/\");\n                                            if (p.length > 2 && p[2] == \"flow\") {\n                                                var meta = {path:p.slice(3).join(\"/\")};\n                                                emit([p[0],p[2]],meta);\n                                            }\n                                        }"},"lib_entries_by_app_and_type":{"map":"function (doc) {\n                                            var p = doc._id.split(\"/\");\n                                            if (p.length > 2) {\n                                                if (p[2] != \"flow\") {\n                                                    var pathParts = p.slice(3,-1);\n                                                    for (var i=0;i<pathParts.length;i++) {\n                                                        emit([p[0],p[2],pathParts.slice(0,i).join(\"/\")],{dir:pathParts.slice(i,i+1)[0]});\n                                                    }\n                                                    var meta = {};\n                                                    for (var key in doc.meta) {\n                                                        meta[key] = doc.meta[key];\n                                                    }\n                                                    meta.fn = p.slice(-1)[0];\n                                                    emit([p[0],p[2],pathParts.join(\"/\")],meta);\n                                                }\n                                            }\n                                        }"}},"_revisions":{"start":1,"ids":["003b750938ae583f15265e4225c867d6"]}},{"_id":"connectedambulance-acitoslo/flow","_rev":"1-24d2788392585e367ce03946c502847f","flow":[{"type":"tab","id":"75ea2e7e.adbcb","label":"Connected Ambulance"},{"id":"d2962c5a.2d69d","type":"websocket-listener","path":"/ws/ambulance/location","wholemsg":"false"},{"id":"cb990eae.3466f","type":"http request","z":"75ea2e7e.adbcb","name":"Get ambulance location","method":"GET","url":"","x":672.0437469482422,"y":278.9126892089844,"wires":[["e7508c47.18af7","c0b52f69.3f4ad"]]},{"id":"82cc7014.7d339","type":"websocket out","z":"75ea2e7e.adbcb","name":"","server":"d2962c5a.2d69d","client":"","x":1208.6427459716797,"y":331.3849182128906,"wires":[]},{"id":"33ab407c.cc54c","type":"http in","z":"75ea2e7e.adbcb","name":"","url":"/ambulanceLocation","method":"get","x":121,"y":217.27780151367188,"wires":[["19767215.e6898e","40601b18.bf9fe4"]]},{"id":"19767215.e6898e","type":"http response","z":"75ea2e7e.adbcb","name":"","x":318.00001525878906,"y":217.27780151367188,"wires":[]},{"id":"a49153bb.5b6eb","type":"function","z":"75ea2e7e.adbcb","name":"Construct Glass Notification","func":"var ambuLat = msg.ambuLat;\nvar ambuLng = msg.ambuLng;\nvar patientLat = msg.patientLat;\nvar patientLng = msg.patientLng;\nvar description = msg.description;\n\nvar kjernejournal;\nif(msg.patientName) {\n    var patient;\n\tpatient = context.global.patients[msg.patientName];\n\tkjernejournal = '<article><section><h1 class=\"text-large white\">Patient</h1><h2>' + patient.name + '</h2><h3 class=\"blue\">Critical medical data</h3></section><footer class=\"blue\">Swipe for more</footer></article>' +\n\t                '<article><section><table class=\"align-justify\"><tr><td class=\"text-large\">' + patient.name + '</td><td>' + patient.sex + '/' + patient.age + '/' + patient.bloodType +'</td></tr>'; \n\t                \n\tvar medicalHistory = \"\";\n\tpatient.medicalHistory.forEach(function (entry) {\n\t    medicalHistory += '<tr><td class=\"text-small\">' + entry + '</td><td></td></tr>';\n\t});\n\tkjernejournal += medicalHistory;\n\tkjernejournal += '</table></section><footer class=\"blue\">Medical history</footer></article>'\n\t\n\tkjernejournal += '<article><section><table class=\"align-justify\"><tr><td class=\"text-large\">' + patient.name + '</td><td>' + patient.sex + '/' + patient.age + '/' + patient.bloodType +'</td></tr>';\n\t\n\tvar prescriptions = \"\";\n\tpatient.prescriptions.forEach(function (entry) {\n\t    prescriptions += '<tr class=\"text-small\"><td>'+ entry +'</td><td></td></tr>';\n\t});\n\tkjernejournal += prescriptions;\n\tkjernejournal += '</table></section><footer class=\"blue\">Prescriptions</footer></article>';\n\t\n\tkjernejournal += '<article><section><table class=\"align-justify\"><tr><td class=\"text-large\">' + patient.name + '</td><td>' + patient.sex + '/' + patient.age + '/' + patient.bloodType +'</td></tr>';\n\tvar allergies = \"\";\n\tpatient.allergies.forEach(function (entry) {\n\t    allergies += '<tr class=\"text-small\"><td>'+ entry +'</td><td></td></tr>';\n\t});\n\tkjernejournal += allergies;\n\tkjernejournal += '</table></section><footer class=\"blue\">Allergies</footer></article>';\n}\n\n//var addr = \"glass://map?w=240&h=360&marker=1;\" + patientLat + \",\" + patientLng;\n//var addr = \"glass://map?w=240&h=360&marker=0;\" + ambuLat + \",\" + ambuLng + \"&marker=1;\" + patientLat + \",\" + patientLng;\nvar addr = msg.streetViewUrl;\n\n/*  Insert payload into Google Glass Timeline\n *  https://developers.google.com/glass/v1/reference/timeline/insert\n*/\n\nmsg.payload = {\n    \"notification\": {\n      \"level\": \"DEFAULT\"\n    },\n    \"callbackUrl\": \"https://mirrornotifications.appspot.com/forward?url=http://localhost:8081/reply\",\n    \"menuItems\": [{\n      \"action\": \"NAVIGATE\"\n    }],\n    \"html\": \"<article class=\\\"cover-only\\\"><figure><img src=\\\"\" + addr +  \"\\\" height=\\\"360\\\" width=\\\"240\\\"></figure><section><p style=\\\"padding-top:2px\\\" class=\\\"text-small\\\">Emergency response request:</p><div class=\\\"text-auto-size\\\"><p class=\\\"blue text-small\\\">\" + description + \"</p><p class=\\\"yellow text-small\\\">\"+msg.payload.results[0].formatted_address+\"</p></div></section><footer>Tap for details</footer></article>\"+kjernejournal,\n    //\"html\": \"<article class=\\\"cover-only\\\"><figure><img src=\\\"\" + addr +  \"\\\" height=\\\"360\\\" width=\\\"240\\\"></figure><section><p class=\\\"text-small\\\">Utrykningsforesp?rsel:</p><div class=\\\"text-auto-size\\\"><p class=\\\"blue text-small\\\">\" + description + \"</p><p class=\\\"yellow text-small\\\">\"+msg.payload.results[0].formatted_address+\"</p></div></section><footer>Tap for more</footer></article>\"+kjernejournal,\n    \"location\": {\n      \"latitude\": msg.payload.results[0].latitude,\n      \"longitude\": msg.payload.results[0].longitude,\n      \"displayName\": msg.payload.results[0].formatted_address\n    }\n};\nmsg.url = context.global.url + \"/timeline/\"+ msg.topic;\nreturn msg; ","outputs":"1","noerr":0,"x":713.5715179443359,"y":479.8492431640625,"wires":[["81dc8f2c.7e237","c0aef2ca.3f511"]]},{"id":"81dc8f2c.7e237","type":"http request","z":"75ea2e7e.adbcb","name":"Send notification to ambulance","method":"POST","url":"","x":1170.5714569091797,"y":414.0992431640625,"wires":[["dec29352.213d7","ffbd57d6.0042a8"]]},{"id":"21cea847.de3158","type":"http response","z":"75ea2e7e.adbcb","name":"Send response to OperationsView ","x":1601.3214569091797,"y":411.84930419921875,"wires":[]},{"id":"f0743643.0f8bc8","type":"debug","z":"75ea2e7e.adbcb","name":"","active":false,"console":"false","complete":"false","x":1151.9286346435547,"y":232.02780151367188,"wires":[]},{"id":"40601b18.bf9fe4","type":"http request","z":"75ea2e7e.adbcb","name":"Get available Glasses","method":"GET","url":"http://{{req.headers.host}}/getAuthorized","x":305.9999694824219,"y":156.27780151367188,"wires":[["f4809cfa.0b7f6"]]},{"id":"2b67bb74.d49844","type":"inject","z":"75ea2e7e.adbcb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":112,"y":156.27780151367188,"wires":[["40601b18.bf9fe4"]]},{"id":"e1f831dc.1e07d","type":"function","z":"75ea2e7e.adbcb","name":"Create one msg per Glass","func":"\ncontext.global.glasses = msg.payload;\nvar messages = [];\nfor(var id in msg.payload) {\t\n\tmessages.push({topic: id, name: msg.payload[id].name});\n}\nreturn [messages];","outputs":1,"x":675,"y":156.99209594726562,"wires":[["8ed7edb4.71281"]]},{"id":"f4809cfa.0b7f6","type":"json","z":"75ea2e7e.adbcb","name":"","x":478.00001525878906,"y":156.27780151367188,"wires":[["e1f831dc.1e07d"]]},{"id":"4d2a1eaa.b2d5e","type":"function","z":"75ea2e7e.adbcb","name":"Add Glass ID and name to payload","func":"msg.payload = {id: msg.topic, name: msg.name, payload: msg.payload};\nreturn msg;","outputs":1,"x":910.4285736083984,"y":333.0278015136719,"wires":[["82cc7014.7d339","f0743643.0f8bc8"]]},{"id":"e7508c47.18af7","type":"json","z":"75ea2e7e.adbcb","name":"","x":684.4285736083984,"y":332.5278015136719,"wires":[["4d2a1eaa.b2d5e"]]},{"id":"599a8a6b.a66574","type":"inject","z":"75ea2e7e.adbcb","name":"On startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":99.00003051757812,"y":266.2778015136719,"wires":[["dbcf4504.2430b8"]]},{"id":"dbcf4504.2430b8","type":"function","z":"75ea2e7e.adbcb","name":"Register patients","func":"var patientsJson = {};\npatientsJson['John Doe'] = {\n    \"name\": \"John Doe\",\n    \"age\": \"39\",\n    \"sex\": \"M\",\n    \"organDonor\": true,\n    \"bloodType\": \"A+\",\n    \"medicalHistory\": [\"Diabetic\", \"Spinal Disc Herniation\"],\n    \"prescriptions\": [\"Insulin\"],\n    \"allergies\": [\"Penicilin\", \"Seafood\"]\n};\npatientsJson['Jane Fisher'] = {\n    \"name\": \"Jane Fisher\",\n    \"age\": \"33\",\n    \"sex\": \"F\",\n    \"organDonor\": false,\n    \"bloodType\": \"0-\",\n    \"medicalHistory\": [\"Anaphylactic reaction\", \"Mild depression\"],\n    \"prescriptions\": [\"Trimethoprim\"],\n    \"allergies\": [\"Insect stings\", \"Sun sensitivity\"]\n};\npatientsJson['Helen Driscoll'] = {\n    \"name\": \"Helen Driscoll\",\n    \"age\": \"21\",\n    \"sex\": \"F\",\n    \"organDonor\": true,\n    \"bloodType\": \"B+\",\n    \"medicalHistory\": [\"Anxiety\"],\n    \"prescriptions\": [\"Cerazette\", \"Cetrizine\", \"Diazepam\"],\n    \"allergies\": [\"Pollen\", \"Egg\"]\n};\n\ncontext.global.patients = patientsJson;\n\n","outputs":1,"noerr":0,"x":271.0000305175781,"y":266.2778015136719,"wires":[[]]},{"id":"2598dcb9.da6724","type":"debug","z":"75ea2e7e.adbcb","name":"","active":false,"console":"false","complete":"true","x":886.7142791748047,"y":209.5635223388672,"wires":[]},{"id":"c0b52f69.3f4ad","type":"debug","z":"75ea2e7e.adbcb","name":"","active":false,"console":"false","complete":"res.headers","x":896.4443817138672,"y":279.2778015136719,"wires":[]},{"id":"8ed7edb4.71281","type":"function","z":"75ea2e7e.adbcb","name":"Set msg.url","func":"msg.url = context.global.url + \"/location/\"+ msg.topic;\nreturn msg;","outputs":1,"x":663.5555267333984,"y":209.27780151367188,"wires":[["2598dcb9.da6724","cb990eae.3466f"]]},{"id":"5f66d992.a09928","type":"inject","z":"75ea2e7e.adbcb","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":true,"x":112.77777481079102,"y":37.5,"wires":[["920e2f8.f6df1d"]]},{"id":"920e2f8.f6df1d","type":"function","z":"75ea2e7e.adbcb","name":"context variables","func":"context.global.url = \"http://\" + context.global.VCAP_APPLICATION.uris[0];\ncontext.global.CLIENT_ID = \"YOUR_CLIENT_ID\";\ncontext.global.CLIENT_SECRET = \"YOUR_CLIENT_SECRET\";\ncontext.global.authID = '';\ncontext.global.user = '';\ncontext.global.lat = 59.8937806;\ncontext.global.long = 10.6450355;\nreturn msg;","outputs":1,"noerr":0,"x":310.83333587646484,"y":38.25000858306885,"wires":[[]]},{"id":"c0aef2ca.3f511","type":"debug","z":"75ea2e7e.adbcb","name":"","active":false,"console":"false","complete":"payload.html","x":1136.0001678466797,"y":477.5001220703125,"wires":[]},{"id":"dec29352.213d7","type":"debug","z":"75ea2e7e.adbcb","name":"","active":false,"console":"false","complete":"false","x":1469.0001678466797,"y":321.5,"wires":[]},{"id":"33ce8825.cc3178","type":"http in","z":"75ea2e7e.adbcb","name":"","url":"/operations","method":"get","swaggerDoc":"","x":97,"y":92.5,"wires":[["c042da45.3fbd28"]]},{"id":"c042da45.3fbd28","type":"template","z":"75ea2e7e.adbcb","name":"OperationsView","field":"","fieldType":"msg","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n\n<head>\n    <title>Ambulance Dispatcher</title>\n    <script type=\"text/javascript\" src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js\"></script>\n    <script type=\"text/javascript\" src=\"//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js\"></script>\n    <link rel=\"stylesheet\" href=\"//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css\">\n\n    <style type=\"text/css\" media=\"screen\">\n        #map {\n            position: absolute;\n            top: 0;\n            bottom: 0;\n            left: 0;\n            right: 0;\n        }\n        \n        #panorama {\n            width: 100%;\n            height: 300px;\n            z-index: 999;\n        }\n        \n        #dispatch {\n            float: right;\n            width: 300px;\n            height: 18px;\n            z-index: 999;\n            position: absolute;\n        }\n        \n        .modal {\n            text-align: center;\n        }\n        \n        @media screen and (min-width: 768px) {\n            .modal:before {\n                display: inline-block;\n                vertical-align: middle;\n                content: \" \";\n                height: 100%;\n            }\n        }\n        \n        .modal-dialog {\n            display: inline-block;\n            text-align: left;\n            vertical-align: middle;\n        }\n        \n        html,\n        body,\n        .row,\n        #view,\n        #map,\n        #mapPartial,\n        #infoPartial {\n            height: 100%;\n        }\n        \n        #infoPartial {\n            background: LightGrey;\n            padding-right: 15px;\n        }\n        \n        .modal-footer {\n            text-align: center;\n        }\n        \n        #dispatchBtn {\n            width: 95%;\n        }\n        \n        #endCallBtn {\n            width: 95%;\n        }\n        \n        #patientInfoBtn {\n            width: 95%;\n            margin: 0 auto;\n        }\n        \n        #buttonCenter {\n            text-align: center;\n        }\n        \n        #availableAmbulances {\n            position: relative;\n            height: 180px;\n            clear: both;\n            padding-top: 20px;\n        }\n        \n        #patientSearchInfoResult {\n            text-align: center;\n        }\n        \n        .controls {\n            margin-top: 10px;\n            border: 1px solid transparent;\n            border-radius: 2px 0 0 2px;\n            box-sizing: border-box;\n            -moz-box-sizing: border-box;\n            height: 32px;\n            outline: none;\n            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);\n        }\n        \n        #pac-input {\n            background-color: #fff;\n            font-family: Roboto;\n            font-size: 15px;\n            font-weight: 300;\n            margin-left: 30px;\n            padding: 0 11px 0 13px;\n            text-overflow: ellipsis;\n            width: 300px;\n        }\n        \n        #pac-input:focus {\n            border-color: #4d90fe;\n        }\n        \n        .pac-container {\n            font-family: Roboto;\n        }\n    </style>\n\n</head>\n\n<body>\n    <!-- Modal -->\n    <div class=\"modal fade\" id=\"authModal\" tabindex=\"-1\" role=\"dialog\" aria-labelledby=\"myModalLabel\">\n        <div class=\"modal-dialog\" role=\"document\">\n            <div class=\"modal-content\">\n                <div class=\"modal-header\">\n                    <button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>\n                    <h4 class=\"modal-title\" id=\"myModalLabel\">You are not authed</h4>\n                </div>\n                <div class=\"modal-body\">\n                    <h4>Why do I need to auth?</h4>\n                    <p>To be able to send request to your Google-Glasses or to <a href=\"https://developers.google.com/glass/tools-downloads/playground\"> Google Playground</a> you need to be authed with your Google Account</p>\n                    <h4>How to auth?</h4>\n                    <p>Auth with your google-account, which you should already have configured, <a id=\"authLink\" href=\"\">here</a></p>\n                    <p>After you have authed, you can visit the operations-console again, without seeing this popup :)</p>\n                </div>\n                <div class=\"modal-footer\">\n                    <button type=\"button\" class=\"btn btn-default\" data-dismiss=\"modal\">Close</button>\n                    <a id=\"authButton\" class=\"btn btn-primary\" href=\"\" role=\"button\">Auth!</a>\n                </div>\n            </div>\n        </div>\n    </div>\n\n    <div id=\"dispatchModal\" class=\"modal fade\" role=\"dialog\">\n        <div class=\"modal-dialog\">\n\n            <!-- Modal content-->\n            <div class=\"modal-content\">\n                <div class=\"modal-header\">\n                    <button type=\"button\" class=\"close\" data-dismiss=\"modal\">&times;</button>\n                    <h4 class=\"modal-title\">Dispatch ambulance to this location</h4>\n                </div>\n                <div class=\"modal-body\">\n                    <div id=\"panorama\">\n\n                    </div>\n                </div>\n                <div class=\"modal-footer\">\n                    <button id=\"dispatchBtn\" class=\"btn btn-success\" type=\"submit\">Dispatch Ambulance</button>\n                </div>\n            </div>\n\n        </div>\n    </div>\n\n    <div id=\"patientModal\" class=\"modal fade\" role=\"dialog\">\n        <div class=\"modal-dialog\">\n\n            <!-- Modal content-->\n            <div class=\"modal-content\">\n                <div class=\"modal-header\">\n                    <button type=\"button\" class=\"close\" data-dismiss=\"modal\">&times;</button>\n                    <h4 class=\"modal-title\">Send patient information to ambulance</h4>\n                </div>\n                <form id=\"patientInfo\">\n                    <div class=\"modal-body\">\n                        <div>\n                            <div class=\"form-group\">\n                                <label for=\"patientName\">Patient name</label>\n                                <div class=\"input-group\">\n                                    <input type=\"text\" class=\"form-control\" id=\"patientName\" placeholder=\"Search for patient ...\">\n                                    <span class=\"input-group-btn\">\n\t\t\t\t\t\t\t\t        <button id=\"patientSearchBtn\" class=\"btn btn-default\" type=\"button\"><span class=\"glyphicon glyphicon-search\"></span></button>\n                                    </span>\n                                </div>\n                            </div>\n                            <div id=\"patientSearchInfoResult\">\n\n                            </div>\n                            <div class=\"form-group\">\n                                <label for=\"description\">Short description of incident</label>\n                                <input type=\"text\" class=\"form-control\" id=\"description\" placeholder=\"Short description of incident\">\n                            </div>\n                        </div>\n                    </div>\n                    <div class=\"modal-footer\">\n                        <button id=\"patientInfoBtn\" class=\"btn btn-primary\" type=\"submit\">Send patient information</button>\n                    </div>\n                </form>\n            </div>\n        </div>\n    </div>\n\n    <div class=\"row\" id=\"view\">\n        <div class=\"col-md-9 \" id=\"mapPartial\">\n            <div>\n                <div id=\"panorama\">\n\n                </div>\n            </div>\n            <input id=\"pac-input\" class=\"controls\" type=\"text\" placeholder=\"Search Box\">\n            <div id=\"map\"></div>\n        </div>\n        <div class=\"col-md-3\" id=\"infoPartial\">\n            <h2><span class=\"glyphicon glyphicon-earphone\"></span>911 Dispatcher</h2>\n            <h5>Dispatcher ID: #10034</h5>\n            <h5>Call ID: #134525</h5>\n            <h5>Call Started: <script type=\"text/javascript\">document.write(new Date().toLocaleTimeString());</script></h5>\n            <button id=\"endCallBtn\" class=\"btn btn-danger\" type=\"submit\">End call</button>\n            <h3>Log</h3>\n            <div>\n                <table id=\"log\" class=\"table table-striped\">\n                    <thead>\n                        <tr>\n                            <th>Time</th>\n                            <th>Event</th>\n                        </tr>\n                    </thead>\n                    <tbody>\n                        <tr>\n                            <th>\n                                <script type=\"text/javascript\">\n                                    document.write(new Date().toLocaleTimeString());\n                                </script>\n                            </th>\n                            <td> Incoming call</td>\n                        </tr>\n                    </tbody>\n                </table>\n            </div>\n            <!--<div>\n\t\t\t\t<h3>Available ambulances:</h3>\n\t\t\t\t<ul id=\"availableAmbulances\">\n\t\t\t\t\t\n\t\t\t\t</ul>\n\t\t\t</div>-->\n        </div>\n    </div>\n\n\n    <script type=\"text/javascript\">\n        var panorama;\n        var authId = '';\n        $(document).ready(function() {\n            $.get('/authId', function(data) {\n                authId = data.authId;\n                console.log(\"User: \" + data.user + \" / \" + data.authId + \"is authed\");\n            }).fail(function() {\n                $(\"#authLink\").attr(\"href\", \"http://\" + window.location.host + \"/auth\");\n                $(\"#authButton\").attr(\"href\", \"http://\" + window.location.host + \"/auth\");\n                $('#authModal').modal('show');\n            });\n        });\n\n\n\n        $('#endCallBtn').click(function() {\n            location.reload();\n        });\n\n        function initMap() {\n                    var latVar = 41.881832;\n        var longVar = -87.623177;\n                        $.get('/latlong', function(data) {\n                latVar = parseFloat(data.lat);\n                longVar = parseFloat(data.long);\n \n            var location = {\n                lat: latVar,\n                lng: longVar\n            };\n            var map = new google.maps.Map(document.getElementById('map'), {\n                zoom: 12,\n                center: location,\n                mapTypeId: google.maps.MapTypeId.ROADMAP,\n                mapTypeControl: false,\n                streetViewControl: false\n            });\n\n            //updateAvailableAmbulances();\n            initRightClick(map);\n            initSearchBox(map);\n                        });\n        }\n\n        function initRightClick(map) {\n            var icon = {\n                url: 'https://maps.gstatic.com/mapfiles/place_api/icons/geocode-71.png',\n                size: new google.maps.Size(71, 71),\n                origin: new google.maps.Point(0, 0),\n                anchor: new google.maps.Point(17, 34),\n                scaledSize: new google.maps.Size(25, 25)\n            };\n\n            var marker = new google.maps.Marker({\n                icon: icon,\n                title: 'location'\n            });\n\n            marker.addListener('click', function() {\n                showStreetviewModal(marker);\n            });\n\n            google.maps.event.addDomListener(map, 'rightclick', function(e) {\n                marker.setPosition(e.latLng);\n                marker.setMap(map);\n            });\n        }\n\n        function initSearchBox(map) {\n            var input = document.getElementById('pac-input');\n            var searchBox = new google.maps.places.SearchBox(input);\n            map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);\n\n            // Bias the SearchBox results towards current map's viewport.\n            map.addListener('bounds_changed', function() {\n                searchBox.setBounds(map.getBounds());\n            });\n\n            var markers = [];\n            // [START region_getplaces]\n            // Listen for the event fired when the user selects a prediction and retrieve\n            // more details for that place.\n            searchBox.addListener('places_changed', function() {\n                var places = searchBox.getPlaces();\n\n                if (places.length == 0) {\n                    return;\n                }\n\n                // Clear out the old markers.\n                markers.forEach(function(marker) {\n                    marker.setMap(null);\n                });\n                markers = [];\n\n                // For each place, get the icon, name and location.\n                var bounds = new google.maps.LatLngBounds();\n                places.forEach(function(place) {\n                    var icon = {\n                        url: 'https://maps.gstatic.com/mapfiles/place_api/icons/geocode-71.png',\n                        size: new google.maps.Size(71, 71),\n                        origin: new google.maps.Point(0, 0),\n                        anchor: new google.maps.Point(17, 34),\n                        scaledSize: new google.maps.Size(25, 25)\n                    };\n\n                    var marker = new google.maps.Marker({\n                        map: map,\n                        icon: icon,\n                        title: place.name,\n                        position: place.geometry.location\n                    });\n\n                    // Create a marker for each place.\n                    markers.push(marker);\n\n                    marker.addListener('click', function() {\n                        showStreetviewModal(marker);\n                    });\n\n                    if (place.geometry.viewport) {\n                        // Only geocodes have viewport.\n                        bounds.union(place.geometry.viewport);\n                    } else {\n                        bounds.extend(place.geometry.location);\n                    }\n                });\n                map.panToBounds(bounds);\n            });\n        }\n\n        function showStreetviewModal(marker) {\n            panorama = new google.maps.StreetViewPanorama(\n                document.getElementById('panorama'), {\n                    position: marker.getPosition(),\n                    pov: {\n                        heading: 165,\n                        pitch: 0\n                    },\n                    zoom: 1,\n                    disableDefaultUI: true\n                });\n            $('#dispatchModal').modal('show');\n            $('#dispatchModal').on('shown.bs.modal', function() {\n                google.maps.event.trigger(panorama, \"resize\");\n            });\n\n            $('#dispatchBtn').bind('click', function() {\n                var url = \"https://maps.googleapis.com/maps/api/streetview?size=240x360&\" +\n                    \"location=\" + marker.getPosition().lat() + \",\" + marker.getPosition().lng() + \"&fov=90&heading=\" + panorama.getPov().heading +\n                    \"&pitch=\" + panorama.getPov().pitch;\n                $.post('/dispatchAmbulance2', {\n                    id: authId,\n                    lat: marker.getPosition().lat(),\n                    lng: marker.getPosition().lng(),\n                    url: url\n                }, function() {\n                    // add functionality to write to sidebar\n                    var time = new Date().toLocaleTimeString();\n                    var newRow = '<tr><th>' + time + '</th><td> Ambulance dispatched' + '</td></tr>';\n\n                    $(\"#log tbody\").append(newRow);\n                    $('#dispatchModal').modal('hide');\n\n                    var icon = {\n                        url: 'http://auto-accident-denver.com/wp-content/uploads/2015/12/emergency-Icon.jpeg-25.png',\n                    };\n\n                    ambulanceMarker = new google.maps.Marker({\n                        icon: icon,\n                        map: marker.getMap(),\n                        title: 'Incident',\n                        position: marker.getPosition()\n                    });\n\n                    ambulanceMarker.addListener('click', function() {\n                        showPatientInformationModal(marker);\n                    });\n\n                    marker.setMap(null);\n                })\n            });\n\n        }\n\n        function showPatientInformationModal(marker) {\n            $('#patientInfoBtn').attr(\"disabled\", true);\n            $('#patientModal').modal('show');\n\n            $('#patientSearchBtn').click(function() {\n                $.get('/patientData', {\n                    patientName: $('input[id=patientName]').val()\n                }, function(data) {\n                    var patientData = '<h3>' + data.name + ' <small>' + data.sex + '/' + data.age + '</small></h3>';\n                    $(\"#patientSearchInfoResult\").html(patientData);\n                    $('#patientInfoBtn').attr(\"disabled\", false);\n                }).fail(function() {\n                    $(\"#patientSearchInfoResult\").html('');\n                    $('#patientInfoBtn').attr(\"disabled\", true);\n                });\n            });\n\n            $('form').submit(function(event) {\n                var patientName = $('input[id=patientName]').val();\n                var description = $('input[id=description]').val()\n                $.post('/patientInfo', {\n                    id: authId,\n                    patientName: patientName,\n                    description: description\n                }, function() {\n                    $('#patientModal').modal('hide');\n                    var time = new Date().toLocaleTimeString();\n                    var newRow = '<tr><th>' + time + '</th><td> Patient information sent for ' + patientName + '</td></tr>';\n\n                    $(\"#log tbody\").append(newRow);\n                });\n                event.preventDefault();\n            });\n        }\n\n        function updateAvailableAmbulances() {\n            $.get('/getAuthorized', function(data) {\n                Object.keys(data).forEach(function(key) {\n                    var row = '<li>' + data[key].name + '</li>';\n                    $(\"#availableAmbulances\").append(row);\n                });\n            });\n        }\n    </script>\n    <script async defer src=\"https://maps.googleapis.com/maps/api/js?libraries=places&callback=initMap\"></script>\n</body>\n\n</html>","x":292,"y":92.5,"wires":[["b69ca319.49636"]]},{"id":"b69ca319.49636","type":"http response","z":"75ea2e7e.adbcb","name":"","x":451.99998474121094,"y":92.5,"wires":[]},{"id":"53ec7061.ac139","type":"http in","z":"75ea2e7e.adbcb","name":"","url":"/dispatchAmbulance2","method":"post","swaggerDoc":"","x":131,"y":426.5,"wires":[["c9a503ca.365b"]]},{"id":"c9a503ca.365b","type":"function","z":"75ea2e7e.adbcb","name":"Store data","func":"msg.patientLat = msg.payload.lat;\nmsg.patientLng = msg.payload.lng;\nmsg.topic = msg.payload.id;\nmsg.streetViewUrl = msg.payload.url;\nmsg.url = context.global.url + \"/location/\"+msg.topic;\nreturn msg;","outputs":1,"noerr":0,"x":363.99998474121094,"y":415.5,"wires":[["d9fc6d3f.26039"]]},{"id":"d9fc6d3f.26039","type":"http request","z":"75ea2e7e.adbcb","name":"Get patient address","method":"GET","url":"https://maps.googleapis.com/maps/api/geocode/json?latlng={{patientLat}},{{patientLng}}&key=AIzaSyCGBvmim4kx0yem7iKdOghmtMk5XFD49uc","x":574.9999847412109,"y":415.5,"wires":[["fa55f9e1.05aa08"]]},{"id":"c9c140fa.363ec","type":"function","z":"75ea2e7e.adbcb","name":"","func":"var addr = msg.streetViewUrl;\n\n/*  Insert payload into Google Glass Timeline\n *  https://developers.google.com/glass/v1/reference/timeline/insert\n*/\n\nmsg.payload = {\n    \"notification\": {\n      \"level\": \"DEFAULT\"\n    },\n    \"callbackUrl\": \"https://mirrornotifications.appspot.com/forward?url=http://localhost:8081/reply\",\n    \"menuItems\": [{\n      \"action\": \"NAVIGATE\"\n    }],\n    \"html\": \"<article class=\\\"cover-only\\\"><figure><img src=\\\"\" + addr +  \"\\\" height=\\\"360\\\" width=\\\"240\\\"></figure><section><p style=\\\"padding-top:2px\\\" class=\\\"text-small\\\">Emergency response request:</p><div class=\\\"text-auto-size\\\"><p class=\\\"yellow text-small\\\">\"+msg.payload.results[0].formatted_address+\"</p></div></section><footer>Tap for GPS</footer></article>\",\n    \"location\": {\n      \"latitude\": msg.payload.results[0].latitude,\n      \"longitude\": msg.payload.results[0].longitude,\n      \"displayName\": msg.payload.results[0].formatted_address\n    }\n};\nmsg.url = context.global.url + \"/timeline/\"+ msg.topic;\nreturn msg; ","outputs":1,"noerr":0,"x":926.9999847412109,"y":415.5,"wires":[["81dc8f2c.7e237","b2e6842a.4d1978"]]},{"id":"b2e6842a.4d1978","type":"debug","z":"75ea2e7e.adbcb","name":"","active":false,"console":"false","complete":"false","x":1082.0000457763672,"y":371.5,"wires":[]},{"id":"fa55f9e1.05aa08","type":"json","z":"75ea2e7e.adbcb","name":"","x":773.9999847412109,"y":415.5,"wires":[["c9c140fa.363ec"]]},{"id":"ffbd57d6.0042a8","type":"function","z":"75ea2e7e.adbcb","name":"","func":"msg.headers = {\n    \"Access-Control-Allow-Origin\": \"*\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":1387.0000457763672,"y":412.5,"wires":[["21cea847.de3158"]]},{"id":"d614f3bb.29eb1","type":"http in","z":"75ea2e7e.adbcb","name":"","url":"/patientInfo","method":"post","swaggerDoc":"","x":94,"y":537.5000305175781,"wires":[["baf3593f.450ca8"]]},{"id":"baf3593f.450ca8","type":"function","z":"75ea2e7e.adbcb","name":"Store data","func":"msg.patientName = msg.payload.patientName;\nmsg.description = msg.payload.description;\nmsg.topic = msg.payload.id;\nmsg.url = context.global.url + \"/location/\"+msg.topic;\n\nreturn msg;","outputs":1,"noerr":0,"x":310.99998474121094,"y":538.5000305175781,"wires":[["14f9454.feb06bb","a60aef58.59f51"]]},{"id":"14f9454.feb06bb","type":"function","z":"75ea2e7e.adbcb","name":"Construct Glass Notification","func":"var description = msg.description;\n\nvar kjernejournal;\nif(msg.patientName) {\n    var patient;\n\tpatient = context.global.patients[msg.patientName];\n\tkjernejournal = '<article><section><h1 class=\"text-large white\">Patient</h1><h2>' + patient.name + '</h2><h3 class=\"blue\">Critical medical data</h3></section><footer class=\"blue\">Swipe for more</footer></article>' +\n\t                '<article><section><table class=\"align-justify\"><tr><td class=\"text-large\">' + patient.name + '</td><td>' + patient.sex + '/' + patient.age + '/' + patient.bloodType +'</td></tr>'; \n\t                \n\tvar medicalHistory = \"\";\n\tpatient.medicalHistory.forEach(function (entry) {\n\t    medicalHistory += '<tr><td class=\"text-small\">' + entry + '</td><td></td></tr>';\n\t});\n\tkjernejournal += medicalHistory;\n\tkjernejournal += '</table></section><footer class=\"blue\">Medical history</footer></article>'\n\t\n\tkjernejournal += '<article><section><table class=\"align-justify\"><tr><td class=\"text-large\">' + patient.name + '</td><td>' + patient.sex + '/' + patient.age + '/' + patient.bloodType +'</td></tr>';\n\t\n\tvar prescriptions = \"\";\n\tpatient.prescriptions.forEach(function (entry) {\n\t    prescriptions += '<tr class=\"text-small\"><td>'+ entry +'</td><td></td></tr>';\n\t});\n\tkjernejournal += prescriptions;\n\tkjernejournal += '</table></section><footer class=\"blue\">Prescriptions</footer></article>';\n\t\n\tkjernejournal += '<article><section><table class=\"align-justify\"><tr><td class=\"text-large\">' + patient.name + '</td><td>' + patient.sex + '/' + patient.age + '/' + patient.bloodType +'</td></tr>';\n\tvar allergies = \"\";\n\tpatient.allergies.forEach(function (entry) {\n\t    allergies += '<tr class=\"text-small\"><td>'+ entry +'</td><td></td></tr>';\n\t});\n\tkjernejournal += allergies;\n\tkjernejournal += '</table></section><footer class=\"blue\">Allergies</footer></article>';\n}\n\nmsg.payload = {\n    \"notification\": {\n      \"level\": \"DEFAULT\"\n    },\n    \"callbackUrl\": \"https://mirrornotifications.appspot.com/forward?url=http://localhost:8081/reply\",\n\n    //\"html\": \"<article class=\\\"cover-only\\\"><figure><img src=\\\"\" + addr +  \"\\\" height=\\\"360\\\" width=\\\"240\\\"></figure><section><p style=\\\"padding-top:2px\\\" class=\\\"text-small\\\">Emergency response request:</p><div class=\\\"text-auto-size\\\"><p class=\\\"blue text-small\\\">\" + description + \"</p><p class=\\\"yellow text-small\\\">\"+msg.payload.results[0].formatted_address+\"</p></div></section><footer>Tap for details</footer></article>\"+kjernejournal,\n    \"html\": kjernejournal\n};\nmsg.url = context.global.url + \"/timeline/\"+ msg.topic;\nreturn msg; ","outputs":"1","noerr":0,"x":538.9999847412109,"y":537.5000305175781,"wires":[["81dc8f2c.7e237","5d6148cc.a29eb8"]]},{"id":"5d6148cc.a29eb8","type":"debug","z":"75ea2e7e.adbcb","name":"","active":true,"console":"false","complete":"false","x":842.9999847412109,"y":536.5000305175781,"wires":[]},{"id":"a60aef58.59f51","type":"debug","z":"75ea2e7e.adbcb","name":"","active":true,"console":"false","complete":"true","x":462.99998474121094,"y":460.5,"wires":[]},{"id":"d7f60b6b.2809f8","type":"http in","z":"75ea2e7e.adbcb","name":"","url":"/patientData","method":"get","swaggerDoc":"","x":92.48516845703125,"y":591.5000305175781,"wires":[["61617ea.f9e9e8"]]},{"id":"1c5a5691.e3a5a9","type":"http response","z":"75ea2e7e.adbcb","name":"","x":475.4851531982422,"y":592.5000915527344,"wires":[]},{"id":"61617ea.f9e9e8","type":"function","z":"75ea2e7e.adbcb","name":"","func":"var patientName = msg.payload.patientName;\nmsg.headers = {\n    \"Access-Control-Allow-Origin\": \"*\"\n};\nif(context.global.patients[patientName] != null) {\n    msg.payload = context.global.patients[patientName];\n} else {\n    msg.res.send(\"404\", {\"errorMessage\" : \"Not found!\"});\n};\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":277.4851531982422,"y":591.5000534057617,"wires":[["1c5a5691.e3a5a9"]]},{"id":"5965ccaa.e86bf4","type":"http in","z":"75ea2e7e.adbcb","name":"","url":"/authId","method":"get","swaggerDoc":"","x":79,"y":630.0408935546875,"wires":[["94296fbe.8811d"]]},{"id":"a3dc1133.d3636","type":"http response","z":"75ea2e7e.adbcb","name":"","x":477.99998474121094,"y":630.0409545898438,"wires":[]},{"id":"94296fbe.8811d","type":"function","z":"75ea2e7e.adbcb","name":"","func":"msg.headers = {\n    \"Access-Control-Allow-Origin\": \"*\"\n};\nif(context.global.authID) {\n    msg.payload.authId = context.global.authID;\n     msg.payload.user = context.global.user;\n} else {\n    msg.res.send(\"404\", {\"errorMessage\" : \"No User authenticated!!!\"});\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":280.99998474121094,"y":630.0408935546875,"wires":[["a3dc1133.d3636"]]},{"id":"390d0783.72f6d8","type":"http in","z":"75ea2e7e.adbcb","name":"","url":"/oauth2callback","method":"get","x":106,"y":779.8111028671265,"wires":[["e90393c0.55894","d64a8525.f00948"]]},{"id":"b9b50c6d.165c5","type":"http in","z":"75ea2e7e.adbcb","name":"","url":"/auth","method":"get","x":71.17449378967285,"y":737.4999771118164,"wires":[["4435d310.e5a6dc"]]},{"id":"4435d310.e5a6dc","type":"function","z":"75ea2e7e.adbcb","name":"Authenticate","func":"var ctx = context.global;\nOAuth2 = ctx.googleapis.OAuth2Client;\nvar oauthCallbackPath = ctx.url + \"/oauth2callback\";\nvar oauth2Client = new OAuth2(ctx.CLIENT_ID, ctx.CLIENT_SECRET, oauthCallbackPath);\n\n// generates a url that allows offline access and asks permissions\n// for Mirror API scope.\nvar url = oauth2Client.generateAuthUrl({\n  access_type: 'offline',\n  scope: 'https://www.googleapis.com/auth/glass.timeline https://www.googleapis.com/auth/glass.location https://www.googleapis.com/auth/plus.me'\n});\n\nmsg.res.redirect(url);","outputs":1,"x":241.88892364501953,"y":737.9285469055176,"wires":[[]]},{"id":"d64a8525.f00948","type":"debug","z":"75ea2e7e.adbcb","name":"","active":true,"console":false,"complete":false,"x":597.7143402099609,"y":780.7857122421265,"wires":[]},{"id":"e90393c0.55894","type":"async","z":"75ea2e7e.adbcb","name":"GrabUserIdAndCacheCredentials","async":"var ctx = context.global;\nvar success = function () { console.log('Grab Authentication Token success')}\nvar failure = function () { msg.res.send(\"401\", {\"errorMessage\" : \"Failure\"}); }\n\nOAuth2 = context.global.googleapis.OAuth2Client;\nvar oauthCallbackPath = context.global.url + \"/oauth2callback\";\nvar oauth2Client = new OAuth2(ctx.CLIENT_ID, ctx.CLIENT_SECRET, oauthCallbackPath);\n\nvar grabUserIdAndCacheCredentials = function(oauth2Client, successCallback) {\n    ctx.googleapis\n    .discover('plus', 'v1')\n    .execute(function(err, client) {\n\t\tif(!!err) { \n\t\t\tconsole.error(err);\n\t\t\tmsg.res.send(\"401\", {\"errorMessage\" : err}); \n\t\t\treturn;\n\t\t}\n\t\tclient\n\t\t    .plus.people.get({ userId: 'me' })\n\t\t    .withAuthClient(oauth2Client)\n\t\t    .execute(function(err, res) {\t\n\t\t    \tif(!!err) { \t\t\t\t\n\t\t\t\t\tconsole.error(err);\n\t\t\t\t\tmsg.res.send(\"401\", {\"errorMessage\" : err}); \n\t\t\t\t\treturn;\n\t\t\t\t}\n\t\t\t\tmsg.payload = res;\n\t\t\t\tcb(msg);\n\t\t\t\tsuccessCallback(res.id, res.displayName, oauth2Client);\t\t\t\n\t\t\t});\t\t\n    });   \n};\n\nvar grabToken = function (code, oauth2Client, errorCallback, successCallback) {\n    oauth2Client.getToken(code, function (err, tokens) {\n        if (!!err) {\n            errorCallback(err);\n        } else {\n            console.log('tokens', tokens);\n            oauth2Client.setCredentials(tokens);\n            grabUserIdAndCacheCredentials(oauth2Client, successCallback);\n        }\n    });\n};\n\ngrabToken(msg.req.query.code, oauth2Client, failure, function (userId, name, oauth2Client) {\nctx.authID = userId;\nctx.user = name;\nmsg.res.send(\"200\", \"User is authenticated with Google with userId/name: \" + userId + \"/\" + name);\n        if(!ctx.cachedOAuthClients) ctx.cachedOAuthClients = {};        \n        ctx.cachedOAuthClients[userId] = {client : oauth2Client, name : name};\n\t\tmsg.payload = userId;\n        console.log(msg.payload);\n        cb(msg);\n});\n","outputs":1,"x":365.42858123779297,"y":780.0714092254639,"wires":[["d64a8525.f00948"]]},{"id":"c6a1c564.8009c8","type":"http in","z":"75ea2e7e.adbcb","name":"","url":"/timeline/:id","method":"post","x":97.42857360839844,"y":824.7856912612915,"wires":[["c9902dd.acfc7d","d5c23a58.372508"]]},{"id":"c9902dd.acfc7d","type":"async","z":"75ea2e7e.adbcb","name":"Validate payload","async":"if(!msg.req.params.id) { \n\tmsg.res.send(\"401\", {\"errorMessage\" : \"No ID in request\"});\n}\nreturn msg;","outputs":1,"x":313.14286041259766,"y":825.2142639160156,"wires":[["73557ecb.94ed6","d5c23a58.372508"]]},{"id":"73557ecb.94ed6","type":"async","z":"75ea2e7e.adbcb","name":"Push Card","async":"var pushCard = function (card, oauth2Client) {\n    context.global.googleapis\n        .discover('mirror', 'v1')\n        .execute(function (err, client) {\n            if (!!err) {\n                msg.res.send(\"500\", JSON.stringify(err));\n                msg.payload = JSON.stringify(err);\n                cb(msg);\n                return;\n            }  \n   \t\t    Card(client, oauth2Client, card);            \n        });\n};\n\nvar Card = function (client, oauth2Client, card) {\n    client\n        .mirror.timeline.insert(card)\n        .withAuthClient(oauth2Client)\n        .execute(function (err, data) {\n            if (!!err) {               \n                msg.res.send(\"500\", JSON.stringify(err));\n                msg.payload = JSON.stringify(err);\n                cb(msg);\n            } else {\n                msg.res.send(\"200\", {\"message\" : \"'Create and Insert Card to Glass Timeline success'\"});\n                msg.payload = \"Success\";\n                cb(msg);\n            }\n        });\n};\n// &polyline=;42.36254,-71.08726,42.36297,-71.09364,42.36579,-71.09208,42.3697,-71.102,42.37105,-71.10104,42.37067,-71.1001,42.36561,-71.10406,42.36838,-71.10878,42.36968,-71.10703\nvar card =   msg.payload;\n      \nvar oauthClient = context.global.cachedOAuthClients[msg.req.params.id].client;\npushCard(card, oauthClient);\n","outputs":1,"x":508.8571548461914,"y":827.0714015960693,"wires":[[]]},{"id":"d5c23a58.372508","type":"debug","z":"75ea2e7e.adbcb","name":"","active":false,"console":"true","complete":"true","x":308.2857208251953,"y":877.9285459518433,"wires":[]},{"id":"cae84bb5.98dbb8","type":"http in","z":"75ea2e7e.adbcb","name":"","url":"/location/:id","method":"get","x":92.5714340209961,"y":931.3571243286133,"wires":[["2dca1bb8.d58db4"]]},{"id":"2dca1bb8.d58db4","type":"async","z":"75ea2e7e.adbcb","name":"Validate payload","async":"if(!msg.req.params.id) { \n\tmsg.res.send(\"401\", {\"errorMessage\" : \"No ID in request\"});\n}\nreturn msg;","outputs":1,"x":313.2857093811035,"y":932.7856960296631,"wires":[["6f0a9ded.bd6244","886b13ff.ca7f2"]]},{"id":"886b13ff.ca7f2","type":"async","z":"75ea2e7e.adbcb","name":"Get location","async":"var getLocation = function (oauth2Client) {\n    context.global.googleapis\n        .discover('mirror', 'v1')\n        .execute(function (err, client) {\n            if (!!err) {\n                msg.statusCode = 500;\n                msg.payload = JSON.stringify(err);\n                cb(msg);\n                return;\n            }  \n   \t\t    Location(client, oauth2Client);            \n        });\n};\n\nvar Location = function (client, oauth2Client) {\n    client\n        .mirror.locations.get({id:\"latest\"})\n        .withAuthClient(oauth2Client)\n        .execute(function (err, data) {\n            if (!!err) {               \n                msg.statusCode = 500;\n                msg.payload = JSON.stringify(err);\n                cb(msg);\n            } else {\n            \tmsg.statusCode = 200;\n                msg.payload = data;             \n                cb(msg);\n            }\n        });\n};\n        \nvar oauthClient = context.global.cachedOAuthClients[msg.req.params.id].client;\ngetLocation(oauthClient);","outputs":1,"x":514.4285888671875,"y":935.2142715454102,"wires":[["f11d8466.6cd0a8","6a3cdbe3.ef9fd4"]]},{"id":"6f0a9ded.bd6244","type":"debug","z":"75ea2e7e.adbcb","name":"","active":false,"console":"true","complete":"true","x":494.00001525878906,"y":883.214262008667,"wires":[]},{"id":"f11d8466.6cd0a8","type":"debug","z":"75ea2e7e.adbcb","name":"","active":false,"console":"true","complete":"false","x":665.571403503418,"y":886.7856941223145,"wires":[]},{"id":"722a45b7.c344fc","type":"inject","z":"75ea2e7e.adbcb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":90.14286804199219,"y":1038.357120513916,"wires":[["a66ed5c2.4aba88"]]},{"id":"ab85ba9c.e1aa58","type":"debug","z":"75ea2e7e.adbcb","name":"","active":false,"console":false,"complete":false,"x":596.0000457763672,"y":1035.214301109314,"wires":[]},{"id":"a66ed5c2.4aba88","type":"async","z":"75ea2e7e.adbcb","name":"Get authentiated Glass IDs","async":"var ctx = context.global;\n//var keys = _.keys(ctx.cachedOAuthClients);\nfor(client in ctx.cachedOAuthClients) {\n\tcb({payload : ctx.cachedOAuthClients[client].name});\n}\n//msg.payload = keys;\n///return msg;\n","outputs":1,"x":337.5714569091797,"y":1037.3571300506592,"wires":[["ab85ba9c.e1aa58"]]},{"id":"e4de4fbd.73b3e","type":"http in","z":"75ea2e7e.adbcb","name":"","url":"/getAuthorized","method":"get","x":102.28572845458984,"y":984.9285202026367,"wires":[["1daa3ab2.412485"]]},{"id":"1daa3ab2.412485","type":"async","z":"75ea2e7e.adbcb","name":"Get authentiated Glass IDs","async":"var ctx = context.global;\nmsg.payload = {};\nfor(id in ctx.cachedOAuthClients) {\n\tmsg.payload[id] = {name : ctx.cachedOAuthClients[id].name}\n}\nreturn msg;\n","outputs":1,"x":341.0000228881836,"y":984.9285411834717,"wires":[["d7471cc3.33137"]]},{"id":"99cf29de.5f0ca8","type":"http response","z":"75ea2e7e.adbcb","name":"","x":713.142822265625,"y":985.6427984237671,"wires":[]},{"id":"564ed678.7fab98","type":"inject","z":"75ea2e7e.adbcb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":90.14287567138672,"y":1085.3571395874023,"wires":[["8f9b0b8e.0c4d58"]]},{"id":"8f9b0b8e.0c4d58","type":"async","z":"75ea2e7e.adbcb","name":"Clear authenticated glasses","async":"var ctx = context.global;\nctx.cachedOAuthClients = {};","outputs":1,"x":337.1428756713867,"y":1084.7857036590576,"wires":[["f5edb33f.fd178"]]},{"id":"f5edb33f.fd178","type":"debug","z":"75ea2e7e.adbcb","name":"","active":false,"console":false,"complete":false,"x":534.0000152587891,"y":1085.2142658233643,"wires":[]},{"id":"6a3cdbe3.ef9fd4","type":"http response","z":"75ea2e7e.adbcb","name":"","x":680.1428184509277,"y":936.0714120864868,"wires":[]},{"id":"d7471cc3.33137","type":"function","z":"75ea2e7e.adbcb","name":"","func":"msg.headers = {\n    \"Access-Control-Allow-Origin\": \"*\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":556,"y":984.8111028671265,"wires":[["99cf29de.5f0ca8"]]},{"id":"3e6e69f9.19e9b6","type":"http in","z":"75ea2e7e.adbcb","name":"","url":"/client","method":"get","swaggerDoc":"","x":68,"y":700,"wires":[["b1bf7c0e.d650c"]]},{"id":"f535c119.5f8d5","type":"http response","z":"75ea2e7e.adbcb","name":"","x":476.99998474121094,"y":700.0000610351562,"wires":[]},{"id":"b1bf7c0e.d650c","type":"function","z":"75ea2e7e.adbcb","name":"","func":"msg.headers = {\n    \"Access-Control-Allow-Origin\": \"*\"\n};\nif(context.global.CLIENT_ID && context.global.CLIENT_SECRET) {\n    msg.payload.client_id = context.global.CLIENT_ID;\n     msg.payload.client_secret = context.global.CLIENT_SECRET;\n} else {\n    msg.res.send(\"404\", {\"errorMessage\" : \"No Client Registered\"});\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":279.99998474121094,"y":700,"wires":[["f535c119.5f8d5"]]},{"id":"4e9dd8e4.a47428","type":"http in","z":"75ea2e7e.adbcb","name":"","url":"/client","method":"post","swaggerDoc":"","x":78,"y":666,"wires":[["b16434eb.8c0bf8"]]},{"id":"b16434eb.8c0bf8","type":"function","z":"75ea2e7e.adbcb","name":"Store data","func":"context.global.CLIENT_ID = msg.payload.client_id;\ncontext.global.CLIENT_SECRET = msg.payload.client_secret;\nreturn msg;","outputs":1,"noerr":0,"x":302,"y":666,"wires":[["dceda049.da71b"]]},{"id":"dceda049.da71b","type":"debug","z":"75ea2e7e.adbcb","name":"","active":true,"console":"false","complete":"false","x":496,"y":666,"wires":[]},{"id":"b0c92f0e.76f62","type":"http in","z":"75ea2e7e.adbcb","name":"","url":"/latlong","method":"get","swaggerDoc":"","x":75,"y":1173,"wires":[["7e777595.d179ac"]]},{"id":"c8e11e19.2dca","type":"http response","z":"75ea2e7e.adbcb","name":"","x":473.99998474121094,"y":1173.0000610351562,"wires":[]},{"id":"7e777595.d179ac","type":"function","z":"75ea2e7e.adbcb","name":"","func":"msg.headers = {\n    \"Access-Control-Allow-Origin\": \"*\"\n};\nif(context.global.lat && context.global.long) {\n    msg.payload.lat = context.global.lat;\n     msg.payload.long = context.global.long;\n} else {\n    msg.res.send(\"404\", {\"errorMessage\" : \"No lat long registered\"});\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":276.99998474121094,"y":1173,"wires":[["c8e11e19.2dca"]]},{"id":"aef8b7f6.ee7618","type":"http in","z":"75ea2e7e.adbcb","name":"","url":"/latlong","method":"post","swaggerDoc":"","x":75,"y":1139,"wires":[["a3522cd.bfeded"]]},{"id":"a3522cd.bfeded","type":"function","z":"75ea2e7e.adbcb","name":"Store data","func":"context.global.lat = msg.payload.lat;\ncontext.global.long = msg.payload.long;\nreturn msg;","outputs":1,"noerr":0,"x":299,"y":1139,"wires":[["5534bb87.0d7174"]]},{"id":"5534bb87.0d7174","type":"debug","z":"75ea2e7e.adbcb","name":"","active":true,"console":"false","complete":"false","x":493,"y":1139,"wires":[]},{"id":"64ce2347.aa5c1c","type":"http in","z":"75ea2e7e.adbcb","name":"","url":"/patients","method":"get","swaggerDoc":"","x":76,"y":1251,"wires":[["12c1501.fb217b"]]},{"id":"b6f7000f.bef67","type":"http response","z":"75ea2e7e.adbcb","name":"","x":474.99998474121094,"y":1251.0000610351562,"wires":[]},{"id":"12c1501.fb217b","type":"function","z":"75ea2e7e.adbcb","name":"","func":"msg.headers = {\n    \"Access-Control-Allow-Origin\": \"*\"\n};\nif(context.global.patients) {\n    msg.payload.patients = context.global.patients;\n} else {\n    msg.res.send(\"404\", {\"errorMessage\" : \"No patients registered\"});\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":277.99998474121094,"y":1251,"wires":[["b6f7000f.bef67"]]},{"id":"cd328e02.2fa99","type":"http in","z":"75ea2e7e.adbcb","name":"","url":"/patients","method":"post","swaggerDoc":"","x":85,"y":1304,"wires":[["81a747b8.a67158"]]},{"id":"81a747b8.a67158","type":"function","z":"75ea2e7e.adbcb","name":"Store data","func":"context.global.patients[msg.payload.patient.name] = msg.payload.patient;\nreturn msg;","outputs":1,"noerr":0,"x":299,"y":1304,"wires":[["ba5145be.c55448"]]},{"id":"ba5145be.c55448","type":"debug","z":"75ea2e7e.adbcb","name":"","active":true,"console":"false","complete":"false","x":493,"y":1304,"wires":[]}],"_revisions":{"start":1,"ids":["24d2788392585e367ce03946c502847f"]}},{"_id":"connectecambulanceacitoslo/flow","_rev":"1-24d2788392585e367ce03946c502847f","flow":[{"type":"tab","id":"75ea2e7e.adbcb","label":"Connected Ambulance"},{"id":"d2962c5a.2d69d","type":"websocket-listener","path":"/ws/ambulance/location","wholemsg":"false"},{"id":"cb990eae.3466f","type":"http request","z":"75ea2e7e.adbcb","name":"Get ambulance location","method":"GET","url":"","x":672.0437469482422,"y":278.9126892089844,"wires":[["e7508c47.18af7","c0b52f69.3f4ad"]]},{"id":"82cc7014.7d339","type":"websocket out","z":"75ea2e7e.adbcb","name":"","server":"d2962c5a.2d69d","client":"","x":1208.6427459716797,"y":331.3849182128906,"wires":[]},{"id":"33ab407c.cc54c","type":"http in","z":"75ea2e7e.adbcb","name":"","url":"/ambulanceLocation","method":"get","x":121,"y":217.27780151367188,"wires":[["19767215.e6898e","40601b18.bf9fe4"]]},{"id":"19767215.e6898e","type":"http response","z":"75ea2e7e.adbcb","name":"","x":318.00001525878906,"y":217.27780151367188,"wires":[]},{"id":"a49153bb.5b6eb","type":"function","z":"75ea2e7e.adbcb","name":"Construct Glass Notification","func":"var ambuLat = msg.ambuLat;\nvar ambuLng = msg.ambuLng;\nvar patientLat = msg.patientLat;\nvar patientLng = msg.patientLng;\nvar description = msg.description;\n\nvar kjernejournal;\nif(msg.patientName) {\n    var patient;\n\tpatient = context.global.patients[msg.patientName];\n\tkjernejournal = '<article><section><h1 class=\"text-large white\">Patient</h1><h2>' + patient.name + '</h2><h3 class=\"blue\">Critical medical data</h3></section><footer class=\"blue\">Swipe for more</footer></article>' +\n\t                '<article><section><table class=\"align-justify\"><tr><td class=\"text-large\">' + patient.name + '</td><td>' + patient.sex + '/' + patient.age + '/' + patient.bloodType +'</td></tr>'; \n\t                \n\tvar medicalHistory = \"\";\n\tpatient.medicalHistory.forEach(function (entry) {\n\t    medicalHistory += '<tr><td class=\"text-small\">' + entry + '</td><td></td></tr>';\n\t});\n\tkjernejournal += medicalHistory;\n\tkjernejournal += '</table></section><footer class=\"blue\">Medical history</footer></article>'\n\t\n\tkjernejournal += '<article><section><table class=\"align-justify\"><tr><td class=\"text-large\">' + patient.name + '</td><td>' + patient.sex + '/' + patient.age + '/' + patient.bloodType +'</td></tr>';\n\t\n\tvar prescriptions = \"\";\n\tpatient.prescriptions.forEach(function (entry) {\n\t    prescriptions += '<tr class=\"text-small\"><td>'+ entry +'</td><td></td></tr>';\n\t});\n\tkjernejournal += prescriptions;\n\tkjernejournal += '</table></section><footer class=\"blue\">Prescriptions</footer></article>';\n\t\n\tkjernejournal += '<article><section><table class=\"align-justify\"><tr><td class=\"text-large\">' + patient.name + '</td><td>' + patient.sex + '/' + patient.age + '/' + patient.bloodType +'</td></tr>';\n\tvar allergies = \"\";\n\tpatient.allergies.forEach(function (entry) {\n\t    allergies += '<tr class=\"text-small\"><td>'+ entry +'</td><td></td></tr>';\n\t});\n\tkjernejournal += allergies;\n\tkjernejournal += '</table></section><footer class=\"blue\">Allergies</footer></article>';\n}\n\n//var addr = \"glass://map?w=240&h=360&marker=1;\" + patientLat + \",\" + patientLng;\n//var addr = \"glass://map?w=240&h=360&marker=0;\" + ambuLat + \",\" + ambuLng + \"&marker=1;\" + patientLat + \",\" + patientLng;\nvar addr = msg.streetViewUrl;\n\n/*  Insert payload into Google Glass Timeline\n *  https://developers.google.com/glass/v1/reference/timeline/insert\n*/\n\nmsg.payload = {\n    \"notification\": {\n      \"level\": \"DEFAULT\"\n    },\n    \"callbackUrl\": \"https://mirrornotifications.appspot.com/forward?url=http://localhost:8081/reply\",\n    \"menuItems\": [{\n      \"action\": \"NAVIGATE\"\n    }],\n    \"html\": \"<article class=\\\"cover-only\\\"><figure><img src=\\\"\" + addr +  \"\\\" height=\\\"360\\\" width=\\\"240\\\"></figure><section><p style=\\\"padding-top:2px\\\" class=\\\"text-small\\\">Emergency response request:</p><div class=\\\"text-auto-size\\\"><p class=\\\"blue text-small\\\">\" + description + \"</p><p class=\\\"yellow text-small\\\">\"+msg.payload.results[0].formatted_address+\"</p></div></section><footer>Tap for details</footer></article>\"+kjernejournal,\n    //\"html\": \"<article class=\\\"cover-only\\\"><figure><img src=\\\"\" + addr +  \"\\\" height=\\\"360\\\" width=\\\"240\\\"></figure><section><p class=\\\"text-small\\\">Utrykningsforesp?rsel:</p><div class=\\\"text-auto-size\\\"><p class=\\\"blue text-small\\\">\" + description + \"</p><p class=\\\"yellow text-small\\\">\"+msg.payload.results[0].formatted_address+\"</p></div></section><footer>Tap for more</footer></article>\"+kjernejournal,\n    \"location\": {\n      \"latitude\": msg.payload.results[0].latitude,\n      \"longitude\": msg.payload.results[0].longitude,\n      \"displayName\": msg.payload.results[0].formatted_address\n    }\n};\nmsg.url = context.global.url + \"/timeline/\"+ msg.topic;\nreturn msg; ","outputs":"1","noerr":0,"x":713.5715179443359,"y":479.8492431640625,"wires":[["81dc8f2c.7e237","c0aef2ca.3f511"]]},{"id":"81dc8f2c.7e237","type":"http request","z":"75ea2e7e.adbcb","name":"Send notification to ambulance","method":"POST","url":"","x":1170.5714569091797,"y":414.0992431640625,"wires":[["dec29352.213d7","ffbd57d6.0042a8"]]},{"id":"21cea847.de3158","type":"http response","z":"75ea2e7e.adbcb","name":"Send response to OperationsView ","x":1601.3214569091797,"y":411.84930419921875,"wires":[]},{"id":"f0743643.0f8bc8","type":"debug","z":"75ea2e7e.adbcb","name":"","active":false,"console":"false","complete":"false","x":1151.9286346435547,"y":232.02780151367188,"wires":[]},{"id":"40601b18.bf9fe4","type":"http request","z":"75ea2e7e.adbcb","name":"Get available Glasses","method":"GET","url":"http://{{req.headers.host}}/getAuthorized","x":305.9999694824219,"y":156.27780151367188,"wires":[["f4809cfa.0b7f6"]]},{"id":"2b67bb74.d49844","type":"inject","z":"75ea2e7e.adbcb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":112,"y":156.27780151367188,"wires":[["40601b18.bf9fe4"]]},{"id":"e1f831dc.1e07d","type":"function","z":"75ea2e7e.adbcb","name":"Create one msg per Glass","func":"\ncontext.global.glasses = msg.payload;\nvar messages = [];\nfor(var id in msg.payload) {\t\n\tmessages.push({topic: id, name: msg.payload[id].name});\n}\nreturn [messages];","outputs":1,"x":675,"y":156.99209594726562,"wires":[["8ed7edb4.71281"]]},{"id":"f4809cfa.0b7f6","type":"json","z":"75ea2e7e.adbcb","name":"","x":478.00001525878906,"y":156.27780151367188,"wires":[["e1f831dc.1e07d"]]},{"id":"4d2a1eaa.b2d5e","type":"function","z":"75ea2e7e.adbcb","name":"Add Glass ID and name to payload","func":"msg.payload = {id: msg.topic, name: msg.name, payload: msg.payload};\nreturn msg;","outputs":1,"x":910.4285736083984,"y":333.0278015136719,"wires":[["82cc7014.7d339","f0743643.0f8bc8"]]},{"id":"e7508c47.18af7","type":"json","z":"75ea2e7e.adbcb","name":"","x":684.4285736083984,"y":332.5278015136719,"wires":[["4d2a1eaa.b2d5e"]]},{"id":"599a8a6b.a66574","type":"inject","z":"75ea2e7e.adbcb","name":"On startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":99.00003051757812,"y":266.2778015136719,"wires":[["dbcf4504.2430b8"]]},{"id":"dbcf4504.2430b8","type":"function","z":"75ea2e7e.adbcb","name":"Register patients","func":"var patientsJson = {};\npatientsJson['John Doe'] = {\n    \"name\": \"John Doe\",\n    \"age\": \"39\",\n    \"sex\": \"M\",\n    \"organDonor\": true,\n    \"bloodType\": \"A+\",\n    \"medicalHistory\": [\"Diabetic\", \"Spinal Disc Herniation\"],\n    \"prescriptions\": [\"Insulin\"],\n    \"allergies\": [\"Penicilin\", \"Seafood\"]\n};\npatientsJson['Jane Fisher'] = {\n    \"name\": \"Jane Fisher\",\n    \"age\": \"33\",\n    \"sex\": \"F\",\n    \"organDonor\": false,\n    \"bloodType\": \"0-\",\n    \"medicalHistory\": [\"Anaphylactic reaction\", \"Mild depression\"],\n    \"prescriptions\": [\"Trimethoprim\"],\n    \"allergies\": [\"Insect stings\", \"Sun sensitivity\"]\n};\npatientsJson['Helen Driscoll'] = {\n    \"name\": \"Helen Driscoll\",\n    \"age\": \"21\",\n    \"sex\": \"F\",\n    \"organDonor\": true,\n    \"bloodType\": \"B+\",\n    \"medicalHistory\": [\"Anxiety\"],\n    \"prescriptions\": [\"Cerazette\", \"Cetrizine\", \"Diazepam\"],\n    \"allergies\": [\"Pollen\", \"Egg\"]\n};\n\ncontext.global.patients = patientsJson;\n\n","outputs":1,"noerr":0,"x":271.0000305175781,"y":266.2778015136719,"wires":[[]]},{"id":"2598dcb9.da6724","type":"debug","z":"75ea2e7e.adbcb","name":"","active":false,"console":"false","complete":"true","x":886.7142791748047,"y":209.5635223388672,"wires":[]},{"id":"c0b52f69.3f4ad","type":"debug","z":"75ea2e7e.adbcb","name":"","active":false,"console":"false","complete":"res.headers","x":896.4443817138672,"y":279.2778015136719,"wires":[]},{"id":"8ed7edb4.71281","type":"function","z":"75ea2e7e.adbcb","name":"Set msg.url","func":"msg.url = context.global.url + \"/location/\"+ msg.topic;\nreturn msg;","outputs":1,"x":663.5555267333984,"y":209.27780151367188,"wires":[["2598dcb9.da6724","cb990eae.3466f"]]},{"id":"5f66d992.a09928","type":"inject","z":"75ea2e7e.adbcb","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":true,"x":112.77777481079102,"y":37.5,"wires":[["920e2f8.f6df1d"]]},{"id":"920e2f8.f6df1d","type":"function","z":"75ea2e7e.adbcb","name":"context variables","func":"context.global.url = \"http://\" + context.global.VCAP_APPLICATION.uris[0];\ncontext.global.CLIENT_ID = \"YOUR_CLIENT_ID\";\ncontext.global.CLIENT_SECRET = \"YOUR_CLIENT_SECRET\";\ncontext.global.authID = '';\ncontext.global.user = '';\ncontext.global.lat = 59.8937806;\ncontext.global.long = 10.6450355;\nreturn msg;","outputs":1,"noerr":0,"x":310.83333587646484,"y":38.25000858306885,"wires":[[]]},{"id":"c0aef2ca.3f511","type":"debug","z":"75ea2e7e.adbcb","name":"","active":false,"console":"false","complete":"payload.html","x":1136.0001678466797,"y":477.5001220703125,"wires":[]},{"id":"dec29352.213d7","type":"debug","z":"75ea2e7e.adbcb","name":"","active":false,"console":"false","complete":"false","x":1469.0001678466797,"y":321.5,"wires":[]},{"id":"33ce8825.cc3178","type":"http in","z":"75ea2e7e.adbcb","name":"","url":"/operations","method":"get","swaggerDoc":"","x":97,"y":92.5,"wires":[["c042da45.3fbd28"]]},{"id":"c042da45.3fbd28","type":"template","z":"75ea2e7e.adbcb","name":"OperationsView","field":"","fieldType":"msg","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n\n<head>\n    <title>Ambulance Dispatcher</title>\n    <script type=\"text/javascript\" src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js\"></script>\n    <script type=\"text/javascript\" src=\"//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js\"></script>\n    <link rel=\"stylesheet\" href=\"//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css\">\n\n    <style type=\"text/css\" media=\"screen\">\n        #map {\n            position: absolute;\n            top: 0;\n            bottom: 0;\n            left: 0;\n            right: 0;\n        }\n        \n        #panorama {\n            width: 100%;\n            height: 300px;\n            z-index: 999;\n        }\n        \n        #dispatch {\n            float: right;\n            width: 300px;\n            height: 18px;\n            z-index: 999;\n            position: absolute;\n        }\n        \n        .modal {\n            text-align: center;\n        }\n        \n        @media screen and (min-width: 768px) {\n            .modal:before {\n                display: inline-block;\n                vertical-align: middle;\n                content: \" \";\n                height: 100%;\n            }\n        }\n        \n        .modal-dialog {\n            display: inline-block;\n            text-align: left;\n            vertical-align: middle;\n        }\n        \n        html,\n        body,\n        .row,\n        #view,\n        #map,\n        #mapPartial,\n        #infoPartial {\n            height: 100%;\n        }\n        \n        #infoPartial {\n            background: LightGrey;\n            padding-right: 15px;\n        }\n        \n        .modal-footer {\n            text-align: center;\n        }\n        \n        #dispatchBtn {\n            width: 95%;\n        }\n        \n        #endCallBtn {\n            width: 95%;\n        }\n        \n        #patientInfoBtn {\n            width: 95%;\n            margin: 0 auto;\n        }\n        \n        #buttonCenter {\n            text-align: center;\n        }\n        \n        #availableAmbulances {\n            position: relative;\n            height: 180px;\n            clear: both;\n            padding-top: 20px;\n        }\n        \n        #patientSearchInfoResult {\n            text-align: center;\n        }\n        \n        .controls {\n            margin-top: 10px;\n            border: 1px solid transparent;\n            border-radius: 2px 0 0 2px;\n            box-sizing: border-box;\n            -moz-box-sizing: border-box;\n            height: 32px;\n            outline: none;\n            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);\n        }\n        \n        #pac-input {\n            background-color: #fff;\n            font-family: Roboto;\n            font-size: 15px;\n            font-weight: 300;\n            margin-left: 30px;\n            padding: 0 11px 0 13px;\n            text-overflow: ellipsis;\n            width: 300px;\n        }\n        \n        #pac-input:focus {\n            border-color: #4d90fe;\n        }\n        \n        .pac-container {\n            font-family: Roboto;\n        }\n    </style>\n\n</head>\n\n<body>\n    <!-- Modal -->\n    <div class=\"modal fade\" id=\"authModal\" tabindex=\"-1\" role=\"dialog\" aria-labelledby=\"myModalLabel\">\n        <div class=\"modal-dialog\" role=\"document\">\n            <div class=\"modal-content\">\n                <div class=\"modal-header\">\n                    <button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>\n                    <h4 class=\"modal-title\" id=\"myModalLabel\">You are not authed</h4>\n                </div>\n                <div class=\"modal-body\">\n                    <h4>Why do I need to auth?</h4>\n                    <p>To be able to send request to your Google-Glasses or to <a href=\"https://developers.google.com/glass/tools-downloads/playground\"> Google Playground</a> you need to be authed with your Google Account</p>\n                    <h4>How to auth?</h4>\n                    <p>Auth with your google-account, which you should already have configured, <a id=\"authLink\" href=\"\">here</a></p>\n                    <p>After you have authed, you can visit the operations-console again, without seeing this popup :)</p>\n                </div>\n                <div class=\"modal-footer\">\n                    <button type=\"button\" class=\"btn btn-default\" data-dismiss=\"modal\">Close</button>\n                    <a id=\"authButton\" class=\"btn btn-primary\" href=\"\" role=\"button\">Auth!</a>\n                </div>\n            </div>\n        </div>\n    </div>\n\n    <div id=\"dispatchModal\" class=\"modal fade\" role=\"dialog\">\n        <div class=\"modal-dialog\">\n\n            <!-- Modal content-->\n            <div class=\"modal-content\">\n                <div class=\"modal-header\">\n                    <button type=\"button\" class=\"close\" data-dismiss=\"modal\">&times;</button>\n                    <h4 class=\"modal-title\">Dispatch ambulance to this location</h4>\n                </div>\n                <div class=\"modal-body\">\n                    <div id=\"panorama\">\n\n                    </div>\n                </div>\n                <div class=\"modal-footer\">\n                    <button id=\"dispatchBtn\" class=\"btn btn-success\" type=\"submit\">Dispatch Ambulance</button>\n                </div>\n            </div>\n\n        </div>\n    </div>\n\n    <div id=\"patientModal\" class=\"modal fade\" role=\"dialog\">\n        <div class=\"modal-dialog\">\n\n            <!-- Modal content-->\n            <div class=\"modal-content\">\n                <div class=\"modal-header\">\n                    <button type=\"button\" class=\"close\" data-dismiss=\"modal\">&times;</button>\n                    <h4 class=\"modal-title\">Send patient information to ambulance</h4>\n                </div>\n                <form id=\"patientInfo\">\n                    <div class=\"modal-body\">\n                        <div>\n                            <div class=\"form-group\">\n                                <label for=\"patientName\">Patient name</label>\n                                <div class=\"input-group\">\n                                    <input type=\"text\" class=\"form-control\" id=\"patientName\" placeholder=\"Search for patient ...\">\n                                    <span class=\"input-group-btn\">\n\t\t\t\t\t\t\t\t        <button id=\"patientSearchBtn\" class=\"btn btn-default\" type=\"button\"><span class=\"glyphicon glyphicon-search\"></span></button>\n                                    </span>\n                                </div>\n                            </div>\n                            <div id=\"patientSearchInfoResult\">\n\n                            </div>\n                            <div class=\"form-group\">\n                                <label for=\"description\">Short description of incident</label>\n                                <input type=\"text\" class=\"form-control\" id=\"description\" placeholder=\"Short description of incident\">\n                            </div>\n                        </div>\n                    </div>\n                    <div class=\"modal-footer\">\n                        <button id=\"patientInfoBtn\" class=\"btn btn-primary\" type=\"submit\">Send patient information</button>\n                    </div>\n                </form>\n            </div>\n        </div>\n    </div>\n\n    <div class=\"row\" id=\"view\">\n        <div class=\"col-md-9 \" id=\"mapPartial\">\n            <div>\n                <div id=\"panorama\">\n\n                </div>\n            </div>\n            <input id=\"pac-input\" class=\"controls\" type=\"text\" placeholder=\"Search Box\">\n            <div id=\"map\"></div>\n        </div>\n        <div class=\"col-md-3\" id=\"infoPartial\">\n            <h2><span class=\"glyphicon glyphicon-earphone\"></span>911 Dispatcher</h2>\n            <h5>Dispatcher ID: #10034</h5>\n            <h5>Call ID: #134525</h5>\n            <h5>Call Started: <script type=\"text/javascript\">document.write(new Date().toLocaleTimeString());</script></h5>\n            <button id=\"endCallBtn\" class=\"btn btn-danger\" type=\"submit\">End call</button>\n            <h3>Log</h3>\n            <div>\n                <table id=\"log\" class=\"table table-striped\">\n                    <thead>\n                        <tr>\n                            <th>Time</th>\n                            <th>Event</th>\n                        </tr>\n                    </thead>\n                    <tbody>\n                        <tr>\n                            <th>\n                                <script type=\"text/javascript\">\n                                    document.write(new Date().toLocaleTimeString());\n                                </script>\n                            </th>\n                            <td> Incoming call</td>\n                        </tr>\n                    </tbody>\n                </table>\n            </div>\n            <!--<div>\n\t\t\t\t<h3>Available ambulances:</h3>\n\t\t\t\t<ul id=\"availableAmbulances\">\n\t\t\t\t\t\n\t\t\t\t</ul>\n\t\t\t</div>-->\n        </div>\n    </div>\n\n\n    <script type=\"text/javascript\">\n        var panorama;\n        var authId = '';\n        $(document).ready(function() {\n            $.get('/authId', function(data) {\n                authId = data.authId;\n                console.log(\"User: \" + data.user + \" / \" + data.authId + \"is authed\");\n            }).fail(function() {\n                $(\"#authLink\").attr(\"href\", \"http://\" + window.location.host + \"/auth\");\n                $(\"#authButton\").attr(\"href\", \"http://\" + window.location.host + \"/auth\");\n                $('#authModal').modal('show');\n            });\n        });\n\n\n\n        $('#endCallBtn').click(function() {\n            location.reload();\n        });\n\n        function initMap() {\n                    var latVar = 41.881832;\n        var longVar = -87.623177;\n                        $.get('/latlong', function(data) {\n                latVar = parseFloat(data.lat);\n                longVar = parseFloat(data.long);\n \n            var location = {\n                lat: latVar,\n                lng: longVar\n            };\n            var map = new google.maps.Map(document.getElementById('map'), {\n                zoom: 12,\n                center: location,\n                mapTypeId: google.maps.MapTypeId.ROADMAP,\n                mapTypeControl: false,\n                streetViewControl: false\n            });\n\n            //updateAvailableAmbulances();\n            initRightClick(map);\n            initSearchBox(map);\n                        });\n        }\n\n        function initRightClick(map) {\n            var icon = {\n                url: 'https://maps.gstatic.com/mapfiles/place_api/icons/geocode-71.png',\n                size: new google.maps.Size(71, 71),\n                origin: new google.maps.Point(0, 0),\n                anchor: new google.maps.Point(17, 34),\n                scaledSize: new google.maps.Size(25, 25)\n            };\n\n            var marker = new google.maps.Marker({\n                icon: icon,\n                title: 'location'\n            });\n\n            marker.addListener('click', function() {\n                showStreetviewModal(marker);\n            });\n\n            google.maps.event.addDomListener(map, 'rightclick', function(e) {\n                marker.setPosition(e.latLng);\n                marker.setMap(map);\n            });\n        }\n\n        function initSearchBox(map) {\n            var input = document.getElementById('pac-input');\n            var searchBox = new google.maps.places.SearchBox(input);\n            map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);\n\n            // Bias the SearchBox results towards current map's viewport.\n            map.addListener('bounds_changed', function() {\n                searchBox.setBounds(map.getBounds());\n            });\n\n            var markers = [];\n            // [START region_getplaces]\n            // Listen for the event fired when the user selects a prediction and retrieve\n            // more details for that place.\n            searchBox.addListener('places_changed', function() {\n                var places = searchBox.getPlaces();\n\n                if (places.length == 0) {\n                    return;\n                }\n\n                // Clear out the old markers.\n                markers.forEach(function(marker) {\n                    marker.setMap(null);\n                });\n                markers = [];\n\n                // For each place, get the icon, name and location.\n                var bounds = new google.maps.LatLngBounds();\n                places.forEach(function(place) {\n                    var icon = {\n                        url: 'https://maps.gstatic.com/mapfiles/place_api/icons/geocode-71.png',\n                        size: new google.maps.Size(71, 71),\n                        origin: new google.maps.Point(0, 0),\n                        anchor: new google.maps.Point(17, 34),\n                        scaledSize: new google.maps.Size(25, 25)\n                    };\n\n                    var marker = new google.maps.Marker({\n                        map: map,\n                        icon: icon,\n                        title: place.name,\n                        position: place.geometry.location\n                    });\n\n                    // Create a marker for each place.\n                    markers.push(marker);\n\n                    marker.addListener('click', function() {\n                        showStreetviewModal(marker);\n                    });\n\n                    if (place.geometry.viewport) {\n                        // Only geocodes have viewport.\n                        bounds.union(place.geometry.viewport);\n                    } else {\n                        bounds.extend(place.geometry.location);\n                    }\n                });\n                map.panToBounds(bounds);\n            });\n        }\n\n        function showStreetviewModal(marker) {\n            panorama = new google.maps.StreetViewPanorama(\n                document.getElementById('panorama'), {\n                    position: marker.getPosition(),\n                    pov: {\n                        heading: 165,\n                        pitch: 0\n                    },\n                    zoom: 1,\n                    disableDefaultUI: true\n                });\n            $('#dispatchModal').modal('show');\n            $('#dispatchModal').on('shown.bs.modal', function() {\n                google.maps.event.trigger(panorama, \"resize\");\n            });\n\n            $('#dispatchBtn').bind('click', function() {\n                var url = \"https://maps.googleapis.com/maps/api/streetview?size=240x360&\" +\n                    \"location=\" + marker.getPosition().lat() + \",\" + marker.getPosition().lng() + \"&fov=90&heading=\" + panorama.getPov().heading +\n                    \"&pitch=\" + panorama.getPov().pitch;\n                $.post('/dispatchAmbulance2', {\n                    id: authId,\n                    lat: marker.getPosition().lat(),\n                    lng: marker.getPosition().lng(),\n                    url: url\n                }, function() {\n                    // add functionality to write to sidebar\n                    var time = new Date().toLocaleTimeString();\n                    var newRow = '<tr><th>' + time + '</th><td> Ambulance dispatched' + '</td></tr>';\n\n                    $(\"#log tbody\").append(newRow);\n                    $('#dispatchModal').modal('hide');\n\n                    var icon = {\n                        url: 'http://auto-accident-denver.com/wp-content/uploads/2015/12/emergency-Icon.jpeg-25.png',\n                    };\n\n                    ambulanceMarker = new google.maps.Marker({\n                        icon: icon,\n                        map: marker.getMap(),\n                        title: 'Incident',\n                        position: marker.getPosition()\n                    });\n\n                    ambulanceMarker.addListener('click', function() {\n                        showPatientInformationModal(marker);\n                    });\n\n                    marker.setMap(null);\n                })\n            });\n\n        }\n\n        function showPatientInformationModal(marker) {\n            $('#patientInfoBtn').attr(\"disabled\", true);\n            $('#patientModal').modal('show');\n\n            $('#patientSearchBtn').click(function() {\n                $.get('/patientData', {\n                    patientName: $('input[id=patientName]').val()\n                }, function(data) {\n                    var patientData = '<h3>' + data.name + ' <small>' + data.sex + '/' + data.age + '</small></h3>';\n                    $(\"#patientSearchInfoResult\").html(patientData);\n                    $('#patientInfoBtn').attr(\"disabled\", false);\n                }).fail(function() {\n                    $(\"#patientSearchInfoResult\").html('');\n                    $('#patientInfoBtn').attr(\"disabled\", true);\n                });\n            });\n\n            $('form').submit(function(event) {\n                var patientName = $('input[id=patientName]').val();\n                var description = $('input[id=description]').val()\n                $.post('/patientInfo', {\n                    id: authId,\n                    patientName: patientName,\n                    description: description\n                }, function() {\n                    $('#patientModal').modal('hide');\n                    var time = new Date().toLocaleTimeString();\n                    var newRow = '<tr><th>' + time + '</th><td> Patient information sent for ' + patientName + '</td></tr>';\n\n                    $(\"#log tbody\").append(newRow);\n                });\n                event.preventDefault();\n            });\n        }\n\n        function updateAvailableAmbulances() {\n            $.get('/getAuthorized', function(data) {\n                Object.keys(data).forEach(function(key) {\n                    var row = '<li>' + data[key].name + '</li>';\n                    $(\"#availableAmbulances\").append(row);\n                });\n            });\n        }\n    </script>\n    <script async defer src=\"https://maps.googleapis.com/maps/api/js?libraries=places&callback=initMap\"></script>\n</body>\n\n</html>","x":292,"y":92.5,"wires":[["b69ca319.49636"]]},{"id":"b69ca319.49636","type":"http response","z":"75ea2e7e.adbcb","name":"","x":451.99998474121094,"y":92.5,"wires":[]},{"id":"53ec7061.ac139","type":"http in","z":"75ea2e7e.adbcb","name":"","url":"/dispatchAmbulance2","method":"post","swaggerDoc":"","x":131,"y":426.5,"wires":[["c9a503ca.365b"]]},{"id":"c9a503ca.365b","type":"function","z":"75ea2e7e.adbcb","name":"Store data","func":"msg.patientLat = msg.payload.lat;\nmsg.patientLng = msg.payload.lng;\nmsg.topic = msg.payload.id;\nmsg.streetViewUrl = msg.payload.url;\nmsg.url = context.global.url + \"/location/\"+msg.topic;\nreturn msg;","outputs":1,"noerr":0,"x":363.99998474121094,"y":415.5,"wires":[["d9fc6d3f.26039"]]},{"id":"d9fc6d3f.26039","type":"http request","z":"75ea2e7e.adbcb","name":"Get patient address","method":"GET","url":"https://maps.googleapis.com/maps/api/geocode/json?latlng={{patientLat}},{{patientLng}}&key=AIzaSyCGBvmim4kx0yem7iKdOghmtMk5XFD49uc","x":574.9999847412109,"y":415.5,"wires":[["fa55f9e1.05aa08"]]},{"id":"c9c140fa.363ec","type":"function","z":"75ea2e7e.adbcb","name":"","func":"var addr = msg.streetViewUrl;\n\n/*  Insert payload into Google Glass Timeline\n *  https://developers.google.com/glass/v1/reference/timeline/insert\n*/\n\nmsg.payload = {\n    \"notification\": {\n      \"level\": \"DEFAULT\"\n    },\n    \"callbackUrl\": \"https://mirrornotifications.appspot.com/forward?url=http://localhost:8081/reply\",\n    \"menuItems\": [{\n      \"action\": \"NAVIGATE\"\n    }],\n    \"html\": \"<article class=\\\"cover-only\\\"><figure><img src=\\\"\" + addr +  \"\\\" height=\\\"360\\\" width=\\\"240\\\"></figure><section><p style=\\\"padding-top:2px\\\" class=\\\"text-small\\\">Emergency response request:</p><div class=\\\"text-auto-size\\\"><p class=\\\"yellow text-small\\\">\"+msg.payload.results[0].formatted_address+\"</p></div></section><footer>Tap for GPS</footer></article>\",\n    \"location\": {\n      \"latitude\": msg.payload.results[0].latitude,\n      \"longitude\": msg.payload.results[0].longitude,\n      \"displayName\": msg.payload.results[0].formatted_address\n    }\n};\nmsg.url = context.global.url + \"/timeline/\"+ msg.topic;\nreturn msg; ","outputs":1,"noerr":0,"x":926.9999847412109,"y":415.5,"wires":[["81dc8f2c.7e237","b2e6842a.4d1978"]]},{"id":"b2e6842a.4d1978","type":"debug","z":"75ea2e7e.adbcb","name":"","active":false,"console":"false","complete":"false","x":1082.0000457763672,"y":371.5,"wires":[]},{"id":"fa55f9e1.05aa08","type":"json","z":"75ea2e7e.adbcb","name":"","x":773.9999847412109,"y":415.5,"wires":[["c9c140fa.363ec"]]},{"id":"ffbd57d6.0042a8","type":"function","z":"75ea2e7e.adbcb","name":"","func":"msg.headers = {\n    \"Access-Control-Allow-Origin\": \"*\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":1387.0000457763672,"y":412.5,"wires":[["21cea847.de3158"]]},{"id":"d614f3bb.29eb1","type":"http in","z":"75ea2e7e.adbcb","name":"","url":"/patientInfo","method":"post","swaggerDoc":"","x":94,"y":537.5000305175781,"wires":[["baf3593f.450ca8"]]},{"id":"baf3593f.450ca8","type":"function","z":"75ea2e7e.adbcb","name":"Store data","func":"msg.patientName = msg.payload.patientName;\nmsg.description = msg.payload.description;\nmsg.topic = msg.payload.id;\nmsg.url = context.global.url + \"/location/\"+msg.topic;\n\nreturn msg;","outputs":1,"noerr":0,"x":310.99998474121094,"y":538.5000305175781,"wires":[["14f9454.feb06bb","a60aef58.59f51"]]},{"id":"14f9454.feb06bb","type":"function","z":"75ea2e7e.adbcb","name":"Construct Glass Notification","func":"var description = msg.description;\n\nvar kjernejournal;\nif(msg.patientName) {\n    var patient;\n\tpatient = context.global.patients[msg.patientName];\n\tkjernejournal = '<article><section><h1 class=\"text-large white\">Patient</h1><h2>' + patient.name + '</h2><h3 class=\"blue\">Critical medical data</h3></section><footer class=\"blue\">Swipe for more</footer></article>' +\n\t                '<article><section><table class=\"align-justify\"><tr><td class=\"text-large\">' + patient.name + '</td><td>' + patient.sex + '/' + patient.age + '/' + patient.bloodType +'</td></tr>'; \n\t                \n\tvar medicalHistory = \"\";\n\tpatient.medicalHistory.forEach(function (entry) {\n\t    medicalHistory += '<tr><td class=\"text-small\">' + entry + '</td><td></td></tr>';\n\t});\n\tkjernejournal += medicalHistory;\n\tkjernejournal += '</table></section><footer class=\"blue\">Medical history</footer></article>'\n\t\n\tkjernejournal += '<article><section><table class=\"align-justify\"><tr><td class=\"text-large\">' + patient.name + '</td><td>' + patient.sex + '/' + patient.age + '/' + patient.bloodType +'</td></tr>';\n\t\n\tvar prescriptions = \"\";\n\tpatient.prescriptions.forEach(function (entry) {\n\t    prescriptions += '<tr class=\"text-small\"><td>'+ entry +'</td><td></td></tr>';\n\t});\n\tkjernejournal += prescriptions;\n\tkjernejournal += '</table></section><footer class=\"blue\">Prescriptions</footer></article>';\n\t\n\tkjernejournal += '<article><section><table class=\"align-justify\"><tr><td class=\"text-large\">' + patient.name + '</td><td>' + patient.sex + '/' + patient.age + '/' + patient.bloodType +'</td></tr>';\n\tvar allergies = \"\";\n\tpatient.allergies.forEach(function (entry) {\n\t    allergies += '<tr class=\"text-small\"><td>'+ entry +'</td><td></td></tr>';\n\t});\n\tkjernejournal += allergies;\n\tkjernejournal += '</table></section><footer class=\"blue\">Allergies</footer></article>';\n}\n\nmsg.payload = {\n    \"notification\": {\n      \"level\": \"DEFAULT\"\n    },\n    \"callbackUrl\": \"https://mirrornotifications.appspot.com/forward?url=http://localhost:8081/reply\",\n\n    //\"html\": \"<article class=\\\"cover-only\\\"><figure><img src=\\\"\" + addr +  \"\\\" height=\\\"360\\\" width=\\\"240\\\"></figure><section><p style=\\\"padding-top:2px\\\" class=\\\"text-small\\\">Emergency response request:</p><div class=\\\"text-auto-size\\\"><p class=\\\"blue text-small\\\">\" + description + \"</p><p class=\\\"yellow text-small\\\">\"+msg.payload.results[0].formatted_address+\"</p></div></section><footer>Tap for details</footer></article>\"+kjernejournal,\n    \"html\": kjernejournal\n};\nmsg.url = context.global.url + \"/timeline/\"+ msg.topic;\nreturn msg; ","outputs":"1","noerr":0,"x":538.9999847412109,"y":537.5000305175781,"wires":[["81dc8f2c.7e237","5d6148cc.a29eb8"]]},{"id":"5d6148cc.a29eb8","type":"debug","z":"75ea2e7e.adbcb","name":"","active":true,"console":"false","complete":"false","x":842.9999847412109,"y":536.5000305175781,"wires":[]},{"id":"a60aef58.59f51","type":"debug","z":"75ea2e7e.adbcb","name":"","active":true,"console":"false","complete":"true","x":462.99998474121094,"y":460.5,"wires":[]},{"id":"d7f60b6b.2809f8","type":"http in","z":"75ea2e7e.adbcb","name":"","url":"/patientData","method":"get","swaggerDoc":"","x":92.48516845703125,"y":591.5000305175781,"wires":[["61617ea.f9e9e8"]]},{"id":"1c5a5691.e3a5a9","type":"http response","z":"75ea2e7e.adbcb","name":"","x":475.4851531982422,"y":592.5000915527344,"wires":[]},{"id":"61617ea.f9e9e8","type":"function","z":"75ea2e7e.adbcb","name":"","func":"var patientName = msg.payload.patientName;\nmsg.headers = {\n    \"Access-Control-Allow-Origin\": \"*\"\n};\nif(context.global.patients[patientName] != null) {\n    msg.payload = context.global.patients[patientName];\n} else {\n    msg.res.send(\"404\", {\"errorMessage\" : \"Not found!\"});\n};\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":277.4851531982422,"y":591.5000534057617,"wires":[["1c5a5691.e3a5a9"]]},{"id":"5965ccaa.e86bf4","type":"http in","z":"75ea2e7e.adbcb","name":"","url":"/authId","method":"get","swaggerDoc":"","x":79,"y":630.0408935546875,"wires":[["94296fbe.8811d"]]},{"id":"a3dc1133.d3636","type":"http response","z":"75ea2e7e.adbcb","name":"","x":477.99998474121094,"y":630.0409545898438,"wires":[]},{"id":"94296fbe.8811d","type":"function","z":"75ea2e7e.adbcb","name":"","func":"msg.headers = {\n    \"Access-Control-Allow-Origin\": \"*\"\n};\nif(context.global.authID) {\n    msg.payload.authId = context.global.authID;\n     msg.payload.user = context.global.user;\n} else {\n    msg.res.send(\"404\", {\"errorMessage\" : \"No User authenticated!!!\"});\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":280.99998474121094,"y":630.0408935546875,"wires":[["a3dc1133.d3636"]]},{"id":"390d0783.72f6d8","type":"http in","z":"75ea2e7e.adbcb","name":"","url":"/oauth2callback","method":"get","x":106,"y":779.8111028671265,"wires":[["e90393c0.55894","d64a8525.f00948"]]},{"id":"b9b50c6d.165c5","type":"http in","z":"75ea2e7e.adbcb","name":"","url":"/auth","method":"get","x":71.17449378967285,"y":737.4999771118164,"wires":[["4435d310.e5a6dc"]]},{"id":"4435d310.e5a6dc","type":"function","z":"75ea2e7e.adbcb","name":"Authenticate","func":"var ctx = context.global;\nOAuth2 = ctx.googleapis.OAuth2Client;\nvar oauthCallbackPath = ctx.url + \"/oauth2callback\";\nvar oauth2Client = new OAuth2(ctx.CLIENT_ID, ctx.CLIENT_SECRET, oauthCallbackPath);\n\n// generates a url that allows offline access and asks permissions\n// for Mirror API scope.\nvar url = oauth2Client.generateAuthUrl({\n  access_type: 'offline',\n  scope: 'https://www.googleapis.com/auth/glass.timeline https://www.googleapis.com/auth/glass.location https://www.googleapis.com/auth/plus.me'\n});\n\nmsg.res.redirect(url);","outputs":1,"x":241.88892364501953,"y":737.9285469055176,"wires":[[]]},{"id":"d64a8525.f00948","type":"debug","z":"75ea2e7e.adbcb","name":"","active":true,"console":false,"complete":false,"x":597.7143402099609,"y":780.7857122421265,"wires":[]},{"id":"e90393c0.55894","type":"async","z":"75ea2e7e.adbcb","name":"GrabUserIdAndCacheCredentials","async":"var ctx = context.global;\nvar success = function () { console.log('Grab Authentication Token success')}\nvar failure = function () { msg.res.send(\"401\", {\"errorMessage\" : \"Failure\"}); }\n\nOAuth2 = context.global.googleapis.OAuth2Client;\nvar oauthCallbackPath = context.global.url + \"/oauth2callback\";\nvar oauth2Client = new OAuth2(ctx.CLIENT_ID, ctx.CLIENT_SECRET, oauthCallbackPath);\n\nvar grabUserIdAndCacheCredentials = function(oauth2Client, successCallback) {\n    ctx.googleapis\n    .discover('plus', 'v1')\n    .execute(function(err, client) {\n\t\tif(!!err) { \n\t\t\tconsole.error(err);\n\t\t\tmsg.res.send(\"401\", {\"errorMessage\" : err}); \n\t\t\treturn;\n\t\t}\n\t\tclient\n\t\t    .plus.people.get({ userId: 'me' })\n\t\t    .withAuthClient(oauth2Client)\n\t\t    .execute(function(err, res) {\t\n\t\t    \tif(!!err) { \t\t\t\t\n\t\t\t\t\tconsole.error(err);\n\t\t\t\t\tmsg.res.send(\"401\", {\"errorMessage\" : err}); \n\t\t\t\t\treturn;\n\t\t\t\t}\n\t\t\t\tmsg.payload = res;\n\t\t\t\tcb(msg);\n\t\t\t\tsuccessCallback(res.id, res.displayName, oauth2Client);\t\t\t\n\t\t\t});\t\t\n    });   \n};\n\nvar grabToken = function (code, oauth2Client, errorCallback, successCallback) {\n    oauth2Client.getToken(code, function (err, tokens) {\n        if (!!err) {\n            errorCallback(err);\n        } else {\n            console.log('tokens', tokens);\n            oauth2Client.setCredentials(tokens);\n            grabUserIdAndCacheCredentials(oauth2Client, successCallback);\n        }\n    });\n};\n\ngrabToken(msg.req.query.code, oauth2Client, failure, function (userId, name, oauth2Client) {\nctx.authID = userId;\nctx.user = name;\nmsg.res.send(\"200\", \"User is authenticated with Google with userId/name: \" + userId + \"/\" + name);\n        if(!ctx.cachedOAuthClients) ctx.cachedOAuthClients = {};        \n        ctx.cachedOAuthClients[userId] = {client : oauth2Client, name : name};\n\t\tmsg.payload = userId;\n        console.log(msg.payload);\n        cb(msg);\n});\n","outputs":1,"x":365.42858123779297,"y":780.0714092254639,"wires":[["d64a8525.f00948"]]},{"id":"c6a1c564.8009c8","type":"http in","z":"75ea2e7e.adbcb","name":"","url":"/timeline/:id","method":"post","x":97.42857360839844,"y":824.7856912612915,"wires":[["c9902dd.acfc7d","d5c23a58.372508"]]},{"id":"c9902dd.acfc7d","type":"async","z":"75ea2e7e.adbcb","name":"Validate payload","async":"if(!msg.req.params.id) { \n\tmsg.res.send(\"401\", {\"errorMessage\" : \"No ID in request\"});\n}\nreturn msg;","outputs":1,"x":313.14286041259766,"y":825.2142639160156,"wires":[["73557ecb.94ed6","d5c23a58.372508"]]},{"id":"73557ecb.94ed6","type":"async","z":"75ea2e7e.adbcb","name":"Push Card","async":"var pushCard = function (card, oauth2Client) {\n    context.global.googleapis\n        .discover('mirror', 'v1')\n        .execute(function (err, client) {\n            if (!!err) {\n                msg.res.send(\"500\", JSON.stringify(err));\n                msg.payload = JSON.stringify(err);\n                cb(msg);\n                return;\n            }  \n   \t\t    Card(client, oauth2Client, card);            \n        });\n};\n\nvar Card = function (client, oauth2Client, card) {\n    client\n        .mirror.timeline.insert(card)\n        .withAuthClient(oauth2Client)\n        .execute(function (err, data) {\n            if (!!err) {               \n                msg.res.send(\"500\", JSON.stringify(err));\n                msg.payload = JSON.stringify(err);\n                cb(msg);\n            } else {\n                msg.res.send(\"200\", {\"message\" : \"'Create and Insert Card to Glass Timeline success'\"});\n                msg.payload = \"Success\";\n                cb(msg);\n            }\n        });\n};\n// &polyline=;42.36254,-71.08726,42.36297,-71.09364,42.36579,-71.09208,42.3697,-71.102,42.37105,-71.10104,42.37067,-71.1001,42.36561,-71.10406,42.36838,-71.10878,42.36968,-71.10703\nvar card =   msg.payload;\n      \nvar oauthClient = context.global.cachedOAuthClients[msg.req.params.id].client;\npushCard(card, oauthClient);\n","outputs":1,"x":508.8571548461914,"y":827.0714015960693,"wires":[[]]},{"id":"d5c23a58.372508","type":"debug","z":"75ea2e7e.adbcb","name":"","active":false,"console":"true","complete":"true","x":308.2857208251953,"y":877.9285459518433,"wires":[]},{"id":"cae84bb5.98dbb8","type":"http in","z":"75ea2e7e.adbcb","name":"","url":"/location/:id","method":"get","x":92.5714340209961,"y":931.3571243286133,"wires":[["2dca1bb8.d58db4"]]},{"id":"2dca1bb8.d58db4","type":"async","z":"75ea2e7e.adbcb","name":"Validate payload","async":"if(!msg.req.params.id) { \n\tmsg.res.send(\"401\", {\"errorMessage\" : \"No ID in request\"});\n}\nreturn msg;","outputs":1,"x":313.2857093811035,"y":932.7856960296631,"wires":[["6f0a9ded.bd6244","886b13ff.ca7f2"]]},{"id":"886b13ff.ca7f2","type":"async","z":"75ea2e7e.adbcb","name":"Get location","async":"var getLocation = function (oauth2Client) {\n    context.global.googleapis\n        .discover('mirror', 'v1')\n        .execute(function (err, client) {\n            if (!!err) {\n                msg.statusCode = 500;\n                msg.payload = JSON.stringify(err);\n                cb(msg);\n                return;\n            }  \n   \t\t    Location(client, oauth2Client);            \n        });\n};\n\nvar Location = function (client, oauth2Client) {\n    client\n        .mirror.locations.get({id:\"latest\"})\n        .withAuthClient(oauth2Client)\n        .execute(function (err, data) {\n            if (!!err) {               \n                msg.statusCode = 500;\n                msg.payload = JSON.stringify(err);\n                cb(msg);\n            } else {\n            \tmsg.statusCode = 200;\n                msg.payload = data;             \n                cb(msg);\n            }\n        });\n};\n        \nvar oauthClient = context.global.cachedOAuthClients[msg.req.params.id].client;\ngetLocation(oauthClient);","outputs":1,"x":514.4285888671875,"y":935.2142715454102,"wires":[["f11d8466.6cd0a8","6a3cdbe3.ef9fd4"]]},{"id":"6f0a9ded.bd6244","type":"debug","z":"75ea2e7e.adbcb","name":"","active":false,"console":"true","complete":"true","x":494.00001525878906,"y":883.214262008667,"wires":[]},{"id":"f11d8466.6cd0a8","type":"debug","z":"75ea2e7e.adbcb","name":"","active":false,"console":"true","complete":"false","x":665.571403503418,"y":886.7856941223145,"wires":[]},{"id":"722a45b7.c344fc","type":"inject","z":"75ea2e7e.adbcb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":90.14286804199219,"y":1038.357120513916,"wires":[["a66ed5c2.4aba88"]]},{"id":"ab85ba9c.e1aa58","type":"debug","z":"75ea2e7e.adbcb","name":"","active":false,"console":false,"complete":false,"x":596.0000457763672,"y":1035.214301109314,"wires":[]},{"id":"a66ed5c2.4aba88","type":"async","z":"75ea2e7e.adbcb","name":"Get authentiated Glass IDs","async":"var ctx = context.global;\n//var keys = _.keys(ctx.cachedOAuthClients);\nfor(client in ctx.cachedOAuthClients) {\n\tcb({payload : ctx.cachedOAuthClients[client].name});\n}\n//msg.payload = keys;\n///return msg;\n","outputs":1,"x":337.5714569091797,"y":1037.3571300506592,"wires":[["ab85ba9c.e1aa58"]]},{"id":"e4de4fbd.73b3e","type":"http in","z":"75ea2e7e.adbcb","name":"","url":"/getAuthorized","method":"get","x":102.28572845458984,"y":984.9285202026367,"wires":[["1daa3ab2.412485"]]},{"id":"1daa3ab2.412485","type":"async","z":"75ea2e7e.adbcb","name":"Get authentiated Glass IDs","async":"var ctx = context.global;\nmsg.payload = {};\nfor(id in ctx.cachedOAuthClients) {\n\tmsg.payload[id] = {name : ctx.cachedOAuthClients[id].name}\n}\nreturn msg;\n","outputs":1,"x":341.0000228881836,"y":984.9285411834717,"wires":[["d7471cc3.33137"]]},{"id":"99cf29de.5f0ca8","type":"http response","z":"75ea2e7e.adbcb","name":"","x":713.142822265625,"y":985.6427984237671,"wires":[]},{"id":"564ed678.7fab98","type":"inject","z":"75ea2e7e.adbcb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":90.14287567138672,"y":1085.3571395874023,"wires":[["8f9b0b8e.0c4d58"]]},{"id":"8f9b0b8e.0c4d58","type":"async","z":"75ea2e7e.adbcb","name":"Clear authenticated glasses","async":"var ctx = context.global;\nctx.cachedOAuthClients = {};","outputs":1,"x":337.1428756713867,"y":1084.7857036590576,"wires":[["f5edb33f.fd178"]]},{"id":"f5edb33f.fd178","type":"debug","z":"75ea2e7e.adbcb","name":"","active":false,"console":false,"complete":false,"x":534.0000152587891,"y":1085.2142658233643,"wires":[]},{"id":"6a3cdbe3.ef9fd4","type":"http response","z":"75ea2e7e.adbcb","name":"","x":680.1428184509277,"y":936.0714120864868,"wires":[]},{"id":"d7471cc3.33137","type":"function","z":"75ea2e7e.adbcb","name":"","func":"msg.headers = {\n    \"Access-Control-Allow-Origin\": \"*\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":556,"y":984.8111028671265,"wires":[["99cf29de.5f0ca8"]]},{"id":"3e6e69f9.19e9b6","type":"http in","z":"75ea2e7e.adbcb","name":"","url":"/client","method":"get","swaggerDoc":"","x":68,"y":700,"wires":[["b1bf7c0e.d650c"]]},{"id":"f535c119.5f8d5","type":"http response","z":"75ea2e7e.adbcb","name":"","x":476.99998474121094,"y":700.0000610351562,"wires":[]},{"id":"b1bf7c0e.d650c","type":"function","z":"75ea2e7e.adbcb","name":"","func":"msg.headers = {\n    \"Access-Control-Allow-Origin\": \"*\"\n};\nif(context.global.CLIENT_ID && context.global.CLIENT_SECRET) {\n    msg.payload.client_id = context.global.CLIENT_ID;\n     msg.payload.client_secret = context.global.CLIENT_SECRET;\n} else {\n    msg.res.send(\"404\", {\"errorMessage\" : \"No Client Registered\"});\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":279.99998474121094,"y":700,"wires":[["f535c119.5f8d5"]]},{"id":"4e9dd8e4.a47428","type":"http in","z":"75ea2e7e.adbcb","name":"","url":"/client","method":"post","swaggerDoc":"","x":78,"y":666,"wires":[["b16434eb.8c0bf8"]]},{"id":"b16434eb.8c0bf8","type":"function","z":"75ea2e7e.adbcb","name":"Store data","func":"context.global.CLIENT_ID = msg.payload.client_id;\ncontext.global.CLIENT_SECRET = msg.payload.client_secret;\nreturn msg;","outputs":1,"noerr":0,"x":302,"y":666,"wires":[["dceda049.da71b"]]},{"id":"dceda049.da71b","type":"debug","z":"75ea2e7e.adbcb","name":"","active":true,"console":"false","complete":"false","x":496,"y":666,"wires":[]},{"id":"b0c92f0e.76f62","type":"http in","z":"75ea2e7e.adbcb","name":"","url":"/latlong","method":"get","swaggerDoc":"","x":75,"y":1173,"wires":[["7e777595.d179ac"]]},{"id":"c8e11e19.2dca","type":"http response","z":"75ea2e7e.adbcb","name":"","x":473.99998474121094,"y":1173.0000610351562,"wires":[]},{"id":"7e777595.d179ac","type":"function","z":"75ea2e7e.adbcb","name":"","func":"msg.headers = {\n    \"Access-Control-Allow-Origin\": \"*\"\n};\nif(context.global.lat && context.global.long) {\n    msg.payload.lat = context.global.lat;\n     msg.payload.long = context.global.long;\n} else {\n    msg.res.send(\"404\", {\"errorMessage\" : \"No lat long registered\"});\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":276.99998474121094,"y":1173,"wires":[["c8e11e19.2dca"]]},{"id":"aef8b7f6.ee7618","type":"http in","z":"75ea2e7e.adbcb","name":"","url":"/latlong","method":"post","swaggerDoc":"","x":75,"y":1139,"wires":[["a3522cd.bfeded"]]},{"id":"a3522cd.bfeded","type":"function","z":"75ea2e7e.adbcb","name":"Store data","func":"context.global.lat = msg.payload.lat;\ncontext.global.long = msg.payload.long;\nreturn msg;","outputs":1,"noerr":0,"x":299,"y":1139,"wires":[["5534bb87.0d7174"]]},{"id":"5534bb87.0d7174","type":"debug","z":"75ea2e7e.adbcb","name":"","active":true,"console":"false","complete":"false","x":493,"y":1139,"wires":[]},{"id":"64ce2347.aa5c1c","type":"http in","z":"75ea2e7e.adbcb","name":"","url":"/patients","method":"get","swaggerDoc":"","x":76,"y":1251,"wires":[["12c1501.fb217b"]]},{"id":"b6f7000f.bef67","type":"http response","z":"75ea2e7e.adbcb","name":"","x":474.99998474121094,"y":1251.0000610351562,"wires":[]},{"id":"12c1501.fb217b","type":"function","z":"75ea2e7e.adbcb","name":"","func":"msg.headers = {\n    \"Access-Control-Allow-Origin\": \"*\"\n};\nif(context.global.patients) {\n    msg.payload.patients = context.global.patients;\n} else {\n    msg.res.send(\"404\", {\"errorMessage\" : \"No patients registered\"});\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":277.99998474121094,"y":1251,"wires":[["b6f7000f.bef67"]]},{"id":"cd328e02.2fa99","type":"http in","z":"75ea2e7e.adbcb","name":"","url":"/patients","method":"post","swaggerDoc":"","x":85,"y":1304,"wires":[["81a747b8.a67158"]]},{"id":"81a747b8.a67158","type":"function","z":"75ea2e7e.adbcb","name":"Store data","func":"context.global.patients[msg.payload.patient.name] = msg.payload.patient;\nreturn msg;","outputs":1,"noerr":0,"x":299,"y":1304,"wires":[["ba5145be.c55448"]]},{"id":"ba5145be.c55448","type":"debug","z":"75ea2e7e.adbcb","name":"","active":true,"console":"false","complete":"false","x":493,"y":1304,"wires":[]}],"_revisions":{"start":1,"ids":["24d2788392585e367ce03946c502847f"]}},{"_id":"yourOwnAppName/settings","_rev":"1-aaf467ec807c1c54699ab4bc1c4e6ef0","settings":{"nodes":{"node-red":{"name":"node-red","version":"0.13.4","nodes":{"sentiment":{"name":"sentiment","types":["sentiment"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/analysis/72-sentiment.js"},"inject":{"name":"inject","types":["inject"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/core/20-inject.js"},"catch":{"name":"catch","types":["catch"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/core/25-catch.js"},"status":{"name":"status","types":["status"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/core/25-status.js"},"debug":{"name":"debug","types":["debug"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/core/58-debug.js"},"function":{"name":"function","types":["function"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/core/80-function.js"},"template":{"name":"template","types":["template"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/core/80-template.js"},"delay":{"name":"delay","types":["delay"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/core/89-delay.js"},"trigger":{"name":"trigger","types":["trigger"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/core/89-trigger.js"},"comment":{"name":"comment","types":["comment"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/core/90-comment.js"},"unknown":{"name":"unknown","types":["unknown"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/core/98-unknown.js"},"mqtt":{"name":"mqtt","types":["mqtt in","mqtt out","mqtt-broker"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/io/10-mqtt.js"},"httpin":{"name":"httpin","types":["http in","http response"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/io/21-httpin.js"},"httprequest":{"name":"httprequest","types":["http request"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/io/21-httprequest.js"},"websocket":{"name":"websocket","types":["websocket in","websocket out","websocket-listener","websocket-client"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/io/22-websocket.js"},"switch":{"name":"switch","types":["switch"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/logic/10-switch.js"},"change":{"name":"change","types":["change"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/logic/15-change.js"},"range":{"name":"range","types":["range"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/logic/16-range.js"},"CSV":{"name":"CSV","types":["csv"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/parsers/70-CSV.js"},"HTML":{"name":"HTML","types":["html"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/parsers/70-HTML.js"},"JSON":{"name":"JSON","types":["json"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/parsers/70-JSON.js"},"XML":{"name":"XML","types":["xml"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/parsers/70-XML.js"}}},"node-red-node-email":{"name":"node-red-node-email","version":"0.1.6","nodes":{"email":{"name":"email","types":["e-mail","e-mail in"],"enabled":true,"module":"node-red-node-email","file":"/home/vcap/app/node_modules/node-red/node_modules/node-red-node-email/61-email.js"}}},"node-red-node-feedparser":{"name":"node-red-node-feedparser","version":"0.1.5","nodes":{"feedparse":{"name":"feedparse","types":["feedparse"],"enabled":true,"module":"node-red-node-feedparser","file":"/home/vcap/app/node_modules/node-red/node_modules/node-red-node-feedparser/32-feedparse.js"}}},"node-red-node-rbe":{"name":"node-red-node-rbe","version":"0.1.5","nodes":{"rbe":{"name":"rbe","types":["rbe"],"enabled":true,"module":"node-red-node-rbe","file":"/home/vcap/app/node_modules/node-red/node_modules/node-red-node-rbe/rbe.js"}}},"node-red-node-serialport":{"name":"node-red-node-serialport","version":"0.1.2","nodes":{"serialport":{"name":"serialport","types":["serial in","serial out","serial-port"],"enabled":true,"module":"node-red-node-serialport","file":"/home/vcap/app/node_modules/node-red/node_modules/node-red-node-serialport/25-serial.js"}}},"node-red-node-twitter":{"name":"node-red-node-twitter","version":"0.1.6","nodes":{"twitter":{"name":"twitter","types":["twitter-credentials","twitter in","twitter out"],"enabled":true,"module":"node-red-node-twitter","file":"/home/vcap/app/node_modules/node-red/node_modules/node-red-node-twitter/27-twitter.js"}}},"node-red-bluemix-nodes":{"name":"node-red-bluemix-nodes","version":"1.0.2","nodes":{"tcp":{"name":"tcp","types":["tcp in","tcp out","tcp request"],"enabled":true,"module":"node-red-bluemix-nodes","file":"/home/vcap/app/node_modules/node-red-bluemix-nodes/io/31-tcpin-cf.js"},"udp":{"name":"udp","types":["udp out"],"enabled":true,"module":"node-red-bluemix-nodes","file":"/home/vcap/app/node_modules/node-red-bluemix-nodes/io/32-udp-cf.js"},"mqlight":{"name":"mqlight","types":["mqlight in","mqlight out"],"enabled":true,"module":"node-red-bluemix-nodes","file":"/home/vcap/app/node_modules/node-red-bluemix-nodes/mqlight/mqlight.js"},"mongodb":{"name":"mongodb","types":["mongodb","mongodb out","mongodb in"],"enabled":true,"module":"node-red-bluemix-nodes","file":"/home/vcap/app/node_modules/node-red-bluemix-nodes/mongo/66-mongodb-cf.js"},"twilio":{"name":"twilio","types":["twilio out","twilio-api"],"enabled":true,"module":"node-red-bluemix-nodes","file":"/home/vcap/app/node_modules/node-red-bluemix-nodes/twilio/56-twilio-cf.js"},"weather":{"name":"weather","types":["weather_insights"],"enabled":true,"module":"node-red-bluemix-nodes","file":"/home/vcap/app/node_modules/node-red-bluemix-nodes/weather/weather_insights.js"}}},"node-red-contrib-async":{"name":"node-red-contrib-async","version":"0.0.4","nodes":{"async":{"name":"async","types":["async"],"enabled":true,"module":"node-red-contrib-async","file":"/home/vcap/app/node_modules/node-red-contrib-async/async.js"}}},"node-red-contrib-bluemix-hdfs":{"name":"node-red-contrib-bluemix-hdfs","version":"0.2.5","nodes":{"bluemixhdfs":{"name":"bluemixhdfs","types":["ibm hdfs in","ibm hdfs"],"enabled":true,"module":"node-red-contrib-bluemix-hdfs","file":"/home/vcap/app/node_modules/node-red-contrib-bluemix-hdfs/application/47-ibmhdfs-cf.js"}}},"node-red-contrib-ibmpush":{"name":"node-red-contrib-ibmpush","version":"0.2.3","nodes":{"ibmpush":{"name":"ibmpush","types":["ibmpush"],"enabled":true,"module":"node-red-contrib-ibmpush","file":"/home/vcap/app/node_modules/node-red-contrib-ibmpush/ibmpush/88-ibmpush.js"}}},"node-red-contrib-scx-ibmiotapp":{"name":"node-red-contrib-scx-ibmiotapp","version":"0.0.38","nodes":{"ibmiotapp":{"name":"ibmiotapp","types":["ibmiot","ibmiot out","ibmiot in"],"enabled":true,"module":"node-red-contrib-scx-ibmiotapp","file":"/home/vcap/app/node_modules/node-red-contrib-scx-ibmiotapp/application/97-iotnewapp-cf.js"}}},"node-red-node-cf-cloudant":{"name":"node-red-node-cf-cloudant","version":"0.2.16","nodes":{"cloudant-cf":{"name":"cloudant-cf","types":["cloudant","cloudant out","cloudant in"],"enabled":true,"module":"node-red-node-cf-cloudant","file":"/home/vcap/app/node_modules/node-red-node-cf-cloudant/77-cloudant-cf.js"}}},"node-red-nodes-cf-sqldb-dashdb":{"name":"node-red-nodes-cf-sqldb-dashdb","version":"0.2.15","nodes":{"sqldb-dashdb-cf":{"name":"sqldb-dashdb-cf","types":["sqldb out","dashDB out","sqldb in","dashDB in"],"enabled":true,"module":"node-red-nodes-cf-sqldb-dashdb","file":"/home/vcap/app/node_modules/node-red-nodes-cf-sqldb-dashdb/98-sqldb-dashdb-cf.js"}}}}},"_revisions":{"start":1,"ids":["aaf467ec807c1c54699ab4bc1c4e6ef0"]}},{"_id":"yourOwnAppName/flow","_rev":"1-24d2788392585e367ce03946c502847f","flow":[{"type":"tab","id":"75ea2e7e.adbcb","label":"Connected Ambulance"},{"id":"d2962c5a.2d69d","type":"websocket-listener","path":"/ws/ambulance/location","wholemsg":"false"},{"id":"cb990eae.3466f","type":"http request","z":"75ea2e7e.adbcb","name":"Get ambulance location","method":"GET","url":"","x":672.0437469482422,"y":278.9126892089844,"wires":[["e7508c47.18af7","c0b52f69.3f4ad"]]},{"id":"82cc7014.7d339","type":"websocket out","z":"75ea2e7e.adbcb","name":"","server":"d2962c5a.2d69d","client":"","x":1208.6427459716797,"y":331.3849182128906,"wires":[]},{"id":"33ab407c.cc54c","type":"http in","z":"75ea2e7e.adbcb","name":"","url":"/ambulanceLocation","method":"get","x":121,"y":217.27780151367188,"wires":[["19767215.e6898e","40601b18.bf9fe4"]]},{"id":"19767215.e6898e","type":"http response","z":"75ea2e7e.adbcb","name":"","x":318.00001525878906,"y":217.27780151367188,"wires":[]},{"id":"a49153bb.5b6eb","type":"function","z":"75ea2e7e.adbcb","name":"Construct Glass Notification","func":"var ambuLat = msg.ambuLat;\nvar ambuLng = msg.ambuLng;\nvar patientLat = msg.patientLat;\nvar patientLng = msg.patientLng;\nvar description = msg.description;\n\nvar kjernejournal;\nif(msg.patientName) {\n    var patient;\n\tpatient = context.global.patients[msg.patientName];\n\tkjernejournal = '<article><section><h1 class=\"text-large white\">Patient</h1><h2>' + patient.name + '</h2><h3 class=\"blue\">Critical medical data</h3></section><footer class=\"blue\">Swipe for more</footer></article>' +\n\t                '<article><section><table class=\"align-justify\"><tr><td class=\"text-large\">' + patient.name + '</td><td>' + patient.sex + '/' + patient.age + '/' + patient.bloodType +'</td></tr>'; \n\t                \n\tvar medicalHistory = \"\";\n\tpatient.medicalHistory.forEach(function (entry) {\n\t    medicalHistory += '<tr><td class=\"text-small\">' + entry + '</td><td></td></tr>';\n\t});\n\tkjernejournal += medicalHistory;\n\tkjernejournal += '</table></section><footer class=\"blue\">Medical history</footer></article>'\n\t\n\tkjernejournal += '<article><section><table class=\"align-justify\"><tr><td class=\"text-large\">' + patient.name + '</td><td>' + patient.sex + '/' + patient.age + '/' + patient.bloodType +'</td></tr>';\n\t\n\tvar prescriptions = \"\";\n\tpatient.prescriptions.forEach(function (entry) {\n\t    prescriptions += '<tr class=\"text-small\"><td>'+ entry +'</td><td></td></tr>';\n\t});\n\tkjernejournal += prescriptions;\n\tkjernejournal += '</table></section><footer class=\"blue\">Prescriptions</footer></article>';\n\t\n\tkjernejournal += '<article><section><table class=\"align-justify\"><tr><td class=\"text-large\">' + patient.name + '</td><td>' + patient.sex + '/' + patient.age + '/' + patient.bloodType +'</td></tr>';\n\tvar allergies = \"\";\n\tpatient.allergies.forEach(function (entry) {\n\t    allergies += '<tr class=\"text-small\"><td>'+ entry +'</td><td></td></tr>';\n\t});\n\tkjernejournal += allergies;\n\tkjernejournal += '</table></section><footer class=\"blue\">Allergies</footer></article>';\n}\n\n//var addr = \"glass://map?w=240&h=360&marker=1;\" + patientLat + \",\" + patientLng;\n//var addr = \"glass://map?w=240&h=360&marker=0;\" + ambuLat + \",\" + ambuLng + \"&marker=1;\" + patientLat + \",\" + patientLng;\nvar addr = msg.streetViewUrl;\n\n/*  Insert payload into Google Glass Timeline\n *  https://developers.google.com/glass/v1/reference/timeline/insert\n*/\n\nmsg.payload = {\n    \"notification\": {\n      \"level\": \"DEFAULT\"\n    },\n    \"callbackUrl\": \"https://mirrornotifications.appspot.com/forward?url=http://localhost:8081/reply\",\n    \"menuItems\": [{\n      \"action\": \"NAVIGATE\"\n    }],\n    \"html\": \"<article class=\\\"cover-only\\\"><figure><img src=\\\"\" + addr +  \"\\\" height=\\\"360\\\" width=\\\"240\\\"></figure><section><p style=\\\"padding-top:2px\\\" class=\\\"text-small\\\">Emergency response request:</p><div class=\\\"text-auto-size\\\"><p class=\\\"blue text-small\\\">\" + description + \"</p><p class=\\\"yellow text-small\\\">\"+msg.payload.results[0].formatted_address+\"</p></div></section><footer>Tap for details</footer></article>\"+kjernejournal,\n    //\"html\": \"<article class=\\\"cover-only\\\"><figure><img src=\\\"\" + addr +  \"\\\" height=\\\"360\\\" width=\\\"240\\\"></figure><section><p class=\\\"text-small\\\">Utrykningsforesp?rsel:</p><div class=\\\"text-auto-size\\\"><p class=\\\"blue text-small\\\">\" + description + \"</p><p class=\\\"yellow text-small\\\">\"+msg.payload.results[0].formatted_address+\"</p></div></section><footer>Tap for more</footer></article>\"+kjernejournal,\n    \"location\": {\n      \"latitude\": msg.payload.results[0].latitude,\n      \"longitude\": msg.payload.results[0].longitude,\n      \"displayName\": msg.payload.results[0].formatted_address\n    }\n};\nmsg.url = context.global.url + \"/timeline/\"+ msg.topic;\nreturn msg; ","outputs":"1","noerr":0,"x":713.5715179443359,"y":479.8492431640625,"wires":[["81dc8f2c.7e237","c0aef2ca.3f511"]]},{"id":"81dc8f2c.7e237","type":"http request","z":"75ea2e7e.adbcb","name":"Send notification to ambulance","method":"POST","url":"","x":1170.5714569091797,"y":414.0992431640625,"wires":[["dec29352.213d7","ffbd57d6.0042a8"]]},{"id":"21cea847.de3158","type":"http response","z":"75ea2e7e.adbcb","name":"Send response to OperationsView ","x":1601.3214569091797,"y":411.84930419921875,"wires":[]},{"id":"f0743643.0f8bc8","type":"debug","z":"75ea2e7e.adbcb","name":"","active":false,"console":"false","complete":"false","x":1151.9286346435547,"y":232.02780151367188,"wires":[]},{"id":"40601b18.bf9fe4","type":"http request","z":"75ea2e7e.adbcb","name":"Get available Glasses","method":"GET","url":"http://{{req.headers.host}}/getAuthorized","x":305.9999694824219,"y":156.27780151367188,"wires":[["f4809cfa.0b7f6"]]},{"id":"2b67bb74.d49844","type":"inject","z":"75ea2e7e.adbcb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":112,"y":156.27780151367188,"wires":[["40601b18.bf9fe4"]]},{"id":"e1f831dc.1e07d","type":"function","z":"75ea2e7e.adbcb","name":"Create one msg per Glass","func":"\ncontext.global.glasses = msg.payload;\nvar messages = [];\nfor(var id in msg.payload) {\t\n\tmessages.push({topic: id, name: msg.payload[id].name});\n}\nreturn [messages];","outputs":1,"x":675,"y":156.99209594726562,"wires":[["8ed7edb4.71281"]]},{"id":"f4809cfa.0b7f6","type":"json","z":"75ea2e7e.adbcb","name":"","x":478.00001525878906,"y":156.27780151367188,"wires":[["e1f831dc.1e07d"]]},{"id":"4d2a1eaa.b2d5e","type":"function","z":"75ea2e7e.adbcb","name":"Add Glass ID and name to payload","func":"msg.payload = {id: msg.topic, name: msg.name, payload: msg.payload};\nreturn msg;","outputs":1,"x":910.4285736083984,"y":333.0278015136719,"wires":[["82cc7014.7d339","f0743643.0f8bc8"]]},{"id":"e7508c47.18af7","type":"json","z":"75ea2e7e.adbcb","name":"","x":684.4285736083984,"y":332.5278015136719,"wires":[["4d2a1eaa.b2d5e"]]},{"id":"599a8a6b.a66574","type":"inject","z":"75ea2e7e.adbcb","name":"On startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":99.00003051757812,"y":266.2778015136719,"wires":[["dbcf4504.2430b8"]]},{"id":"dbcf4504.2430b8","type":"function","z":"75ea2e7e.adbcb","name":"Register patients","func":"var patientsJson = {};\npatientsJson['John Doe'] = {\n    \"name\": \"John Doe\",\n    \"age\": \"39\",\n    \"sex\": \"M\",\n    \"organDonor\": true,\n    \"bloodType\": \"A+\",\n    \"medicalHistory\": [\"Diabetic\", \"Spinal Disc Herniation\"],\n    \"prescriptions\": [\"Insulin\"],\n    \"allergies\": [\"Penicilin\", \"Seafood\"]\n};\npatientsJson['Jane Fisher'] = {\n    \"name\": \"Jane Fisher\",\n    \"age\": \"33\",\n    \"sex\": \"F\",\n    \"organDonor\": false,\n    \"bloodType\": \"0-\",\n    \"medicalHistory\": [\"Anaphylactic reaction\", \"Mild depression\"],\n    \"prescriptions\": [\"Trimethoprim\"],\n    \"allergies\": [\"Insect stings\", \"Sun sensitivity\"]\n};\npatientsJson['Helen Driscoll'] = {\n    \"name\": \"Helen Driscoll\",\n    \"age\": \"21\",\n    \"sex\": \"F\",\n    \"organDonor\": true,\n    \"bloodType\": \"B+\",\n    \"medicalHistory\": [\"Anxiety\"],\n    \"prescriptions\": [\"Cerazette\", \"Cetrizine\", \"Diazepam\"],\n    \"allergies\": [\"Pollen\", \"Egg\"]\n};\n\ncontext.global.patients = patientsJson;\n\n","outputs":1,"noerr":0,"x":271.0000305175781,"y":266.2778015136719,"wires":[[]]},{"id":"2598dcb9.da6724","type":"debug","z":"75ea2e7e.adbcb","name":"","active":false,"console":"false","complete":"true","x":886.7142791748047,"y":209.5635223388672,"wires":[]},{"id":"c0b52f69.3f4ad","type":"debug","z":"75ea2e7e.adbcb","name":"","active":false,"console":"false","complete":"res.headers","x":896.4443817138672,"y":279.2778015136719,"wires":[]},{"id":"8ed7edb4.71281","type":"function","z":"75ea2e7e.adbcb","name":"Set msg.url","func":"msg.url = context.global.url + \"/location/\"+ msg.topic;\nreturn msg;","outputs":1,"x":663.5555267333984,"y":209.27780151367188,"wires":[["2598dcb9.da6724","cb990eae.3466f"]]},{"id":"5f66d992.a09928","type":"inject","z":"75ea2e7e.adbcb","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":true,"x":112.77777481079102,"y":37.5,"wires":[["920e2f8.f6df1d"]]},{"id":"920e2f8.f6df1d","type":"function","z":"75ea2e7e.adbcb","name":"context variables","func":"context.global.url = \"http://\" + context.global.VCAP_APPLICATION.uris[0];\ncontext.global.CLIENT_ID = \"YOUR_CLIENT_ID\";\ncontext.global.CLIENT_SECRET = \"YOUR_CLIENT_SECRET\";\ncontext.global.authID = '';\ncontext.global.user = '';\ncontext.global.lat = 59.8937806;\ncontext.global.long = 10.6450355;\nreturn msg;","outputs":1,"noerr":0,"x":310.83333587646484,"y":38.25000858306885,"wires":[[]]},{"id":"c0aef2ca.3f511","type":"debug","z":"75ea2e7e.adbcb","name":"","active":false,"console":"false","complete":"payload.html","x":1136.0001678466797,"y":477.5001220703125,"wires":[]},{"id":"dec29352.213d7","type":"debug","z":"75ea2e7e.adbcb","name":"","active":false,"console":"false","complete":"false","x":1469.0001678466797,"y":321.5,"wires":[]},{"id":"33ce8825.cc3178","type":"http in","z":"75ea2e7e.adbcb","name":"","url":"/operations","method":"get","swaggerDoc":"","x":97,"y":92.5,"wires":[["c042da45.3fbd28"]]},{"id":"c042da45.3fbd28","type":"template","z":"75ea2e7e.adbcb","name":"OperationsView","field":"","fieldType":"msg","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n\n<head>\n    <title>Ambulance Dispatcher</title>\n    <script type=\"text/javascript\" src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js\"></script>\n    <script type=\"text/javascript\" src=\"//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js\"></script>\n    <link rel=\"stylesheet\" href=\"//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css\">\n\n    <style type=\"text/css\" media=\"screen\">\n        #map {\n            position: absolute;\n            top: 0;\n            bottom: 0;\n            left: 0;\n            right: 0;\n        }\n        \n        #panorama {\n            width: 100%;\n            height: 300px;\n            z-index: 999;\n        }\n        \n        #dispatch {\n            float: right;\n            width: 300px;\n            height: 18px;\n            z-index: 999;\n            position: absolute;\n        }\n        \n        .modal {\n            text-align: center;\n        }\n        \n        @media screen and (min-width: 768px) {\n            .modal:before {\n                display: inline-block;\n                vertical-align: middle;\n                content: \" \";\n                height: 100%;\n            }\n        }\n        \n        .modal-dialog {\n            display: inline-block;\n            text-align: left;\n            vertical-align: middle;\n        }\n        \n        html,\n        body,\n        .row,\n        #view,\n        #map,\n        #mapPartial,\n        #infoPartial {\n            height: 100%;\n        }\n        \n        #infoPartial {\n            background: LightGrey;\n            padding-right: 15px;\n        }\n        \n        .modal-footer {\n            text-align: center;\n        }\n        \n        #dispatchBtn {\n            width: 95%;\n        }\n        \n        #endCallBtn {\n            width: 95%;\n        }\n        \n        #patientInfoBtn {\n            width: 95%;\n            margin: 0 auto;\n        }\n        \n        #buttonCenter {\n            text-align: center;\n        }\n        \n        #availableAmbulances {\n            position: relative;\n            height: 180px;\n            clear: both;\n            padding-top: 20px;\n        }\n        \n        #patientSearchInfoResult {\n            text-align: center;\n        }\n        \n        .controls {\n            margin-top: 10px;\n            border: 1px solid transparent;\n            border-radius: 2px 0 0 2px;\n            box-sizing: border-box;\n            -moz-box-sizing: border-box;\n            height: 32px;\n            outline: none;\n            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);\n        }\n        \n        #pac-input {\n            background-color: #fff;\n            font-family: Roboto;\n            font-size: 15px;\n            font-weight: 300;\n            margin-left: 30px;\n            padding: 0 11px 0 13px;\n            text-overflow: ellipsis;\n            width: 300px;\n        }\n        \n        #pac-input:focus {\n            border-color: #4d90fe;\n        }\n        \n        .pac-container {\n            font-family: Roboto;\n        }\n    </style>\n\n</head>\n\n<body>\n    <!-- Modal -->\n    <div class=\"modal fade\" id=\"authModal\" tabindex=\"-1\" role=\"dialog\" aria-labelledby=\"myModalLabel\">\n        <div class=\"modal-dialog\" role=\"document\">\n            <div class=\"modal-content\">\n                <div class=\"modal-header\">\n                    <button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>\n                    <h4 class=\"modal-title\" id=\"myModalLabel\">You are not authed</h4>\n                </div>\n                <div class=\"modal-body\">\n                    <h4>Why do I need to auth?</h4>\n                    <p>To be able to send request to your Google-Glasses or to <a href=\"https://developers.google.com/glass/tools-downloads/playground\"> Google Playground</a> you need to be authed with your Google Account</p>\n                    <h4>How to auth?</h4>\n                    <p>Auth with your google-account, which you should already have configured, <a id=\"authLink\" href=\"\">here</a></p>\n                    <p>After you have authed, you can visit the operations-console again, without seeing this popup :)</p>\n                </div>\n                <div class=\"modal-footer\">\n                    <button type=\"button\" class=\"btn btn-default\" data-dismiss=\"modal\">Close</button>\n                    <a id=\"authButton\" class=\"btn btn-primary\" href=\"\" role=\"button\">Auth!</a>\n                </div>\n            </div>\n        </div>\n    </div>\n\n    <div id=\"dispatchModal\" class=\"modal fade\" role=\"dialog\">\n        <div class=\"modal-dialog\">\n\n            <!-- Modal content-->\n            <div class=\"modal-content\">\n                <div class=\"modal-header\">\n                    <button type=\"button\" class=\"close\" data-dismiss=\"modal\">&times;</button>\n                    <h4 class=\"modal-title\">Dispatch ambulance to this location</h4>\n                </div>\n                <div class=\"modal-body\">\n                    <div id=\"panorama\">\n\n                    </div>\n                </div>\n                <div class=\"modal-footer\">\n                    <button id=\"dispatchBtn\" class=\"btn btn-success\" type=\"submit\">Dispatch Ambulance</button>\n                </div>\n            </div>\n\n        </div>\n    </div>\n\n    <div id=\"patientModal\" class=\"modal fade\" role=\"dialog\">\n        <div class=\"modal-dialog\">\n\n            <!-- Modal content-->\n            <div class=\"modal-content\">\n                <div class=\"modal-header\">\n                    <button type=\"button\" class=\"close\" data-dismiss=\"modal\">&times;</button>\n                    <h4 class=\"modal-title\">Send patient information to ambulance</h4>\n                </div>\n                <form id=\"patientInfo\">\n                    <div class=\"modal-body\">\n                        <div>\n                            <div class=\"form-group\">\n                                <label for=\"patientName\">Patient name</label>\n                                <div class=\"input-group\">\n                                    <input type=\"text\" class=\"form-control\" id=\"patientName\" placeholder=\"Search for patient ...\">\n                                    <span class=\"input-group-btn\">\n\t\t\t\t\t\t\t\t        <button id=\"patientSearchBtn\" class=\"btn btn-default\" type=\"button\"><span class=\"glyphicon glyphicon-search\"></span></button>\n                                    </span>\n                                </div>\n                            </div>\n                            <div id=\"patientSearchInfoResult\">\n\n                            </div>\n                            <div class=\"form-group\">\n                                <label for=\"description\">Short description of incident</label>\n                                <input type=\"text\" class=\"form-control\" id=\"description\" placeholder=\"Short description of incident\">\n                            </div>\n                        </div>\n                    </div>\n                    <div class=\"modal-footer\">\n                        <button id=\"patientInfoBtn\" class=\"btn btn-primary\" type=\"submit\">Send patient information</button>\n                    </div>\n                </form>\n            </div>\n        </div>\n    </div>\n\n    <div class=\"row\" id=\"view\">\n        <div class=\"col-md-9 \" id=\"mapPartial\">\n            <div>\n                <div id=\"panorama\">\n\n                </div>\n            </div>\n            <input id=\"pac-input\" class=\"controls\" type=\"text\" placeholder=\"Search Box\">\n            <div id=\"map\"></div>\n        </div>\n        <div class=\"col-md-3\" id=\"infoPartial\">\n            <h2><span class=\"glyphicon glyphicon-earphone\"></span>911 Dispatcher</h2>\n            <h5>Dispatcher ID: #10034</h5>\n            <h5>Call ID: #134525</h5>\n            <h5>Call Started: <script type=\"text/javascript\">document.write(new Date().toLocaleTimeString());</script></h5>\n            <button id=\"endCallBtn\" class=\"btn btn-danger\" type=\"submit\">End call</button>\n            <h3>Log</h3>\n            <div>\n                <table id=\"log\" class=\"table table-striped\">\n                    <thead>\n                        <tr>\n                            <th>Time</th>\n                            <th>Event</th>\n                        </tr>\n                    </thead>\n                    <tbody>\n                        <tr>\n                            <th>\n                                <script type=\"text/javascript\">\n                                    document.write(new Date().toLocaleTimeString());\n                                </script>\n                            </th>\n                            <td> Incoming call</td>\n                        </tr>\n                    </tbody>\n                </table>\n            </div>\n            <!--<div>\n\t\t\t\t<h3>Available ambulances:</h3>\n\t\t\t\t<ul id=\"availableAmbulances\">\n\t\t\t\t\t\n\t\t\t\t</ul>\n\t\t\t</div>-->\n        </div>\n    </div>\n\n\n    <script type=\"text/javascript\">\n        var panorama;\n        var authId = '';\n        $(document).ready(function() {\n            $.get('/authId', function(data) {\n                authId = data.authId;\n                console.log(\"User: \" + data.user + \" / \" + data.authId + \"is authed\");\n            }).fail(function() {\n                $(\"#authLink\").attr(\"href\", \"http://\" + window.location.host + \"/auth\");\n                $(\"#authButton\").attr(\"href\", \"http://\" + window.location.host + \"/auth\");\n                $('#authModal').modal('show');\n            });\n        });\n\n\n\n        $('#endCallBtn').click(function() {\n            location.reload();\n        });\n\n        function initMap() {\n                    var latVar = 41.881832;\n        var longVar = -87.623177;\n                        $.get('/latlong', function(data) {\n                latVar = parseFloat(data.lat);\n                longVar = parseFloat(data.long);\n \n            var location = {\n                lat: latVar,\n                lng: longVar\n            };\n            var map = new google.maps.Map(document.getElementById('map'), {\n                zoom: 12,\n                center: location,\n                mapTypeId: google.maps.MapTypeId.ROADMAP,\n                mapTypeControl: false,\n                streetViewControl: false\n            });\n\n            //updateAvailableAmbulances();\n            initRightClick(map);\n            initSearchBox(map);\n                        });\n        }\n\n        function initRightClick(map) {\n            var icon = {\n                url: 'https://maps.gstatic.com/mapfiles/place_api/icons/geocode-71.png',\n                size: new google.maps.Size(71, 71),\n                origin: new google.maps.Point(0, 0),\n                anchor: new google.maps.Point(17, 34),\n                scaledSize: new google.maps.Size(25, 25)\n            };\n\n            var marker = new google.maps.Marker({\n                icon: icon,\n                title: 'location'\n            });\n\n            marker.addListener('click', function() {\n                showStreetviewModal(marker);\n            });\n\n            google.maps.event.addDomListener(map, 'rightclick', function(e) {\n                marker.setPosition(e.latLng);\n                marker.setMap(map);\n            });\n        }\n\n        function initSearchBox(map) {\n            var input = document.getElementById('pac-input');\n            var searchBox = new google.maps.places.SearchBox(input);\n            map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);\n\n            // Bias the SearchBox results towards current map's viewport.\n            map.addListener('bounds_changed', function() {\n                searchBox.setBounds(map.getBounds());\n            });\n\n            var markers = [];\n            // [START region_getplaces]\n            // Listen for the event fired when the user selects a prediction and retrieve\n            // more details for that place.\n            searchBox.addListener('places_changed', function() {\n                var places = searchBox.getPlaces();\n\n                if (places.length == 0) {\n                    return;\n                }\n\n                // Clear out the old markers.\n                markers.forEach(function(marker) {\n                    marker.setMap(null);\n                });\n                markers = [];\n\n                // For each place, get the icon, name and location.\n                var bounds = new google.maps.LatLngBounds();\n                places.forEach(function(place) {\n                    var icon = {\n                        url: 'https://maps.gstatic.com/mapfiles/place_api/icons/geocode-71.png',\n                        size: new google.maps.Size(71, 71),\n                        origin: new google.maps.Point(0, 0),\n                        anchor: new google.maps.Point(17, 34),\n                        scaledSize: new google.maps.Size(25, 25)\n                    };\n\n                    var marker = new google.maps.Marker({\n                        map: map,\n                        icon: icon,\n                        title: place.name,\n                        position: place.geometry.location\n                    });\n\n                    // Create a marker for each place.\n                    markers.push(marker);\n\n                    marker.addListener('click', function() {\n                        showStreetviewModal(marker);\n                    });\n\n                    if (place.geometry.viewport) {\n                        // Only geocodes have viewport.\n                        bounds.union(place.geometry.viewport);\n                    } else {\n                        bounds.extend(place.geometry.location);\n                    }\n                });\n                map.panToBounds(bounds);\n            });\n        }\n\n        function showStreetviewModal(marker) {\n            panorama = new google.maps.StreetViewPanorama(\n                document.getElementById('panorama'), {\n                    position: marker.getPosition(),\n                    pov: {\n                        heading: 165,\n                        pitch: 0\n                    },\n                    zoom: 1,\n                    disableDefaultUI: true\n                });\n            $('#dispatchModal').modal('show');\n            $('#dispatchModal').on('shown.bs.modal', function() {\n                google.maps.event.trigger(panorama, \"resize\");\n            });\n\n            $('#dispatchBtn').bind('click', function() {\n                var url = \"https://maps.googleapis.com/maps/api/streetview?size=240x360&\" +\n                    \"location=\" + marker.getPosition().lat() + \",\" + marker.getPosition().lng() + \"&fov=90&heading=\" + panorama.getPov().heading +\n                    \"&pitch=\" + panorama.getPov().pitch;\n                $.post('/dispatchAmbulance2', {\n                    id: authId,\n                    lat: marker.getPosition().lat(),\n                    lng: marker.getPosition().lng(),\n                    url: url\n                }, function() {\n                    // add functionality to write to sidebar\n                    var time = new Date().toLocaleTimeString();\n                    var newRow = '<tr><th>' + time + '</th><td> Ambulance dispatched' + '</td></tr>';\n\n                    $(\"#log tbody\").append(newRow);\n                    $('#dispatchModal').modal('hide');\n\n                    var icon = {\n                        url: 'http://auto-accident-denver.com/wp-content/uploads/2015/12/emergency-Icon.jpeg-25.png',\n                    };\n\n                    ambulanceMarker = new google.maps.Marker({\n                        icon: icon,\n                        map: marker.getMap(),\n                        title: 'Incident',\n                        position: marker.getPosition()\n                    });\n\n                    ambulanceMarker.addListener('click', function() {\n                        showPatientInformationModal(marker);\n                    });\n\n                    marker.setMap(null);\n                })\n            });\n\n        }\n\n        function showPatientInformationModal(marker) {\n            $('#patientInfoBtn').attr(\"disabled\", true);\n            $('#patientModal').modal('show');\n\n            $('#patientSearchBtn').click(function() {\n                $.get('/patientData', {\n                    patientName: $('input[id=patientName]').val()\n                }, function(data) {\n                    var patientData = '<h3>' + data.name + ' <small>' + data.sex + '/' + data.age + '</small></h3>';\n                    $(\"#patientSearchInfoResult\").html(patientData);\n                    $('#patientInfoBtn').attr(\"disabled\", false);\n                }).fail(function() {\n                    $(\"#patientSearchInfoResult\").html('');\n                    $('#patientInfoBtn').attr(\"disabled\", true);\n                });\n            });\n\n            $('form').submit(function(event) {\n                var patientName = $('input[id=patientName]').val();\n                var description = $('input[id=description]').val()\n                $.post('/patientInfo', {\n                    id: authId,\n                    patientName: patientName,\n                    description: description\n                }, function() {\n                    $('#patientModal').modal('hide');\n                    var time = new Date().toLocaleTimeString();\n                    var newRow = '<tr><th>' + time + '</th><td> Patient information sent for ' + patientName + '</td></tr>';\n\n                    $(\"#log tbody\").append(newRow);\n                });\n                event.preventDefault();\n            });\n        }\n\n        function updateAvailableAmbulances() {\n            $.get('/getAuthorized', function(data) {\n                Object.keys(data).forEach(function(key) {\n                    var row = '<li>' + data[key].name + '</li>';\n                    $(\"#availableAmbulances\").append(row);\n                });\n            });\n        }\n    </script>\n    <script async defer src=\"https://maps.googleapis.com/maps/api/js?libraries=places&callback=initMap\"></script>\n</body>\n\n</html>","x":292,"y":92.5,"wires":[["b69ca319.49636"]]},{"id":"b69ca319.49636","type":"http response","z":"75ea2e7e.adbcb","name":"","x":451.99998474121094,"y":92.5,"wires":[]},{"id":"53ec7061.ac139","type":"http in","z":"75ea2e7e.adbcb","name":"","url":"/dispatchAmbulance2","method":"post","swaggerDoc":"","x":131,"y":426.5,"wires":[["c9a503ca.365b"]]},{"id":"c9a503ca.365b","type":"function","z":"75ea2e7e.adbcb","name":"Store data","func":"msg.patientLat = msg.payload.lat;\nmsg.patientLng = msg.payload.lng;\nmsg.topic = msg.payload.id;\nmsg.streetViewUrl = msg.payload.url;\nmsg.url = context.global.url + \"/location/\"+msg.topic;\nreturn msg;","outputs":1,"noerr":0,"x":363.99998474121094,"y":415.5,"wires":[["d9fc6d3f.26039"]]},{"id":"d9fc6d3f.26039","type":"http request","z":"75ea2e7e.adbcb","name":"Get patient address","method":"GET","url":"https://maps.googleapis.com/maps/api/geocode/json?latlng={{patientLat}},{{patientLng}}&key=AIzaSyCGBvmim4kx0yem7iKdOghmtMk5XFD49uc","x":574.9999847412109,"y":415.5,"wires":[["fa55f9e1.05aa08"]]},{"id":"c9c140fa.363ec","type":"function","z":"75ea2e7e.adbcb","name":"","func":"var addr = msg.streetViewUrl;\n\n/*  Insert payload into Google Glass Timeline\n *  https://developers.google.com/glass/v1/reference/timeline/insert\n*/\n\nmsg.payload = {\n    \"notification\": {\n      \"level\": \"DEFAULT\"\n    },\n    \"callbackUrl\": \"https://mirrornotifications.appspot.com/forward?url=http://localhost:8081/reply\",\n    \"menuItems\": [{\n      \"action\": \"NAVIGATE\"\n    }],\n    \"html\": \"<article class=\\\"cover-only\\\"><figure><img src=\\\"\" + addr +  \"\\\" height=\\\"360\\\" width=\\\"240\\\"></figure><section><p style=\\\"padding-top:2px\\\" class=\\\"text-small\\\">Emergency response request:</p><div class=\\\"text-auto-size\\\"><p class=\\\"yellow text-small\\\">\"+msg.payload.results[0].formatted_address+\"</p></div></section><footer>Tap for GPS</footer></article>\",\n    \"location\": {\n      \"latitude\": msg.payload.results[0].latitude,\n      \"longitude\": msg.payload.results[0].longitude,\n      \"displayName\": msg.payload.results[0].formatted_address\n    }\n};\nmsg.url = context.global.url + \"/timeline/\"+ msg.topic;\nreturn msg; ","outputs":1,"noerr":0,"x":926.9999847412109,"y":415.5,"wires":[["81dc8f2c.7e237","b2e6842a.4d1978"]]},{"id":"b2e6842a.4d1978","type":"debug","z":"75ea2e7e.adbcb","name":"","active":false,"console":"false","complete":"false","x":1082.0000457763672,"y":371.5,"wires":[]},{"id":"fa55f9e1.05aa08","type":"json","z":"75ea2e7e.adbcb","name":"","x":773.9999847412109,"y":415.5,"wires":[["c9c140fa.363ec"]]},{"id":"ffbd57d6.0042a8","type":"function","z":"75ea2e7e.adbcb","name":"","func":"msg.headers = {\n    \"Access-Control-Allow-Origin\": \"*\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":1387.0000457763672,"y":412.5,"wires":[["21cea847.de3158"]]},{"id":"d614f3bb.29eb1","type":"http in","z":"75ea2e7e.adbcb","name":"","url":"/patientInfo","method":"post","swaggerDoc":"","x":94,"y":537.5000305175781,"wires":[["baf3593f.450ca8"]]},{"id":"baf3593f.450ca8","type":"function","z":"75ea2e7e.adbcb","name":"Store data","func":"msg.patientName = msg.payload.patientName;\nmsg.description = msg.payload.description;\nmsg.topic = msg.payload.id;\nmsg.url = context.global.url + \"/location/\"+msg.topic;\n\nreturn msg;","outputs":1,"noerr":0,"x":310.99998474121094,"y":538.5000305175781,"wires":[["14f9454.feb06bb","a60aef58.59f51"]]},{"id":"14f9454.feb06bb","type":"function","z":"75ea2e7e.adbcb","name":"Construct Glass Notification","func":"var description = msg.description;\n\nvar kjernejournal;\nif(msg.patientName) {\n    var patient;\n\tpatient = context.global.patients[msg.patientName];\n\tkjernejournal = '<article><section><h1 class=\"text-large white\">Patient</h1><h2>' + patient.name + '</h2><h3 class=\"blue\">Critical medical data</h3></section><footer class=\"blue\">Swipe for more</footer></article>' +\n\t                '<article><section><table class=\"align-justify\"><tr><td class=\"text-large\">' + patient.name + '</td><td>' + patient.sex + '/' + patient.age + '/' + patient.bloodType +'</td></tr>'; \n\t                \n\tvar medicalHistory = \"\";\n\tpatient.medicalHistory.forEach(function (entry) {\n\t    medicalHistory += '<tr><td class=\"text-small\">' + entry + '</td><td></td></tr>';\n\t});\n\tkjernejournal += medicalHistory;\n\tkjernejournal += '</table></section><footer class=\"blue\">Medical history</footer></article>'\n\t\n\tkjernejournal += '<article><section><table class=\"align-justify\"><tr><td class=\"text-large\">' + patient.name + '</td><td>' + patient.sex + '/' + patient.age + '/' + patient.bloodType +'</td></tr>';\n\t\n\tvar prescriptions = \"\";\n\tpatient.prescriptions.forEach(function (entry) {\n\t    prescriptions += '<tr class=\"text-small\"><td>'+ entry +'</td><td></td></tr>';\n\t});\n\tkjernejournal += prescriptions;\n\tkjernejournal += '</table></section><footer class=\"blue\">Prescriptions</footer></article>';\n\t\n\tkjernejournal += '<article><section><table class=\"align-justify\"><tr><td class=\"text-large\">' + patient.name + '</td><td>' + patient.sex + '/' + patient.age + '/' + patient.bloodType +'</td></tr>';\n\tvar allergies = \"\";\n\tpatient.allergies.forEach(function (entry) {\n\t    allergies += '<tr class=\"text-small\"><td>'+ entry +'</td><td></td></tr>';\n\t});\n\tkjernejournal += allergies;\n\tkjernejournal += '</table></section><footer class=\"blue\">Allergies</footer></article>';\n}\n\nmsg.payload = {\n    \"notification\": {\n      \"level\": \"DEFAULT\"\n    },\n    \"callbackUrl\": \"https://mirrornotifications.appspot.com/forward?url=http://localhost:8081/reply\",\n\n    //\"html\": \"<article class=\\\"cover-only\\\"><figure><img src=\\\"\" + addr +  \"\\\" height=\\\"360\\\" width=\\\"240\\\"></figure><section><p style=\\\"padding-top:2px\\\" class=\\\"text-small\\\">Emergency response request:</p><div class=\\\"text-auto-size\\\"><p class=\\\"blue text-small\\\">\" + description + \"</p><p class=\\\"yellow text-small\\\">\"+msg.payload.results[0].formatted_address+\"</p></div></section><footer>Tap for details</footer></article>\"+kjernejournal,\n    \"html\": kjernejournal\n};\nmsg.url = context.global.url + \"/timeline/\"+ msg.topic;\nreturn msg; ","outputs":"1","noerr":0,"x":538.9999847412109,"y":537.5000305175781,"wires":[["81dc8f2c.7e237","5d6148cc.a29eb8"]]},{"id":"5d6148cc.a29eb8","type":"debug","z":"75ea2e7e.adbcb","name":"","active":true,"console":"false","complete":"false","x":842.9999847412109,"y":536.5000305175781,"wires":[]},{"id":"a60aef58.59f51","type":"debug","z":"75ea2e7e.adbcb","name":"","active":true,"console":"false","complete":"true","x":462.99998474121094,"y":460.5,"wires":[]},{"id":"d7f60b6b.2809f8","type":"http in","z":"75ea2e7e.adbcb","name":"","url":"/patientData","method":"get","swaggerDoc":"","x":92.48516845703125,"y":591.5000305175781,"wires":[["61617ea.f9e9e8"]]},{"id":"1c5a5691.e3a5a9","type":"http response","z":"75ea2e7e.adbcb","name":"","x":475.4851531982422,"y":592.5000915527344,"wires":[]},{"id":"61617ea.f9e9e8","type":"function","z":"75ea2e7e.adbcb","name":"","func":"var patientName = msg.payload.patientName;\nmsg.headers = {\n    \"Access-Control-Allow-Origin\": \"*\"\n};\nif(context.global.patients[patientName] != null) {\n    msg.payload = context.global.patients[patientName];\n} else {\n    msg.res.send(\"404\", {\"errorMessage\" : \"Not found!\"});\n};\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":277.4851531982422,"y":591.5000534057617,"wires":[["1c5a5691.e3a5a9"]]},{"id":"5965ccaa.e86bf4","type":"http in","z":"75ea2e7e.adbcb","name":"","url":"/authId","method":"get","swaggerDoc":"","x":79,"y":630.0408935546875,"wires":[["94296fbe.8811d"]]},{"id":"a3dc1133.d3636","type":"http response","z":"75ea2e7e.adbcb","name":"","x":477.99998474121094,"y":630.0409545898438,"wires":[]},{"id":"94296fbe.8811d","type":"function","z":"75ea2e7e.adbcb","name":"","func":"msg.headers = {\n    \"Access-Control-Allow-Origin\": \"*\"\n};\nif(context.global.authID) {\n    msg.payload.authId = context.global.authID;\n     msg.payload.user = context.global.user;\n} else {\n    msg.res.send(\"404\", {\"errorMessage\" : \"No User authenticated!!!\"});\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":280.99998474121094,"y":630.0408935546875,"wires":[["a3dc1133.d3636"]]},{"id":"390d0783.72f6d8","type":"http in","z":"75ea2e7e.adbcb","name":"","url":"/oauth2callback","method":"get","x":106,"y":779.8111028671265,"wires":[["e90393c0.55894","d64a8525.f00948"]]},{"id":"b9b50c6d.165c5","type":"http in","z":"75ea2e7e.adbcb","name":"","url":"/auth","method":"get","x":71.17449378967285,"y":737.4999771118164,"wires":[["4435d310.e5a6dc"]]},{"id":"4435d310.e5a6dc","type":"function","z":"75ea2e7e.adbcb","name":"Authenticate","func":"var ctx = context.global;\nOAuth2 = ctx.googleapis.OAuth2Client;\nvar oauthCallbackPath = ctx.url + \"/oauth2callback\";\nvar oauth2Client = new OAuth2(ctx.CLIENT_ID, ctx.CLIENT_SECRET, oauthCallbackPath);\n\n// generates a url that allows offline access and asks permissions\n// for Mirror API scope.\nvar url = oauth2Client.generateAuthUrl({\n  access_type: 'offline',\n  scope: 'https://www.googleapis.com/auth/glass.timeline https://www.googleapis.com/auth/glass.location https://www.googleapis.com/auth/plus.me'\n});\n\nmsg.res.redirect(url);","outputs":1,"x":241.88892364501953,"y":737.9285469055176,"wires":[[]]},{"id":"d64a8525.f00948","type":"debug","z":"75ea2e7e.adbcb","name":"","active":true,"console":false,"complete":false,"x":597.7143402099609,"y":780.7857122421265,"wires":[]},{"id":"e90393c0.55894","type":"async","z":"75ea2e7e.adbcb","name":"GrabUserIdAndCacheCredentials","async":"var ctx = context.global;\nvar success = function () { console.log('Grab Authentication Token success')}\nvar failure = function () { msg.res.send(\"401\", {\"errorMessage\" : \"Failure\"}); }\n\nOAuth2 = context.global.googleapis.OAuth2Client;\nvar oauthCallbackPath = context.global.url + \"/oauth2callback\";\nvar oauth2Client = new OAuth2(ctx.CLIENT_ID, ctx.CLIENT_SECRET, oauthCallbackPath);\n\nvar grabUserIdAndCacheCredentials = function(oauth2Client, successCallback) {\n    ctx.googleapis\n    .discover('plus', 'v1')\n    .execute(function(err, client) {\n\t\tif(!!err) { \n\t\t\tconsole.error(err);\n\t\t\tmsg.res.send(\"401\", {\"errorMessage\" : err}); \n\t\t\treturn;\n\t\t}\n\t\tclient\n\t\t    .plus.people.get({ userId: 'me' })\n\t\t    .withAuthClient(oauth2Client)\n\t\t    .execute(function(err, res) {\t\n\t\t    \tif(!!err) { \t\t\t\t\n\t\t\t\t\tconsole.error(err);\n\t\t\t\t\tmsg.res.send(\"401\", {\"errorMessage\" : err}); \n\t\t\t\t\treturn;\n\t\t\t\t}\n\t\t\t\tmsg.payload = res;\n\t\t\t\tcb(msg);\n\t\t\t\tsuccessCallback(res.id, res.displayName, oauth2Client);\t\t\t\n\t\t\t});\t\t\n    });   \n};\n\nvar grabToken = function (code, oauth2Client, errorCallback, successCallback) {\n    oauth2Client.getToken(code, function (err, tokens) {\n        if (!!err) {\n            errorCallback(err);\n        } else {\n            console.log('tokens', tokens);\n            oauth2Client.setCredentials(tokens);\n            grabUserIdAndCacheCredentials(oauth2Client, successCallback);\n        }\n    });\n};\n\ngrabToken(msg.req.query.code, oauth2Client, failure, function (userId, name, oauth2Client) {\nctx.authID = userId;\nctx.user = name;\nmsg.res.send(\"200\", \"User is authenticated with Google with userId/name: \" + userId + \"/\" + name);\n        if(!ctx.cachedOAuthClients) ctx.cachedOAuthClients = {};        \n        ctx.cachedOAuthClients[userId] = {client : oauth2Client, name : name};\n\t\tmsg.payload = userId;\n        console.log(msg.payload);\n        cb(msg);\n});\n","outputs":1,"x":365.42858123779297,"y":780.0714092254639,"wires":[["d64a8525.f00948"]]},{"id":"c6a1c564.8009c8","type":"http in","z":"75ea2e7e.adbcb","name":"","url":"/timeline/:id","method":"post","x":97.42857360839844,"y":824.7856912612915,"wires":[["c9902dd.acfc7d","d5c23a58.372508"]]},{"id":"c9902dd.acfc7d","type":"async","z":"75ea2e7e.adbcb","name":"Validate payload","async":"if(!msg.req.params.id) { \n\tmsg.res.send(\"401\", {\"errorMessage\" : \"No ID in request\"});\n}\nreturn msg;","outputs":1,"x":313.14286041259766,"y":825.2142639160156,"wires":[["73557ecb.94ed6","d5c23a58.372508"]]},{"id":"73557ecb.94ed6","type":"async","z":"75ea2e7e.adbcb","name":"Push Card","async":"var pushCard = function (card, oauth2Client) {\n    context.global.googleapis\n        .discover('mirror', 'v1')\n        .execute(function (err, client) {\n            if (!!err) {\n                msg.res.send(\"500\", JSON.stringify(err));\n                msg.payload = JSON.stringify(err);\n                cb(msg);\n                return;\n            }  \n   \t\t    Card(client, oauth2Client, card);            \n        });\n};\n\nvar Card = function (client, oauth2Client, card) {\n    client\n        .mirror.timeline.insert(card)\n        .withAuthClient(oauth2Client)\n        .execute(function (err, data) {\n            if (!!err) {               \n                msg.res.send(\"500\", JSON.stringify(err));\n                msg.payload = JSON.stringify(err);\n                cb(msg);\n            } else {\n                msg.res.send(\"200\", {\"message\" : \"'Create and Insert Card to Glass Timeline success'\"});\n                msg.payload = \"Success\";\n                cb(msg);\n            }\n        });\n};\n// &polyline=;42.36254,-71.08726,42.36297,-71.09364,42.36579,-71.09208,42.3697,-71.102,42.37105,-71.10104,42.37067,-71.1001,42.36561,-71.10406,42.36838,-71.10878,42.36968,-71.10703\nvar card =   msg.payload;\n      \nvar oauthClient = context.global.cachedOAuthClients[msg.req.params.id].client;\npushCard(card, oauthClient);\n","outputs":1,"x":508.8571548461914,"y":827.0714015960693,"wires":[[]]},{"id":"d5c23a58.372508","type":"debug","z":"75ea2e7e.adbcb","name":"","active":false,"console":"true","complete":"true","x":308.2857208251953,"y":877.9285459518433,"wires":[]},{"id":"cae84bb5.98dbb8","type":"http in","z":"75ea2e7e.adbcb","name":"","url":"/location/:id","method":"get","x":92.5714340209961,"y":931.3571243286133,"wires":[["2dca1bb8.d58db4"]]},{"id":"2dca1bb8.d58db4","type":"async","z":"75ea2e7e.adbcb","name":"Validate payload","async":"if(!msg.req.params.id) { \n\tmsg.res.send(\"401\", {\"errorMessage\" : \"No ID in request\"});\n}\nreturn msg;","outputs":1,"x":313.2857093811035,"y":932.7856960296631,"wires":[["6f0a9ded.bd6244","886b13ff.ca7f2"]]},{"id":"886b13ff.ca7f2","type":"async","z":"75ea2e7e.adbcb","name":"Get location","async":"var getLocation = function (oauth2Client) {\n    context.global.googleapis\n        .discover('mirror', 'v1')\n        .execute(function (err, client) {\n            if (!!err) {\n                msg.statusCode = 500;\n                msg.payload = JSON.stringify(err);\n                cb(msg);\n                return;\n            }  \n   \t\t    Location(client, oauth2Client);            \n        });\n};\n\nvar Location = function (client, oauth2Client) {\n    client\n        .mirror.locations.get({id:\"latest\"})\n        .withAuthClient(oauth2Client)\n        .execute(function (err, data) {\n            if (!!err) {               \n                msg.statusCode = 500;\n                msg.payload = JSON.stringify(err);\n                cb(msg);\n            } else {\n            \tmsg.statusCode = 200;\n                msg.payload = data;             \n                cb(msg);\n            }\n        });\n};\n        \nvar oauthClient = context.global.cachedOAuthClients[msg.req.params.id].client;\ngetLocation(oauthClient);","outputs":1,"x":514.4285888671875,"y":935.2142715454102,"wires":[["f11d8466.6cd0a8","6a3cdbe3.ef9fd4"]]},{"id":"6f0a9ded.bd6244","type":"debug","z":"75ea2e7e.adbcb","name":"","active":false,"console":"true","complete":"true","x":494.00001525878906,"y":883.214262008667,"wires":[]},{"id":"f11d8466.6cd0a8","type":"debug","z":"75ea2e7e.adbcb","name":"","active":false,"console":"true","complete":"false","x":665.571403503418,"y":886.7856941223145,"wires":[]},{"id":"722a45b7.c344fc","type":"inject","z":"75ea2e7e.adbcb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":90.14286804199219,"y":1038.357120513916,"wires":[["a66ed5c2.4aba88"]]},{"id":"ab85ba9c.e1aa58","type":"debug","z":"75ea2e7e.adbcb","name":"","active":false,"console":false,"complete":false,"x":596.0000457763672,"y":1035.214301109314,"wires":[]},{"id":"a66ed5c2.4aba88","type":"async","z":"75ea2e7e.adbcb","name":"Get authentiated Glass IDs","async":"var ctx = context.global;\n//var keys = _.keys(ctx.cachedOAuthClients);\nfor(client in ctx.cachedOAuthClients) {\n\tcb({payload : ctx.cachedOAuthClients[client].name});\n}\n//msg.payload = keys;\n///return msg;\n","outputs":1,"x":337.5714569091797,"y":1037.3571300506592,"wires":[["ab85ba9c.e1aa58"]]},{"id":"e4de4fbd.73b3e","type":"http in","z":"75ea2e7e.adbcb","name":"","url":"/getAuthorized","method":"get","x":102.28572845458984,"y":984.9285202026367,"wires":[["1daa3ab2.412485"]]},{"id":"1daa3ab2.412485","type":"async","z":"75ea2e7e.adbcb","name":"Get authentiated Glass IDs","async":"var ctx = context.global;\nmsg.payload = {};\nfor(id in ctx.cachedOAuthClients) {\n\tmsg.payload[id] = {name : ctx.cachedOAuthClients[id].name}\n}\nreturn msg;\n","outputs":1,"x":341.0000228881836,"y":984.9285411834717,"wires":[["d7471cc3.33137"]]},{"id":"99cf29de.5f0ca8","type":"http response","z":"75ea2e7e.adbcb","name":"","x":713.142822265625,"y":985.6427984237671,"wires":[]},{"id":"564ed678.7fab98","type":"inject","z":"75ea2e7e.adbcb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":90.14287567138672,"y":1085.3571395874023,"wires":[["8f9b0b8e.0c4d58"]]},{"id":"8f9b0b8e.0c4d58","type":"async","z":"75ea2e7e.adbcb","name":"Clear authenticated glasses","async":"var ctx = context.global;\nctx.cachedOAuthClients = {};","outputs":1,"x":337.1428756713867,"y":1084.7857036590576,"wires":[["f5edb33f.fd178"]]},{"id":"f5edb33f.fd178","type":"debug","z":"75ea2e7e.adbcb","name":"","active":false,"console":false,"complete":false,"x":534.0000152587891,"y":1085.2142658233643,"wires":[]},{"id":"6a3cdbe3.ef9fd4","type":"http response","z":"75ea2e7e.adbcb","name":"","x":680.1428184509277,"y":936.0714120864868,"wires":[]},{"id":"d7471cc3.33137","type":"function","z":"75ea2e7e.adbcb","name":"","func":"msg.headers = {\n    \"Access-Control-Allow-Origin\": \"*\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":556,"y":984.8111028671265,"wires":[["99cf29de.5f0ca8"]]},{"id":"3e6e69f9.19e9b6","type":"http in","z":"75ea2e7e.adbcb","name":"","url":"/client","method":"get","swaggerDoc":"","x":68,"y":700,"wires":[["b1bf7c0e.d650c"]]},{"id":"f535c119.5f8d5","type":"http response","z":"75ea2e7e.adbcb","name":"","x":476.99998474121094,"y":700.0000610351562,"wires":[]},{"id":"b1bf7c0e.d650c","type":"function","z":"75ea2e7e.adbcb","name":"","func":"msg.headers = {\n    \"Access-Control-Allow-Origin\": \"*\"\n};\nif(context.global.CLIENT_ID && context.global.CLIENT_SECRET) {\n    msg.payload.client_id = context.global.CLIENT_ID;\n     msg.payload.client_secret = context.global.CLIENT_SECRET;\n} else {\n    msg.res.send(\"404\", {\"errorMessage\" : \"No Client Registered\"});\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":279.99998474121094,"y":700,"wires":[["f535c119.5f8d5"]]},{"id":"4e9dd8e4.a47428","type":"http in","z":"75ea2e7e.adbcb","name":"","url":"/client","method":"post","swaggerDoc":"","x":78,"y":666,"wires":[["b16434eb.8c0bf8"]]},{"id":"b16434eb.8c0bf8","type":"function","z":"75ea2e7e.adbcb","name":"Store data","func":"context.global.CLIENT_ID = msg.payload.client_id;\ncontext.global.CLIENT_SECRET = msg.payload.client_secret;\nreturn msg;","outputs":1,"noerr":0,"x":302,"y":666,"wires":[["dceda049.da71b"]]},{"id":"dceda049.da71b","type":"debug","z":"75ea2e7e.adbcb","name":"","active":true,"console":"false","complete":"false","x":496,"y":666,"wires":[]},{"id":"b0c92f0e.76f62","type":"http in","z":"75ea2e7e.adbcb","name":"","url":"/latlong","method":"get","swaggerDoc":"","x":75,"y":1173,"wires":[["7e777595.d179ac"]]},{"id":"c8e11e19.2dca","type":"http response","z":"75ea2e7e.adbcb","name":"","x":473.99998474121094,"y":1173.0000610351562,"wires":[]},{"id":"7e777595.d179ac","type":"function","z":"75ea2e7e.adbcb","name":"","func":"msg.headers = {\n    \"Access-Control-Allow-Origin\": \"*\"\n};\nif(context.global.lat && context.global.long) {\n    msg.payload.lat = context.global.lat;\n     msg.payload.long = context.global.long;\n} else {\n    msg.res.send(\"404\", {\"errorMessage\" : \"No lat long registered\"});\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":276.99998474121094,"y":1173,"wires":[["c8e11e19.2dca"]]},{"id":"aef8b7f6.ee7618","type":"http in","z":"75ea2e7e.adbcb","name":"","url":"/latlong","method":"post","swaggerDoc":"","x":75,"y":1139,"wires":[["a3522cd.bfeded"]]},{"id":"a3522cd.bfeded","type":"function","z":"75ea2e7e.adbcb","name":"Store data","func":"context.global.lat = msg.payload.lat;\ncontext.global.long = msg.payload.long;\nreturn msg;","outputs":1,"noerr":0,"x":299,"y":1139,"wires":[["5534bb87.0d7174"]]},{"id":"5534bb87.0d7174","type":"debug","z":"75ea2e7e.adbcb","name":"","active":true,"console":"false","complete":"false","x":493,"y":1139,"wires":[]},{"id":"64ce2347.aa5c1c","type":"http in","z":"75ea2e7e.adbcb","name":"","url":"/patients","method":"get","swaggerDoc":"","x":76,"y":1251,"wires":[["12c1501.fb217b"]]},{"id":"b6f7000f.bef67","type":"http response","z":"75ea2e7e.adbcb","name":"","x":474.99998474121094,"y":1251.0000610351562,"wires":[]},{"id":"12c1501.fb217b","type":"function","z":"75ea2e7e.adbcb","name":"","func":"msg.headers = {\n    \"Access-Control-Allow-Origin\": \"*\"\n};\nif(context.global.patients) {\n    msg.payload.patients = context.global.patients;\n} else {\n    msg.res.send(\"404\", {\"errorMessage\" : \"No patients registered\"});\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":277.99998474121094,"y":1251,"wires":[["b6f7000f.bef67"]]},{"id":"cd328e02.2fa99","type":"http in","z":"75ea2e7e.adbcb","name":"","url":"/patients","method":"post","swaggerDoc":"","x":85,"y":1304,"wires":[["81a747b8.a67158"]]},{"id":"81a747b8.a67158","type":"function","z":"75ea2e7e.adbcb","name":"Store data","func":"context.global.patients[msg.payload.patient.name] = msg.payload.patient;\nreturn msg;","outputs":1,"noerr":0,"x":299,"y":1304,"wires":[["ba5145be.c55448"]]},{"id":"ba5145be.c55448","type":"debug","z":"75ea2e7e.adbcb","name":"","active":true,"console":"false","complete":"false","x":493,"y":1304,"wires":[]}],"_revisions":{"start":1,"ids":["24d2788392585e367ce03946c502847f"]}},{"_id":"connectedambulance-acitoslo/settings","_rev":"1-aaf467ec807c1c54699ab4bc1c4e6ef0","settings":{"nodes":{"node-red":{"name":"node-red","version":"0.13.4","nodes":{"sentiment":{"name":"sentiment","types":["sentiment"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/analysis/72-sentiment.js"},"inject":{"name":"inject","types":["inject"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/core/20-inject.js"},"catch":{"name":"catch","types":["catch"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/core/25-catch.js"},"status":{"name":"status","types":["status"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/core/25-status.js"},"debug":{"name":"debug","types":["debug"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/core/58-debug.js"},"function":{"name":"function","types":["function"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/core/80-function.js"},"template":{"name":"template","types":["template"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/core/80-template.js"},"delay":{"name":"delay","types":["delay"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/core/89-delay.js"},"trigger":{"name":"trigger","types":["trigger"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/core/89-trigger.js"},"comment":{"name":"comment","types":["comment"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/core/90-comment.js"},"unknown":{"name":"unknown","types":["unknown"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/core/98-unknown.js"},"mqtt":{"name":"mqtt","types":["mqtt in","mqtt out","mqtt-broker"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/io/10-mqtt.js"},"httpin":{"name":"httpin","types":["http in","http response"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/io/21-httpin.js"},"httprequest":{"name":"httprequest","types":["http request"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/io/21-httprequest.js"},"websocket":{"name":"websocket","types":["websocket in","websocket out","websocket-listener","websocket-client"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/io/22-websocket.js"},"switch":{"name":"switch","types":["switch"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/logic/10-switch.js"},"change":{"name":"change","types":["change"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/logic/15-change.js"},"range":{"name":"range","types":["range"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/logic/16-range.js"},"CSV":{"name":"CSV","types":["csv"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/parsers/70-CSV.js"},"HTML":{"name":"HTML","types":["html"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/parsers/70-HTML.js"},"JSON":{"name":"JSON","types":["json"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/parsers/70-JSON.js"},"XML":{"name":"XML","types":["xml"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/parsers/70-XML.js"}}},"node-red-node-email":{"name":"node-red-node-email","version":"0.1.6","nodes":{"email":{"name":"email","types":["e-mail","e-mail in"],"enabled":true,"module":"node-red-node-email","file":"/home/vcap/app/node_modules/node-red/node_modules/node-red-node-email/61-email.js"}}},"node-red-node-feedparser":{"name":"node-red-node-feedparser","version":"0.1.5","nodes":{"feedparse":{"name":"feedparse","types":["feedparse"],"enabled":true,"module":"node-red-node-feedparser","file":"/home/vcap/app/node_modules/node-red/node_modules/node-red-node-feedparser/32-feedparse.js"}}},"node-red-node-rbe":{"name":"node-red-node-rbe","version":"0.1.5","nodes":{"rbe":{"name":"rbe","types":["rbe"],"enabled":true,"module":"node-red-node-rbe","file":"/home/vcap/app/node_modules/node-red/node_modules/node-red-node-rbe/rbe.js"}}},"node-red-node-serialport":{"name":"node-red-node-serialport","version":"0.1.2","nodes":{"serialport":{"name":"serialport","types":["serial in","serial out","serial-port"],"enabled":true,"module":"node-red-node-serialport","file":"/home/vcap/app/node_modules/node-red/node_modules/node-red-node-serialport/25-serial.js"}}},"node-red-node-twitter":{"name":"node-red-node-twitter","version":"0.1.6","nodes":{"twitter":{"name":"twitter","types":["twitter-credentials","twitter in","twitter out"],"enabled":true,"module":"node-red-node-twitter","file":"/home/vcap/app/node_modules/node-red/node_modules/node-red-node-twitter/27-twitter.js"}}},"node-red-bluemix-nodes":{"name":"node-red-bluemix-nodes","version":"1.0.2","nodes":{"tcp":{"name":"tcp","types":["tcp in","tcp out","tcp request"],"enabled":true,"module":"node-red-bluemix-nodes","file":"/home/vcap/app/node_modules/node-red-bluemix-nodes/io/31-tcpin-cf.js"},"udp":{"name":"udp","types":["udp out"],"enabled":true,"module":"node-red-bluemix-nodes","file":"/home/vcap/app/node_modules/node-red-bluemix-nodes/io/32-udp-cf.js"},"mqlight":{"name":"mqlight","types":["mqlight in","mqlight out"],"enabled":true,"module":"node-red-bluemix-nodes","file":"/home/vcap/app/node_modules/node-red-bluemix-nodes/mqlight/mqlight.js"},"mongodb":{"name":"mongodb","types":["mongodb","mongodb out","mongodb in"],"enabled":true,"module":"node-red-bluemix-nodes","file":"/home/vcap/app/node_modules/node-red-bluemix-nodes/mongo/66-mongodb-cf.js"},"twilio":{"name":"twilio","types":["twilio out","twilio-api"],"enabled":true,"module":"node-red-bluemix-nodes","file":"/home/vcap/app/node_modules/node-red-bluemix-nodes/twilio/56-twilio-cf.js"},"weather":{"name":"weather","types":["weather_insights"],"enabled":true,"module":"node-red-bluemix-nodes","file":"/home/vcap/app/node_modules/node-red-bluemix-nodes/weather/weather_insights.js"}}},"node-red-contrib-async":{"name":"node-red-contrib-async","version":"0.0.4","nodes":{"async":{"name":"async","types":["async"],"enabled":true,"module":"node-red-contrib-async","file":"/home/vcap/app/node_modules/node-red-contrib-async/async.js"}}},"node-red-contrib-bluemix-hdfs":{"name":"node-red-contrib-bluemix-hdfs","version":"0.2.5","nodes":{"bluemixhdfs":{"name":"bluemixhdfs","types":["ibm hdfs in","ibm hdfs"],"enabled":true,"module":"node-red-contrib-bluemix-hdfs","file":"/home/vcap/app/node_modules/node-red-contrib-bluemix-hdfs/application/47-ibmhdfs-cf.js"}}},"node-red-contrib-ibmpush":{"name":"node-red-contrib-ibmpush","version":"0.2.3","nodes":{"ibmpush":{"name":"ibmpush","types":["ibmpush"],"enabled":true,"module":"node-red-contrib-ibmpush","file":"/home/vcap/app/node_modules/node-red-contrib-ibmpush/ibmpush/88-ibmpush.js"}}},"node-red-contrib-scx-ibmiotapp":{"name":"node-red-contrib-scx-ibmiotapp","version":"0.0.38","nodes":{"ibmiotapp":{"name":"ibmiotapp","types":["ibmiot","ibmiot out","ibmiot in"],"enabled":true,"module":"node-red-contrib-scx-ibmiotapp","file":"/home/vcap/app/node_modules/node-red-contrib-scx-ibmiotapp/application/97-iotnewapp-cf.js"}}},"node-red-node-cf-cloudant":{"name":"node-red-node-cf-cloudant","version":"0.2.16","nodes":{"cloudant-cf":{"name":"cloudant-cf","types":["cloudant","cloudant out","cloudant in"],"enabled":true,"module":"node-red-node-cf-cloudant","file":"/home/vcap/app/node_modules/node-red-node-cf-cloudant/77-cloudant-cf.js"}}},"node-red-nodes-cf-sqldb-dashdb":{"name":"node-red-nodes-cf-sqldb-dashdb","version":"0.2.15","nodes":{"sqldb-dashdb-cf":{"name":"sqldb-dashdb-cf","types":["sqldb out","dashDB out","sqldb in","dashDB in"],"enabled":true,"module":"node-red-nodes-cf-sqldb-dashdb","file":"/home/vcap/app/node_modules/node-red-nodes-cf-sqldb-dashdb/98-sqldb-dashdb-cf.js"}}}}},"_revisions":{"start":1,"ids":["aaf467ec807c1c54699ab4bc1c4e6ef0"]}},{"_id":"connectecambulanceacitoslo/settings","_rev":"1-aaf467ec807c1c54699ab4bc1c4e6ef0","settings":{"nodes":{"node-red":{"name":"node-red","version":"0.13.4","nodes":{"sentiment":{"name":"sentiment","types":["sentiment"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/analysis/72-sentiment.js"},"inject":{"name":"inject","types":["inject"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/core/20-inject.js"},"catch":{"name":"catch","types":["catch"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/core/25-catch.js"},"status":{"name":"status","types":["status"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/core/25-status.js"},"debug":{"name":"debug","types":["debug"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/core/58-debug.js"},"function":{"name":"function","types":["function"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/core/80-function.js"},"template":{"name":"template","types":["template"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/core/80-template.js"},"delay":{"name":"delay","types":["delay"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/core/89-delay.js"},"trigger":{"name":"trigger","types":["trigger"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/core/89-trigger.js"},"comment":{"name":"comment","types":["comment"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/core/90-comment.js"},"unknown":{"name":"unknown","types":["unknown"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/core/98-unknown.js"},"mqtt":{"name":"mqtt","types":["mqtt in","mqtt out","mqtt-broker"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/io/10-mqtt.js"},"httpin":{"name":"httpin","types":["http in","http response"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/io/21-httpin.js"},"httprequest":{"name":"httprequest","types":["http request"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/io/21-httprequest.js"},"websocket":{"name":"websocket","types":["websocket in","websocket out","websocket-listener","websocket-client"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/io/22-websocket.js"},"switch":{"name":"switch","types":["switch"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/logic/10-switch.js"},"change":{"name":"change","types":["change"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/logic/15-change.js"},"range":{"name":"range","types":["range"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/logic/16-range.js"},"CSV":{"name":"CSV","types":["csv"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/parsers/70-CSV.js"},"HTML":{"name":"HTML","types":["html"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/parsers/70-HTML.js"},"JSON":{"name":"JSON","types":["json"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/parsers/70-JSON.js"},"XML":{"name":"XML","types":["xml"],"enabled":true,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/parsers/70-XML.js"}}},"node-red-node-email":{"name":"node-red-node-email","version":"0.1.6","nodes":{"email":{"name":"email","types":["e-mail","e-mail in"],"enabled":true,"module":"node-red-node-email","file":"/home/vcap/app/node_modules/node-red/node_modules/node-red-node-email/61-email.js"}}},"node-red-node-feedparser":{"name":"node-red-node-feedparser","version":"0.1.5","nodes":{"feedparse":{"name":"feedparse","types":["feedparse"],"enabled":true,"module":"node-red-node-feedparser","file":"/home/vcap/app/node_modules/node-red/node_modules/node-red-node-feedparser/32-feedparse.js"}}},"node-red-node-rbe":{"name":"node-red-node-rbe","version":"0.1.5","nodes":{"rbe":{"name":"rbe","types":["rbe"],"enabled":true,"module":"node-red-node-rbe","file":"/home/vcap/app/node_modules/node-red/node_modules/node-red-node-rbe/rbe.js"}}},"node-red-node-serialport":{"name":"node-red-node-serialport","version":"0.1.2","nodes":{"serialport":{"name":"serialport","types":["serial in","serial out","serial-port"],"enabled":true,"module":"node-red-node-serialport","file":"/home/vcap/app/node_modules/node-red/node_modules/node-red-node-serialport/25-serial.js"}}},"node-red-node-twitter":{"name":"node-red-node-twitter","version":"0.1.6","nodes":{"twitter":{"name":"twitter","types":["twitter-credentials","twitter in","twitter out"],"enabled":true,"module":"node-red-node-twitter","file":"/home/vcap/app/node_modules/node-red/node_modules/node-red-node-twitter/27-twitter.js"}}},"node-red-bluemix-nodes":{"name":"node-red-bluemix-nodes","version":"1.0.2","nodes":{"tcp":{"name":"tcp","types":["tcp in","tcp out","tcp request"],"enabled":true,"module":"node-red-bluemix-nodes","file":"/home/vcap/app/node_modules/node-red-bluemix-nodes/io/31-tcpin-cf.js"},"udp":{"name":"udp","types":["udp out"],"enabled":true,"module":"node-red-bluemix-nodes","file":"/home/vcap/app/node_modules/node-red-bluemix-nodes/io/32-udp-cf.js"},"mqlight":{"name":"mqlight","types":["mqlight in","mqlight out"],"enabled":true,"module":"node-red-bluemix-nodes","file":"/home/vcap/app/node_modules/node-red-bluemix-nodes/mqlight/mqlight.js"},"mongodb":{"name":"mongodb","types":["mongodb","mongodb out","mongodb in"],"enabled":true,"module":"node-red-bluemix-nodes","file":"/home/vcap/app/node_modules/node-red-bluemix-nodes/mongo/66-mongodb-cf.js"},"twilio":{"name":"twilio","types":["twilio out","twilio-api"],"enabled":true,"module":"node-red-bluemix-nodes","file":"/home/vcap/app/node_modules/node-red-bluemix-nodes/twilio/56-twilio-cf.js"},"weather":{"name":"weather","types":["weather_insights"],"enabled":true,"module":"node-red-bluemix-nodes","file":"/home/vcap/app/node_modules/node-red-bluemix-nodes/weather/weather_insights.js"}}},"node-red-contrib-async":{"name":"node-red-contrib-async","version":"0.0.4","nodes":{"async":{"name":"async","types":["async"],"enabled":true,"module":"node-red-contrib-async","file":"/home/vcap/app/node_modules/node-red-contrib-async/async.js"}}},"node-red-contrib-bluemix-hdfs":{"name":"node-red-contrib-bluemix-hdfs","version":"0.2.5","nodes":{"bluemixhdfs":{"name":"bluemixhdfs","types":["ibm hdfs in","ibm hdfs"],"enabled":true,"module":"node-red-contrib-bluemix-hdfs","file":"/home/vcap/app/node_modules/node-red-contrib-bluemix-hdfs/application/47-ibmhdfs-cf.js"}}},"node-red-contrib-ibmpush":{"name":"node-red-contrib-ibmpush","version":"0.2.3","nodes":{"ibmpush":{"name":"ibmpush","types":["ibmpush"],"enabled":true,"module":"node-red-contrib-ibmpush","file":"/home/vcap/app/node_modules/node-red-contrib-ibmpush/ibmpush/88-ibmpush.js"}}},"node-red-contrib-scx-ibmiotapp":{"name":"node-red-contrib-scx-ibmiotapp","version":"0.0.38","nodes":{"ibmiotapp":{"name":"ibmiotapp","types":["ibmiot","ibmiot out","ibmiot in"],"enabled":true,"module":"node-red-contrib-scx-ibmiotapp","file":"/home/vcap/app/node_modules/node-red-contrib-scx-ibmiotapp/application/97-iotnewapp-cf.js"}}},"node-red-node-cf-cloudant":{"name":"node-red-node-cf-cloudant","version":"0.2.16","nodes":{"cloudant-cf":{"name":"cloudant-cf","types":["cloudant","cloudant out","cloudant in"],"enabled":true,"module":"node-red-node-cf-cloudant","file":"/home/vcap/app/node_modules/node-red-node-cf-cloudant/77-cloudant-cf.js"}}},"node-red-nodes-cf-sqldb-dashdb":{"name":"node-red-nodes-cf-sqldb-dashdb","version":"0.2.15","nodes":{"sqldb-dashdb-cf":{"name":"sqldb-dashdb-cf","types":["sqldb out","dashDB out","sqldb in","dashDB in"],"enabled":true,"module":"node-red-nodes-cf-sqldb-dashdb","file":"/home/vcap/app/node_modules/node-red-nodes-cf-sqldb-dashdb/98-sqldb-dashdb-cf.js"}}}}},"_revisions":{"start":1,"ids":["aaf467ec807c1c54699ab4bc1c4e6ef0"]}}]
