defaults/flow.json
[{"id":"d2962c5a.2d69d","type":"websocket-listener","path":"/ws/ambulance/location","wholemsg":"false"},{"id":"cb990eae.3466f","type":"http request","z":"cfd90a80.cb54a8","name":"Get ambulance location","method":"GET","url":"","x":665.0437469482422,"y":281.4126892089844,"wires":[["e7508c47.18af7","c0b52f69.3f4ad"]]},{"id":"82cc7014.7d339","type":"websocket out","z":"cfd90a80.cb54a8","name":"","server":"d2962c5a.2d69d","client":"","x":1201.6427459716797,"y":333.8849182128906,"wires":[]},{"id":"33ab407c.cc54c","type":"http in","z":"cfd90a80.cb54a8","name":"","url":"/ambulanceLocation","method":"get","x":114,"y":219.77780151367188,"wires":[["19767215.e6898e","40601b18.bf9fe4"]]},{"id":"19767215.e6898e","type":"http response","z":"cfd90a80.cb54a8","name":"","x":311.00001525878906,"y":219.77780151367188,"wires":[]},{"id":"a49153bb.5b6eb","type":"function","z":"cfd90a80.cb54a8","name":"Construct Glass Notification","func":"var ambuLat = msg.ambuLat;\nvar ambuLng = msg.ambuLng;\nvar patientLat = msg.patientLat;\nvar patientLng = msg.patientLng;\nvar description = msg.description;\n\nvar kjernejournal;\nif(msg.patientName) {\n    var patient;\n\tpatient = context.global.patients[msg.patientName];\n\tkjernejournal = '<article><section><h1 class=\"text-large white\">Patient</h1><h2>' + patient.name + '</h2><h3 class=\"blue\">Critical medical data</h3></section><footer class=\"blue\">Swipe for more</footer></article>' +\n\t                '<article><section><table class=\"align-justify\"><tr><td class=\"text-large\">' + patient.name + '</td><td>' + patient.sex + '/' + patient.age + '/' + patient.bloodType +'</td></tr>'; \n\t                \n\tvar medicalHistory = \"\";\n\tpatient.medicalHistory.forEach(function (entry) {\n\t    medicalHistory += '<tr><td class=\"text-small\">' + entry + '</td><td></td></tr>';\n\t});\n\tkjernejournal += medicalHistory;\n\tkjernejournal += '</table></section><footer class=\"blue\">Medical history</footer></article>'\n\t\n\tkjernejournal += '<article><section><table class=\"align-justify\"><tr><td class=\"text-large\">' + patient.name + '</td><td>' + patient.sex + '/' + patient.age + '/' + patient.bloodType +'</td></tr>';\n\t\n\tvar prescriptions = \"\";\n\tpatient.prescriptions.forEach(function (entry) {\n\t    prescriptions += '<tr class=\"text-small\"><td>'+ entry +'</td><td></td></tr>';\n\t});\n\tkjernejournal += prescriptions;\n\tkjernejournal += '</table></section><footer class=\"blue\">Prescriptions</footer></article>';\n\t\n\tkjernejournal += '<article><section><table class=\"align-justify\"><tr><td class=\"text-large\">' + patient.name + '</td><td>' + patient.sex + '/' + patient.age + '/' + patient.bloodType +'</td></tr>';\n\tvar allergies = \"\";\n\tpatient.allergies.forEach(function (entry) {\n\t    allergies += '<tr class=\"text-small\"><td>'+ entry +'</td><td></td></tr>';\n\t});\n\tkjernejournal += allergies;\n\tkjernejournal += '</table></section><footer class=\"blue\">Allergies</footer></article>';\n}\n\n//var addr = \"glass://map?w=240&h=360&marker=1;\" + patientLat + \",\" + patientLng;\n//var addr = \"glass://map?w=240&h=360&marker=0;\" + ambuLat + \",\" + ambuLng + \"&marker=1;\" + patientLat + \",\" + patientLng;\nvar addr = msg.streetViewUrl;\n\n/*  Insert payload into Google Glass Timeline\n *  https://developers.google.com/glass/v1/reference/timeline/insert\n*/\n\nmsg.payload = {\n    \"notification\": {\n      \"level\": \"DEFAULT\"\n    },\n    \"callbackUrl\": \"https://mirrornotifications.appspot.com/forward?url=http://localhost:8081/reply\",\n    \"menuItems\": [{\n      \"action\": \"NAVIGATE\"\n    }],\n    \"html\": \"<article class=\\\"cover-only\\\"><figure><img src=\\\"\" + addr +  \"\\\" height=\\\"360\\\" width=\\\"240\\\"></figure><section><p style=\\\"padding-top:2px\\\" class=\\\"text-small\\\">Emergency response request:</p><div class=\\\"text-auto-size\\\"><p class=\\\"blue text-small\\\">\" + description + \"</p><p class=\\\"yellow text-small\\\">\"+msg.payload.results[0].formatted_address+\"</p></div></section><footer>Tap for details</footer></article>\"+kjernejournal,\n    //\"html\": \"<article class=\\\"cover-only\\\"><figure><img src=\\\"\" + addr +  \"\\\" height=\\\"360\\\" width=\\\"240\\\"></figure><section><p class=\\\"text-small\\\">Utrykningsforesp?rsel:</p><div class=\\\"text-auto-size\\\"><p class=\\\"blue text-small\\\">\" + description + \"</p><p class=\\\"yellow text-small\\\">\"+msg.payload.results[0].formatted_address+\"</p></div></section><footer>Tap for more</footer></article>\"+kjernejournal,\n    \"location\": {\n      \"latitude\": msg.payload.results[0].latitude,\n      \"longitude\": msg.payload.results[0].longitude,\n      \"displayName\": msg.payload.results[0].formatted_address\n    }\n};\nmsg.url = context.global.url + \"/timeline/\"+ msg.topic;\nreturn msg; ","outputs":"1","noerr":0,"x":706.5715179443359,"y":482.3492431640625,"wires":[["81dc8f2c.7e237","c0aef2ca.3f511"]]},{"id":"81dc8f2c.7e237","type":"http request","z":"cfd90a80.cb54a8","name":"Send notification to ambulance","method":"POST","url":"","x":1163.5714569091797,"y":416.5992431640625,"wires":[["dec29352.213d7","ffbd57d6.0042a8"]]},{"id":"21cea847.de3158","type":"http response","z":"cfd90a80.cb54a8","name":"Send response to OperationsView ","x":1594.3214569091797,"y":414.34930419921875,"wires":[]},{"id":"f0743643.0f8bc8","type":"debug","z":"cfd90a80.cb54a8","name":"","active":false,"console":"false","complete":"false","x":1144.9286346435547,"y":234.52780151367188,"wires":[]},{"id":"40601b18.bf9fe4","type":"http request","z":"cfd90a80.cb54a8","name":"Get available Glasses","method":"GET","url":"http://{{req.headers.host}}/getAuthorized","x":298.9999694824219,"y":158.77780151367188,"wires":[["f4809cfa.0b7f6"]]},{"id":"2b67bb74.d49844","type":"inject","z":"cfd90a80.cb54a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":105,"y":158.77780151367188,"wires":[["40601b18.bf9fe4"]]},{"id":"e1f831dc.1e07d","type":"function","z":"cfd90a80.cb54a8","name":"Create one msg per Glass","func":"\ncontext.global.glasses = msg.payload;\nvar messages = [];\nfor(var id in msg.payload) {\t\n\tmessages.push({topic: id, name: msg.payload[id].name});\n}\nreturn [messages];","outputs":1,"x":665.0000152587891,"y":158.49209594726562,"wires":[["8ed7edb4.71281"]]},{"id":"f4809cfa.0b7f6","type":"json","z":"cfd90a80.cb54a8","name":"","x":471.00001525878906,"y":158.77780151367188,"wires":[["e1f831dc.1e07d"]]},{"id":"4d2a1eaa.b2d5e","type":"function","z":"cfd90a80.cb54a8","name":"Add Glass ID and name to payload","func":"msg.payload = {id: msg.topic, name: msg.name, payload: msg.payload};\nreturn msg;","outputs":1,"x":903.4285736083984,"y":335.5278015136719,"wires":[["82cc7014.7d339","f0743643.0f8bc8"]]},{"id":"e7508c47.18af7","type":"json","z":"cfd90a80.cb54a8","name":"","x":677.4285736083984,"y":335.0278015136719,"wires":[["4d2a1eaa.b2d5e"]]},{"id":"599a8a6b.a66574","type":"inject","z":"cfd90a80.cb54a8","name":"On startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":92.00003051757812,"y":268.7778015136719,"wires":[["dbcf4504.2430b8"]]},{"id":"dbcf4504.2430b8","type":"function","z":"cfd90a80.cb54a8","name":"Register patients","func":"var patientsJson = {};\npatientsJson['John Doe'] = {\n    \"name\": \"John Doe\",\n    \"age\": \"39\",\n    \"sex\": \"M\",\n    \"organDonor\": true,\n    \"bloodType\": \"A+\",\n    \"medicalHistory\": [\"Diabetic\", \"Spinal Disc Herniation\"],\n    \"prescriptions\": [\"Insulin\"],\n    \"allergies\": [\"Penicilin\", \"Seafood\"]\n};\npatientsJson['Jane Fisher'] = {\n    \"name\": \"Jane Fisher\",\n    \"age\": \"33\",\n    \"sex\": \"F\",\n    \"organDonor\": false,\n    \"bloodType\": \"0-\",\n    \"medicalHistory\": [\"Anaphylactic reaction\", \"Mild depression\"],\n    \"prescriptions\": [\"Trimethoprim\"],\n    \"allergies\": [\"Insect stings\", \"Sun sensitivity\"]\n};\npatientsJson['Helen Driscoll'] = {\n    \"name\": \"Helen Driscoll\",\n    \"age\": \"21\",\n    \"sex\": \"F\",\n    \"organDonor\": true,\n    \"bloodType\": \"B+\",\n    \"medicalHistory\": [\"Anxiety\"],\n    \"prescriptions\": [\"Cerazette\", \"Cetrizine\", \"Diazepam\"],\n    \"allergies\": [\"Pollen\", \"Egg\"]\n};\n\ncontext.global.patients = patientsJson;\n\n","outputs":1,"noerr":0,"x":264.0000305175781,"y":268.7778015136719,"wires":[[]]},{"id":"2598dcb9.da6724","type":"debug","z":"cfd90a80.cb54a8","name":"","active":false,"console":"false","complete":"true","x":879.7142791748047,"y":212.0635223388672,"wires":[]},{"id":"c0b52f69.3f4ad","type":"debug","z":"cfd90a80.cb54a8","name":"","active":false,"console":"false","complete":"res.headers","x":889.4443817138672,"y":281.7778015136719,"wires":[]},{"id":"8ed7edb4.71281","type":"function","z":"cfd90a80.cb54a8","name":"Set msg.url","func":"msg.url = context.global.url + \"/location/\"+ msg.topic;\nreturn msg;","outputs":1,"x":656.5555267333984,"y":211.77780151367188,"wires":[["2598dcb9.da6724","cb990eae.3466f"]]},{"id":"5f66d992.a09928","type":"inject","z":"cfd90a80.cb54a8","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":true,"x":105.77777481079102,"y":40,"wires":[["920e2f8.f6df1d"]]},{"id":"920e2f8.f6df1d","type":"function","z":"cfd90a80.cb54a8","name":"context variables","func":"context.global.url = \"http://ambulance-iot-demo.mybluemix.net\";\ncontext.global.CLIENT_ID = \"962218046419-hktpbilidu2uq0210ho99ufj23svq0tc.apps.googleusercontent.com\";\ncontext.global.CLIENT_SECRET = \"rrZObfMe1Fzinuiixh6udEIL\";\ncontext.global.authID = '';\ncontext.global.user = '';\nmsg.wtf = context.global.VCAP_APPLICATION;\nreturn msg;","outputs":1,"noerr":0,"x":303.8333282470703,"y":41.00000762939453,"wires":[["98a52f40.78d0e"]]},{"id":"c0aef2ca.3f511","type":"debug","z":"cfd90a80.cb54a8","name":"","active":false,"console":"false","complete":"payload.html","x":1129.0001678466797,"y":480.0001220703125,"wires":[]},{"id":"dec29352.213d7","type":"debug","z":"cfd90a80.cb54a8","name":"","active":false,"console":"false","complete":"false","x":1462.0001678466797,"y":324,"wires":[]},{"id":"33ce8825.cc3178","type":"http in","z":"cfd90a80.cb54a8","name":"","url":"/operations","method":"get","swaggerDoc":"","x":90,"y":95,"wires":[["c042da45.3fbd28"]]},{"id":"c042da45.3fbd28","type":"template","z":"cfd90a80.cb54a8","name":"OperationsView","field":"","template":"<!DOCTYPE html>\n<html>\n\n<head>\n\t<title>Ambulance Dispatcher</title>\n\t<script type=\"text/javascript\" src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js\"></script>\n\t<script type=\"text/javascript\" src=\"//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js\"></script>\n\t<link rel=\"stylesheet\" href=\"//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css\">\n\n\t<style type=\"text/css\" media=\"screen\">\n\t\t#map {\n\t\t\tposition: absolute;\n\t\t\ttop: 0;\n\t\t\tbottom: 0;\n\t\t\tleft: 0;\n\t\t\tright: 0;\n\t\t}\n\t\t\n\t\t#panorama {\n\t\t\twidth: 100%;\n\t\t\theight: 300px;\n\t\t\tz-index: 999;\n\t\t}\n\t\t\n\t\t#dispatch {\n\t\t\tfloat: right;\n\t\t\twidth: 300px;\n\t\t\theight: 18px;\n\t\t\tz-index: 999;\n\t\t\tposition: absolute;\n\t\t}\n\t\t\n\t\thtml,\n\t\tbody,\n\t\t.row,\n\t\t#view,\n\t\t#map,\n\t\t#mapPartial,\n\t\t#infoPartial {\n\t\t\theight: 100%;\n\t\t}\n\t\t\n\t\t#infoPartial {\n\t\t\tbackground: LightGrey;\n\t\t\tpadding-right: 15px;\n\t\t}\n\t\t\n\t\t.modal-footer {\n\t\t\ttext-align: center;\n\t\t}\n\t\t\n\t\t#dispatchBtn {\n\t\t\twidth: 95%;\n\t\t}\n\t\t\n\t\t#endCallBtn {\n\t\t\twidth: 95%;\n\t\t}\n\t\t\n\t\t#patientInfoBtn {\n\t\t\twidth: 95%;\n\t\t\tmargin: 0 auto;\n\t\t}\n\t\t\n\t\t#buttonCenter {\n\t\t\ttext-align: center;\n\t\t}\n\t\t\n\t\t#availableAmbulances {\n\t\t\tposition: relative;\n\t\t\theight: 180px;\n\t\t\tclear:both;\n\t\t\tpadding-top:20px;\n\t\t}\n\t\t\n\t\t#patientSearchInfoResult {\n\t\t\ttext-align: center;\n\t\t}\n\t\t\n\t\t.controls {\n\t\t\tmargin-top: 10px;\n\t\t\tborder: 1px solid transparent;\n\t\t\tborder-radius: 2px 0 0 2px;\n\t\t\tbox-sizing: border-box;\n\t\t\t-moz-box-sizing: border-box;\n\t\t\theight: 32px;\n\t\t\toutline: none;\n\t\t\tbox-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);\n\t\t}\n\t\t\n\t\t#pac-input {\n\t\t\tbackground-color: #fff;\n\t\t\tfont-family: Roboto;\n\t\t\tfont-size: 15px;\n\t\t\tfont-weight: 300;\n\t\t\tmargin-left: 30px;\n\t\t\tpadding: 0 11px 0 13px;\n\t\t\ttext-overflow: ellipsis;\n\t\t\twidth: 300px;\n\t\t}\n\t\t\n\t\t#pac-input:focus {\n\t\t\tborder-color: #4d90fe;\n\t\t}\n\t\t\n\t\t.pac-container {\n\t\t\tfont-family: Roboto;\n\t\t}\n\t</style>\n\n</head>\n\n<body>\n<!-- Modal -->\n<div class=\"modal fade\" id=\"authModal\" tabindex=\"-1\" role=\"dialog\" aria-labelledby=\"myModalLabel\">\n  <div class=\"modal-dialog\" role=\"document\">\n    <div class=\"modal-content\">\n      <div class=\"modal-header\">\n        <button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>\n        <h4 class=\"modal-title\" id=\"myModalLabel\">You are not authed</h4>\n      </div>\n      <div class=\"modal-body\">\n          <h4>Why do I need to auth?</h4>\n          <p>To be able to send request to your Google-Glasses or to <a href=\"https://developers.google.com/glass/tools-downloads/playground\"> Google Playground</a> you need to be authed with your Google Account</p>\n          <h4>How to auth?</h4>\n        <p>Log in with your google-account, which you should already have configured, <a id=\"authLink\" href=\"\">here</a></p>\n      </div>\n      <div class=\"modal-footer\">\n        <button type=\"button\" class=\"btn btn-default\" data-dismiss=\"modal\">Close</button>\n   <a id=\"authButton\" class = \"btn btn-primary\" href = \"\" role = \"button\">Auth!</a>\n      </div>\n    </div>\n  </div>\n</div>\n\t\n\t<div id=\"dispatchModal\" class=\"modal fade\" role=\"dialog\">\n\t\t<div class=\"modal-dialog\">\n\n\t\t\t<!-- Modal content-->\n\t\t\t<div class=\"modal-content\">\n\t\t\t\t<div class=\"modal-header\">\n\t\t\t\t\t<button type=\"button\" class=\"close\" data-dismiss=\"modal\">&times;</button>\n\t\t\t\t\t<h4 class=\"modal-title\">Dispatch ambulance to this location</h4>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"modal-body\">\n\t\t\t\t\t<div id=\"panorama\">\n\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"modal-footer\">\n\t\t\t\t\t<button id=\"dispatchBtn\" class=\"btn btn-success\" type=\"submit\">Dispatch Ambulance</button>\n\t\t\t\t</div>\n\t\t\t</div>\n\n\t\t</div>\n\t</div>\n\n\t<div id=\"patientModal\" class=\"modal fade\" role=\"dialog\">\n\t\t<div class=\"modal-dialog\">\n\n\t\t\t<!-- Modal content-->\n\t\t\t<div class=\"modal-content\">\n\t\t\t\t<div class=\"modal-header\">\n\t\t\t\t\t<button type=\"button\" class=\"close\" data-dismiss=\"modal\">&times;</button>\n\t\t\t\t\t<h4 class=\"modal-title\">Send patient information to ambulance</h4>\n\t\t\t\t</div>\n\t\t\t\t<form id=\"patientInfo\">\n\t\t\t\t\t<div class=\"modal-body\">\n\t\t\t\t\t\t<div>\n\t\t\t\t\t\t\t<div class=\"form-group\">\n\t\t\t\t\t\t\t\t<label for=\"patientName\">Patient name</label>\n\t\t\t\t\t\t\t\t<div class=\"input-group\">\n\t\t\t\t\t\t\t\t\t<input type=\"text\" class=\"form-control\" id=\"patientName\" placeholder=\"Search for patient ...\">\n\t\t\t\t\t\t\t\t\t<span class=\"input-group-btn\">\n\t\t\t\t\t\t\t\t        <button id=\"patientSearchBtn\" class=\"btn btn-default\" type=\"button\"><span class=\"glyphicon glyphicon-search\"></span></button>\n\t\t\t\t\t\t\t\t    </span>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t<div id=\"patientSearchInfoResult\">\n\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t<div class=\"form-group\">\n\t\t\t\t\t\t\t\t<label for=\"description\">Short description of incident</label>\n\t\t\t\t\t\t\t\t<input type=\"text\" class=\"form-control\" id=\"description\" placeholder=\"Short description of incident\">\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t\t<div class=\"modal-footer\">\n\t\t\t\t\t\t<button id=\"patientInfoBtn\" class=\"btn btn-primary\" type=\"submit\">Send patient information</button>\n\t\t\t\t\t</div>\n\t\t\t\t</form>\n\t\t\t</div>\n\t\t</div>\n\t</div>\n\n\t<div class=\"row\" id=\"view\">\n\t\t<div class=\"col-md-9 \" id=\"mapPartial\">\n\t\t\t<div>\n\t\t\t\t<div id=\"panorama\">\n\n\t\t\t\t</div>\n\t\t\t</div>\n\t\t\t<input id=\"pac-input\" class=\"controls\" type=\"text\" placeholder=\"Search Box\">\n\t\t\t<div id=\"map\"></div>\n\t\t</div>\n\t\t<div class=\"col-md-3\" id=\"infoPartial\">\n\t\t\t<h2><span class=\"glyphicon glyphicon-earphone\"></span>911 Dispatcher</h2>\n\t\t\t<h5>Dispatcher ID: #10034</h5>\n\t\t\t<h5>Call ID: #134525</h5>\n\t\t\t<h5>Call Started: <script type=\"text/javascript\">document.write(new Date().toLocaleTimeString());</script></h5>\n\t\t\t<button id=\"endCallBtn\" class=\"btn btn-danger\" type=\"submit\">End call</button>\n\t\t\t<h3>Log</h3>\n\t\t\t<div>\n\t\t\t\t<table id=\"log\" class=\"table table-striped\">\n\t\t\t\t\t<thead>\n\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t<th>Time</th>\n\t\t\t\t\t\t\t<th>Event</th>\n\t\t\t\t\t\t</tr>\n\t\t\t\t\t</thead>\n\t\t\t\t\t<tbody>\n\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t<th>\n\t\t\t\t\t\t\t\t<script type=\"text/javascript\">\n\t\t\t\t\t\t\t\t\tdocument.write(new Date().toLocaleTimeString());\n\t\t\t\t\t\t\t\t</script>\n\t\t\t\t\t\t\t</th>\n\t\t\t\t\t\t\t<td> Incoming call</td>\n\t\t\t\t\t\t</tr>\n\t\t\t\t\t</tbody>\n\t\t\t\t</table>\n\t\t\t</div>\n\t\t\t<!--<div>\n\t\t\t\t<h3>Available ambulances:</h3>\n\t\t\t\t<ul id=\"availableAmbulances\">\n\t\t\t\t\t\n\t\t\t\t</ul>\n\t\t\t</div>-->\n\t\t</div>\n\t</div>\n\t\n\n\t<script type=\"text/javascript\">\n\t\tvar panorama;\n\t\tvar authId = '';\n\t\t$( document ).ready(function() {\n\t\t\t\t\t\t$.get('/authId', function(data) {\n\t\t\t\t\t\t    authId = data.authId;\nconsole.log(\"User: \" + data.user + \" / \" + data.authId +  \"is authed\");\n\t\t\t\t}).fail(function() {\n\t\t\t\t    $(\"#authLink\").attr(\"href\", \"http://\" + window.location.host + \"/auth\");\n\t\t\t\t    \t\t    $(\"#authButton\").attr(\"href\", \"http://\" + window.location.host + \"/auth\");\n\t\t\t\t    $('#authModal').modal('show');\n\t\t\t\t});\n});\n\t\t\n\n\t\t\n\t\t$('#endCallBtn').click(function() {\n\t\t\tlocation.reload();\n\t\t});\n\t\t\n\t\tfunction initMap() {\n\t\t\tvar location = {\n\t\t\t\tlat: 41.8825947,\n\t\t\t\tlng: -87.6395958\n\t\t\t};\n\t\t\tvar map = new google.maps.Map(document.getElementById('map'), {\n\t\t\t\tzoom: 12,\n\t\t\t\tcenter: location,\n\t\t\t\tmapTypeId: google.maps.MapTypeId.ROADMAP,\n\t\t\t\tmapTypeControl: false,\n\t\t\t\tstreetViewControl: false\n\t\t\t});\n\n\t\t\t//updateAvailableAmbulances();\n\t\t\tinitRightClick(map);\n\t\t\tinitSearchBox(map);\n\t\t}\n\n\t\tfunction initRightClick(map) {\n\t\t\tvar icon = {\n\t\t\t\turl: 'https://maps.gstatic.com/mapfiles/place_api/icons/geocode-71.png',\n\t\t\t\tsize: new google.maps.Size(71, 71),\n\t\t\t\torigin: new google.maps.Point(0, 0),\n\t\t\t\tanchor: new google.maps.Point(17, 34),\n\t\t\t\tscaledSize: new google.maps.Size(25, 25)\n\t\t\t};\n\n\t\t\tvar marker = new google.maps.Marker({\n\t\t\t\ticon: icon,\n\t\t\t\ttitle: 'location'\n\t\t\t});\n\n\t\t\tmarker.addListener('click', function() {\n\t\t\t\tshowStreetviewModal(marker);\n\t\t\t});\n\n\t\t\tgoogle.maps.event.addDomListener(map, 'rightclick', function(e) {\n\t\t\t\tmarker.setPosition(e.latLng);\n\t\t\t\tmarker.setMap(map);\n\t\t\t});\n\t\t}\n\n\t\tfunction initSearchBox(map) {\n\t\t\tvar input = document.getElementById('pac-input');\n\t\t\tvar searchBox = new google.maps.places.SearchBox(input);\n\t\t\tmap.controls[google.maps.ControlPosition.TOP_LEFT].push(input);\n\n\t\t\t// Bias the SearchBox results towards current map's viewport.\n\t\t\tmap.addListener('bounds_changed', function() {\n\t\t\t\tsearchBox.setBounds(map.getBounds());\n\t\t\t});\n\n\t\t\tvar markers = [];\n\t\t\t// [START region_getplaces]\n\t\t\t// Listen for the event fired when the user selects a prediction and retrieve\n\t\t\t// more details for that place.\n\t\t\tsearchBox.addListener('places_changed', function() {\n\t\t\t\tvar places = searchBox.getPlaces();\n\n\t\t\t\tif (places.length == 0) {\n\t\t\t\t\treturn;\n\t\t\t\t}\n\n\t\t\t\t// Clear out the old markers.\n\t\t\t\tmarkers.forEach(function(marker) {\n\t\t\t\t\tmarker.setMap(null);\n\t\t\t\t});\n\t\t\t\tmarkers = [];\n\n\t\t\t\t// For each place, get the icon, name and location.\n\t\t\t\tvar bounds = new google.maps.LatLngBounds();\n\t\t\t\tplaces.forEach(function(place) {\n\t\t\t\t\tvar icon = {\n\t\t\t\t\t\turl: 'https://maps.gstatic.com/mapfiles/place_api/icons/geocode-71.png',\n\t\t\t\t\t\tsize: new google.maps.Size(71, 71),\n\t\t\t\t\t\torigin: new google.maps.Point(0, 0),\n\t\t\t\t\t\tanchor: new google.maps.Point(17, 34),\n\t\t\t\t\t\tscaledSize: new google.maps.Size(25, 25)\n\t\t\t\t\t};\n\n\t\t\t\t\tvar marker = new google.maps.Marker({\n\t\t\t\t\t\tmap: map,\n\t\t\t\t\t\ticon: icon,\n\t\t\t\t\t\ttitle: place.name,\n\t\t\t\t\t\tposition: place.geometry.location\n\t\t\t\t\t});\n\n\t\t\t\t\t// Create a marker for each place.\n\t\t\t\t\tmarkers.push(marker);\n\n\t\t\t\t\tmarker.addListener('click', function() {\n\t\t\t\t\t\tshowStreetviewModal(marker);\n\t\t\t\t\t});\n\n\t\t\t\t\tif (place.geometry.viewport) {\n\t\t\t\t\t\t// Only geocodes have viewport.\n\t\t\t\t\t\tbounds.union(place.geometry.viewport);\n\t\t\t\t\t}\n\t\t\t\t\telse {\n\t\t\t\t\t\tbounds.extend(place.geometry.location);\n\t\t\t\t\t}\n\t\t\t\t});\n\t\t\t\tmap.panToBounds(bounds);\n\t\t\t});\n\t\t}\n\n\t\tfunction showStreetviewModal(marker) {\n\t\t\tpanorama = new google.maps.StreetViewPanorama(\n\t\t\t\tdocument.getElementById('panorama'), {\n\t\t\t\t\tposition: marker.getPosition(),\n\t\t\t\t\tpov: {\n\t\t\t\t\t\theading: 165,\n\t\t\t\t\t\tpitch: 0\n\t\t\t\t\t},\n\t\t\t\t\tzoom: 1,\n\t\t\t\t\tdisableDefaultUI: true\n\t\t\t\t});\n\t\t\t$('#dispatchModal').modal('show');\n\t\t\t$('#dispatchModal').on('shown.bs.modal', function() {\n\t\t\t\tgoogle.maps.event.trigger(panorama, \"resize\");\n\t\t\t});\n\n\t\t\t$('#dispatchBtn').bind('click', function() {\n\t\t\t\tvar url = \"https://maps.googleapis.com/maps/api/streetview?size=240x360&\" +\n\t\t\t\t\t\"location=\" + marker.getPosition().lat() + \",\" + marker.getPosition().lng() + \"&fov=90&heading=\" + panorama.getPov().heading +\n\t\t\t\t\t\"&pitch=\" + panorama.getPov().pitch;\n\t\t\t\t$.post('/dispatchAmbulance2', {\n\t\t\t\t\tid: authId,\n\t\t\t\t\tlat: marker.getPosition().lat(),\n\t\t\t\t\tlng: marker.getPosition().lng(),\n\t\t\t\t\turl: url\n\t\t\t\t}, function() {\n\t\t\t\t\t// add functionality to write to sidebar\n\t\t\t\t\tvar time = new Date().toLocaleTimeString();\n\t\t\t\t\tvar newRow = '<tr><th>' + time + '</th><td> Ambulance dispatched' + '</td></tr>';\n\n\t\t\t\t\t$(\"#log tbody\").append(newRow);\n\t\t\t\t\t$('#dispatchModal').modal('hide');\n\n\t\t\t\t\tvar icon = {\n\t\t\t\t\t\turl: 'http://auto-accident-denver.com/wp-content/uploads/2015/12/emergency-Icon.jpeg-25.png',\n\t\t\t\t\t};\n\n\t\t\t\t\tambulanceMarker = new google.maps.Marker({\n\t\t\t\t\t    icon: icon,\n\t\t\t\t\t\tmap: marker.getMap(),\n\t\t\t\t\t\ttitle: 'Incident',\n\t\t\t\t\t\tposition: marker.getPosition()\n\t\t\t\t\t});\n\n\t\t\t\t\tambulanceMarker.addListener('click', function() {\n\t\t\t\t\t\tshowPatientInformationModal(marker);\n\t\t\t\t\t});\n\n\t\t\t\t\tmarker.setMap(null);\n\t\t\t\t})\n\t\t\t});\n\n\t\t}\n\n\t\tfunction showPatientInformationModal(marker) {\n\t\t\t$('#patientInfoBtn').attr(\"disabled\", true);\n\t\t\t$('#patientModal').modal('show');\n\t\t\t\n\t\t\t$('#patientSearchBtn').click(function(){\n\t\t\t\t$.get('/patientData', {\n\t\t\t\t\tpatientName: $('input[id=patientName]').val()\n\t\t\t\t}, function(data) {\n\t\t\t\t\tvar patientData = '<h3>' + data.name + ' <small>' + data.sex + '/' + data.age + '</small></h3>';\n\t\t\t\t\t$(\"#patientSearchInfoResult\").html(patientData);\n\t\t\t\t\t$('#patientInfoBtn').attr(\"disabled\", false);\n\t\t\t\t}).fail(function() {\n\t\t\t\t\t$(\"#patientSearchInfoResult\").html('');\n\t\t\t\t\t$('#patientInfoBtn').attr(\"disabled\", true);\n\t\t\t\t});\n\t\t\t});\n\t\t\t\n\t\t\t$('form').submit(function(event) {\n\t\t\t\tvar patientName = $('input[id=patientName]').val();\n\t\t\t\tvar description = $('input[id=description]').val()\n\t\t\t\t$.post('/patientInfo', {\n\t\t\t\t\tid: authId,\n\t\t\t\t\tpatientName: patientName,\n\t\t\t\t\tdescription: description\n\t\t\t\t}, function() {\n\t\t\t\t\t$('#patientModal').modal('hide');\n\t\t\t\t\tvar time = new Date().toLocaleTimeString();\n\t\t\t\t\tvar newRow = '<tr><th>' + time + '</th><td> Patient information sent for ' + patientName + '</td></tr>';\n\n\t\t\t\t\t$(\"#log tbody\").append(newRow);\n\t\t\t\t});\n\t\t\t\tevent.preventDefault();\n\t\t\t});\n\t\t}\n\t\t\n\t\tfunction updateAvailableAmbulances() {\n\t\t\t$.get('/getAuthorized', function(data) {\n\t\t\t\tObject.keys(data).forEach(function(key) {\n\t\t\t\t\tvar row = '<li>' + data[key].name + '</li>';\n\t\t\t\t\t$(\"#availableAmbulances\").append(row);\n\t\t\t\t});\n\t\t\t});\t\n\t\t}\n\t</script>\n\t<script async defer src=\"https://maps.googleapis.com/maps/api/js?libraries=places&callback=initMap\"></script>\n</body>\n\n</html>","x":285,"y":95,"wires":[["b69ca319.49636"]]},{"id":"b69ca319.49636","type":"http response","z":"cfd90a80.cb54a8","name":"","x":444.99998474121094,"y":95,"wires":[]},{"id":"53ec7061.ac139","type":"http in","z":"cfd90a80.cb54a8","name":"","url":"/dispatchAmbulance2","method":"post","swaggerDoc":"","x":121,"y":418,"wires":[["c9a503ca.365b"]]},{"id":"c9a503ca.365b","type":"function","z":"cfd90a80.cb54a8","name":"Store data","func":"msg.patientLat = msg.payload.lat;\nmsg.patientLng = msg.payload.lng;\nmsg.topic = msg.payload.id;\nmsg.streetViewUrl = msg.payload.url;\nmsg.url = context.global.url + \"/location/\"+msg.topic;\nreturn msg;","outputs":1,"noerr":0,"x":356.99998474121094,"y":418,"wires":[["d9fc6d3f.26039"]]},{"id":"d9fc6d3f.26039","type":"http request","z":"cfd90a80.cb54a8","name":"Get patient address","method":"GET","url":"https://maps.googleapis.com/maps/api/geocode/json?latlng={{patientLat}},{{patientLng}}&key=AIzaSyCGBvmim4kx0yem7iKdOghmtMk5XFD49uc","x":567.9999847412109,"y":418,"wires":[["fa55f9e1.05aa08"]]},{"id":"c9c140fa.363ec","type":"function","z":"cfd90a80.cb54a8","name":"","func":"var addr = msg.streetViewUrl;\n\n/*  Insert payload into Google Glass Timeline\n *  https://developers.google.com/glass/v1/reference/timeline/insert\n*/\n\nmsg.payload = {\n    \"notification\": {\n      \"level\": \"DEFAULT\"\n    },\n    \"callbackUrl\": \"https://mirrornotifications.appspot.com/forward?url=http://localhost:8081/reply\",\n    \"menuItems\": [{\n      \"action\": \"NAVIGATE\"\n    }],\n    \"html\": \"<article class=\\\"cover-only\\\"><figure><img src=\\\"\" + addr +  \"\\\" height=\\\"360\\\" width=\\\"240\\\"></figure><section><p style=\\\"padding-top:2px\\\" class=\\\"text-small\\\">Emergency response request:</p><div class=\\\"text-auto-size\\\"><p class=\\\"yellow text-small\\\">\"+msg.payload.results[0].formatted_address+\"</p></div></section><footer>Tap for GPS</footer></article>\",\n    \"location\": {\n      \"latitude\": msg.payload.results[0].latitude,\n      \"longitude\": msg.payload.results[0].longitude,\n      \"displayName\": msg.payload.results[0].formatted_address\n    }\n};\nmsg.url = context.global.url + \"/timeline/\"+ msg.topic;\nreturn msg; ","outputs":1,"noerr":0,"x":919.9999847412109,"y":418,"wires":[["81dc8f2c.7e237","b2e6842a.4d1978"]]},{"id":"b2e6842a.4d1978","type":"debug","z":"cfd90a80.cb54a8","name":"","active":false,"console":"false","complete":"false","x":1075.0000457763672,"y":374,"wires":[]},{"id":"fa55f9e1.05aa08","type":"json","z":"cfd90a80.cb54a8","name":"","x":766.9999847412109,"y":418,"wires":[["c9c140fa.363ec"]]},{"id":"ffbd57d6.0042a8","type":"function","z":"cfd90a80.cb54a8","name":"","func":"msg.headers = {\n    \"Access-Control-Allow-Origin\": \"*\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":1380.0000457763672,"y":415,"wires":[["21cea847.de3158"]]},{"id":"d614f3bb.29eb1","type":"http in","z":"cfd90a80.cb54a8","name":"","url":"/patientInfo","method":"post","swaggerDoc":"","x":87,"y":540.0000305175781,"wires":[["baf3593f.450ca8"]]},{"id":"baf3593f.450ca8","type":"function","z":"cfd90a80.cb54a8","name":"Store data","func":"msg.patientName = msg.payload.patientName;\nmsg.description = msg.payload.description;\nmsg.topic = msg.payload.id;\nmsg.url = context.global.url + \"/location/\"+msg.topic;\n\nreturn msg;","outputs":1,"noerr":0,"x":303.99998474121094,"y":541.0000305175781,"wires":[["14f9454.feb06bb","a60aef58.59f51"]]},{"id":"14f9454.feb06bb","type":"function","z":"cfd90a80.cb54a8","name":"Construct Glass Notification","func":"var description = msg.description;\n\nvar kjernejournal;\nif(msg.patientName) {\n    var patient;\n\tpatient = context.global.patients[msg.patientName];\n\tkjernejournal = '<article><section><h1 class=\"text-large white\">Patient</h1><h2>' + patient.name + '</h2><h3 class=\"blue\">Critical medical data</h3></section><footer class=\"blue\">Swipe for more</footer></article>' +\n\t                '<article><section><table class=\"align-justify\"><tr><td class=\"text-large\">' + patient.name + '</td><td>' + patient.sex + '/' + patient.age + '/' + patient.bloodType +'</td></tr>'; \n\t                \n\tvar medicalHistory = \"\";\n\tpatient.medicalHistory.forEach(function (entry) {\n\t    medicalHistory += '<tr><td class=\"text-small\">' + entry + '</td><td></td></tr>';\n\t});\n\tkjernejournal += medicalHistory;\n\tkjernejournal += '</table></section><footer class=\"blue\">Medical history</footer></article>'\n\t\n\tkjernejournal += '<article><section><table class=\"align-justify\"><tr><td class=\"text-large\">' + patient.name + '</td><td>' + patient.sex + '/' + patient.age + '/' + patient.bloodType +'</td></tr>';\n\t\n\tvar prescriptions = \"\";\n\tpatient.prescriptions.forEach(function (entry) {\n\t    prescriptions += '<tr class=\"text-small\"><td>'+ entry +'</td><td></td></tr>';\n\t});\n\tkjernejournal += prescriptions;\n\tkjernejournal += '</table></section><footer class=\"blue\">Prescriptions</footer></article>';\n\t\n\tkjernejournal += '<article><section><table class=\"align-justify\"><tr><td class=\"text-large\">' + patient.name + '</td><td>' + patient.sex + '/' + patient.age + '/' + patient.bloodType +'</td></tr>';\n\tvar allergies = \"\";\n\tpatient.allergies.forEach(function (entry) {\n\t    allergies += '<tr class=\"text-small\"><td>'+ entry +'</td><td></td></tr>';\n\t});\n\tkjernejournal += allergies;\n\tkjernejournal += '</table></section><footer class=\"blue\">Allergies</footer></article>';\n}\n\nmsg.payload = {\n    \"notification\": {\n      \"level\": \"DEFAULT\"\n    },\n    \"callbackUrl\": \"https://mirrornotifications.appspot.com/forward?url=http://localhost:8081/reply\",\n\n    //\"html\": \"<article class=\\\"cover-only\\\"><figure><img src=\\\"\" + addr +  \"\\\" height=\\\"360\\\" width=\\\"240\\\"></figure><section><p style=\\\"padding-top:2px\\\" class=\\\"text-small\\\">Emergency response request:</p><div class=\\\"text-auto-size\\\"><p class=\\\"blue text-small\\\">\" + description + \"</p><p class=\\\"yellow text-small\\\">\"+msg.payload.results[0].formatted_address+\"</p></div></section><footer>Tap for details</footer></article>\"+kjernejournal,\n    \"html\": kjernejournal\n};\nmsg.url = context.global.url + \"/timeline/\"+ msg.topic;\nreturn msg; ","outputs":"1","noerr":0,"x":531.9999847412109,"y":540.0000305175781,"wires":[["81dc8f2c.7e237","5d6148cc.a29eb8"]]},{"id":"5d6148cc.a29eb8","type":"debug","z":"cfd90a80.cb54a8","name":"","active":true,"console":"false","complete":"false","x":835.9999847412109,"y":539.0000305175781,"wires":[]},{"id":"a60aef58.59f51","type":"debug","z":"cfd90a80.cb54a8","name":"","active":true,"console":"false","complete":"true","x":455.99998474121094,"y":463,"wires":[]},{"id":"d7f60b6b.2809f8","type":"http in","z":"cfd90a80.cb54a8","name":"","url":"/patientData","method":"get","swaggerDoc":"","x":85.48516845703125,"y":594.0000305175781,"wires":[["61617ea.f9e9e8"]]},{"id":"1c5a5691.e3a5a9","type":"http response","z":"cfd90a80.cb54a8","name":"","x":468.4851531982422,"y":595.0000915527344,"wires":[]},{"id":"61617ea.f9e9e8","type":"function","z":"cfd90a80.cb54a8","name":"","func":"var patientName = msg.payload.patientName;\nmsg.headers = {\n    \"Access-Control-Allow-Origin\": \"*\"\n};\nif(context.global.patients[patientName] != null) {\n    msg.payload = context.global.patients[patientName];\n} else {\n    msg.res.send(\"404\", {\"errorMessage\" : \"Not found!\"});\n};\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":270.4851531982422,"y":594.0000534057617,"wires":[["1c5a5691.e3a5a9"]]},{"id":"5965ccaa.e86bf4","type":"http in","z":"cfd90a80.cb54a8","name":"","url":"/authId","method":"get","swaggerDoc":"","x":68,"y":667.5408630371094,"wires":[["94296fbe.8811d"]]},{"id":"a3dc1133.d3636","type":"http response","z":"cfd90a80.cb54a8","name":"","x":466.99998474121094,"y":667.5409240722656,"wires":[]},{"id":"94296fbe.8811d","type":"function","z":"cfd90a80.cb54a8","name":"","func":"msg.headers = {\n    \"Access-Control-Allow-Origin\": \"*\"\n};\nif(context.global.authID) {\n    msg.payload.authId = context.global.authID;\n     msg.payload.user = context.global.user;\n} else {\n    msg.res.send(\"404\", {\"errorMessage\" : \"No User authenticated!!!\"});\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":269.99998474121094,"y":667.5408630371094,"wires":[["a3dc1133.d3636"]]},{"id":"390d0783.72f6d8","type":"http in","z":"cfd90a80.cb54a8","name":"","url":"/oauth2callback","method":"get","x":99,"y":782.3111028671265,"wires":[["e90393c0.55894","d64a8525.f00948"]]},{"id":"b9b50c6d.165c5","type":"http in","z":"cfd90a80.cb54a8","name":"","url":"/auth","method":"get","x":64.17449378967285,"y":739.9999771118164,"wires":[["4435d310.e5a6dc"]]},{"id":"4435d310.e5a6dc","type":"function","z":"cfd90a80.cb54a8","name":"Authenticate","func":"var ctx = context.global;\nOAuth2 = ctx.googleapis.OAuth2Client;\nvar oauthCallbackPath = ctx.url + \"/oauth2callback\";\nvar oauth2Client = new OAuth2(ctx.CLIENT_ID, ctx.CLIENT_SECRET, oauthCallbackPath);\n\n// generates a url that allows offline access and asks permissions\n// for Mirror API scope.\nvar url = oauth2Client.generateAuthUrl({\n  access_type: 'offline',\n  scope: 'https://www.googleapis.com/auth/glass.timeline https://www.googleapis.com/auth/glass.location https://www.googleapis.com/auth/plus.me'\n});\n\nmsg.res.redirect(url);","outputs":1,"x":234.88892364501953,"y":740.4285469055176,"wires":[[]]},{"id":"d64a8525.f00948","type":"debug","z":"cfd90a80.cb54a8","name":"","active":true,"console":false,"complete":false,"x":590.7143402099609,"y":783.2857122421265,"wires":[]},{"id":"e90393c0.55894","type":"async","z":"cfd90a80.cb54a8","name":"GrabUserIdAndCacheCredentials","async":"var ctx = context.global;\nvar success = function () { console.log('Grab Authentication Token success')}\nvar failure = function () { msg.res.send(\"401\", {\"errorMessage\" : \"Failure\"}); }\n\nOAuth2 = context.global.googleapis.OAuth2Client;\nvar oauthCallbackPath = context.global.url + \"/oauth2callback\";\nvar oauth2Client = new OAuth2(ctx.CLIENT_ID, ctx.CLIENT_SECRET, oauthCallbackPath);\n\nvar grabUserIdAndCacheCredentials = function(oauth2Client, successCallback) {\n    ctx.googleapis\n    .discover('plus', 'v1')\n    .execute(function(err, client) {\n\t\tif(!!err) { \n\t\t\tconsole.error(err);\n\t\t\tmsg.res.send(\"401\", {\"errorMessage\" : err}); \n\t\t\treturn;\n\t\t}\n\t\tclient\n\t\t    .plus.people.get({ userId: 'me' })\n\t\t    .withAuthClient(oauth2Client)\n\t\t    .execute(function(err, res) {\t\n\t\t    \tif(!!err) { \t\t\t\t\n\t\t\t\t\tconsole.error(err);\n\t\t\t\t\tmsg.res.send(\"401\", {\"errorMessage\" : err}); \n\t\t\t\t\treturn;\n\t\t\t\t}\n\t\t\t\tmsg.payload = res;\n\t\t\t\tcb(msg);\n\t\t\t\tsuccessCallback(res.id, res.displayName, oauth2Client);\t\t\t\n\t\t\t});\t\t\n    });   \n};\n\nvar grabToken = function (code, oauth2Client, errorCallback, successCallback) {\n    oauth2Client.getToken(code, function (err, tokens) {\n        if (!!err) {\n            errorCallback(err);\n        } else {\n            console.log('tokens', tokens);\n            oauth2Client.setCredentials(tokens);\n            grabUserIdAndCacheCredentials(oauth2Client, successCallback);\n        }\n    });\n};\n\ngrabToken(msg.req.query.code, oauth2Client, failure, function (userId, name, oauth2Client) {\nctx.authID = userId;\nctx.user = name;\nmsg.res.send(\"200\", \"User is authenticated with Google with userId/name: \" + userId + \"/\" + name);\n        if(!ctx.cachedOAuthClients) ctx.cachedOAuthClients = {};        \n        ctx.cachedOAuthClients[userId] = {client : oauth2Client, name : name};\n\t\tmsg.payload = userId;\n        console.log(msg.payload);\n        cb(msg);\n});\n","outputs":1,"x":358.42858123779297,"y":782.5714092254639,"wires":[["d64a8525.f00948"]]},{"id":"c6a1c564.8009c8","type":"http in","z":"cfd90a80.cb54a8","name":"","url":"/timeline/:id","method":"post","x":90.42857360839844,"y":827.2856912612915,"wires":[["c9902dd.acfc7d","d5c23a58.372508"]]},{"id":"c9902dd.acfc7d","type":"async","z":"cfd90a80.cb54a8","name":"Validate payload","async":"if(!msg.req.params.id) { \n\tmsg.res.send(\"401\", {\"errorMessage\" : \"No ID in request\"});\n}\nreturn msg;","outputs":1,"x":306.14286041259766,"y":827.7142639160156,"wires":[["73557ecb.94ed6","d5c23a58.372508"]]},{"id":"73557ecb.94ed6","type":"async","z":"cfd90a80.cb54a8","name":"Push Card","async":"var pushCard = function (card, oauth2Client) {\n    context.global.googleapis\n        .discover('mirror', 'v1')\n        .execute(function (err, client) {\n            if (!!err) {\n                msg.res.send(\"500\", JSON.stringify(err));\n                msg.payload = JSON.stringify(err);\n                cb(msg);\n                return;\n            }  \n   \t\t    Card(client, oauth2Client, card);            \n        });\n};\n\nvar Card = function (client, oauth2Client, card) {\n    client\n        .mirror.timeline.insert(card)\n        .withAuthClient(oauth2Client)\n        .execute(function (err, data) {\n            if (!!err) {               \n                msg.res.send(\"500\", JSON.stringify(err));\n                msg.payload = JSON.stringify(err);\n                cb(msg);\n            } else {\n                msg.res.send(\"200\", {\"message\" : \"'Create and Insert Card to Glass Timeline success'\"});\n                msg.payload = \"Success\";\n                cb(msg);\n            }\n        });\n};\n// &polyline=;42.36254,-71.08726,42.36297,-71.09364,42.36579,-71.09208,42.3697,-71.102,42.37105,-71.10104,42.37067,-71.1001,42.36561,-71.10406,42.36838,-71.10878,42.36968,-71.10703\nvar card =   msg.payload;\n      \nvar oauthClient = context.global.cachedOAuthClients[msg.req.params.id].client;\npushCard(card, oauthClient);\n","outputs":1,"x":501.8571548461914,"y":829.5714015960693,"wires":[[]]},{"id":"d5c23a58.372508","type":"debug","z":"cfd90a80.cb54a8","name":"","active":false,"console":"true","complete":"true","x":301.2857208251953,"y":880.4285459518433,"wires":[]},{"id":"cae84bb5.98dbb8","type":"http in","z":"cfd90a80.cb54a8","name":"","url":"/location/:id","method":"get","x":85.5714340209961,"y":933.8571243286133,"wires":[["2dca1bb8.d58db4"]]},{"id":"2dca1bb8.d58db4","type":"async","z":"cfd90a80.cb54a8","name":"Validate payload","async":"if(!msg.req.params.id) { \n\tmsg.res.send(\"401\", {\"errorMessage\" : \"No ID in request\"});\n}\nreturn msg;","outputs":1,"x":306.2857093811035,"y":935.2856960296631,"wires":[["6f0a9ded.bd6244","886b13ff.ca7f2"]]},{"id":"886b13ff.ca7f2","type":"async","z":"cfd90a80.cb54a8","name":"Get location","async":"var getLocation = function (oauth2Client) {\n    context.global.googleapis\n        .discover('mirror', 'v1')\n        .execute(function (err, client) {\n            if (!!err) {\n                msg.statusCode = 500;\n                msg.payload = JSON.stringify(err);\n                cb(msg);\n                return;\n            }  \n   \t\t    Location(client, oauth2Client);            \n        });\n};\n\nvar Location = function (client, oauth2Client) {\n    client\n        .mirror.locations.get({id:\"latest\"})\n        .withAuthClient(oauth2Client)\n        .execute(function (err, data) {\n            if (!!err) {               \n                msg.statusCode = 500;\n                msg.payload = JSON.stringify(err);\n                cb(msg);\n            } else {\n            \tmsg.statusCode = 200;\n                msg.payload = data;             \n                cb(msg);\n            }\n        });\n};\n        \nvar oauthClient = context.global.cachedOAuthClients[msg.req.params.id].client;\ngetLocation(oauthClient);","outputs":1,"x":507.4285888671875,"y":937.7142715454102,"wires":[["f11d8466.6cd0a8","6a3cdbe3.ef9fd4"]]},{"id":"6f0a9ded.bd6244","type":"debug","z":"cfd90a80.cb54a8","name":"","active":false,"console":"true","complete":"true","x":487.00001525878906,"y":885.714262008667,"wires":[]},{"id":"f11d8466.6cd0a8","type":"debug","z":"cfd90a80.cb54a8","name":"","active":false,"console":"true","complete":"false","x":658.571403503418,"y":889.2856941223145,"wires":[]},{"id":"722a45b7.c344fc","type":"inject","z":"cfd90a80.cb54a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":83.14286804199219,"y":1040.857120513916,"wires":[["a66ed5c2.4aba88"]]},{"id":"ab85ba9c.e1aa58","type":"debug","z":"cfd90a80.cb54a8","name":"","active":false,"console":false,"complete":false,"x":589.0000457763672,"y":1037.714301109314,"wires":[]},{"id":"a66ed5c2.4aba88","type":"async","z":"cfd90a80.cb54a8","name":"Get authentiated Glass IDs","async":"var ctx = context.global;\n//var keys = _.keys(ctx.cachedOAuthClients);\nfor(client in ctx.cachedOAuthClients) {\n\tcb({payload : ctx.cachedOAuthClients[client].name});\n}\n//msg.payload = keys;\n///return msg;\n","outputs":1,"x":330.5714569091797,"y":1039.8571300506592,"wires":[["ab85ba9c.e1aa58"]]},{"id":"e4de4fbd.73b3e","type":"http in","z":"cfd90a80.cb54a8","name":"","url":"/getAuthorized","method":"get","x":95.28572845458984,"y":987.4285202026367,"wires":[["1daa3ab2.412485"]]},{"id":"1daa3ab2.412485","type":"async","z":"cfd90a80.cb54a8","name":"Get authentiated Glass IDs","async":"var ctx = context.global;\nmsg.payload = {};\nfor(id in ctx.cachedOAuthClients) {\n\tmsg.payload[id] = {name : ctx.cachedOAuthClients[id].name}\n}\nreturn msg;\n","outputs":1,"x":334.0000228881836,"y":987.4285411834717,"wires":[["d7471cc3.33137"]]},{"id":"99cf29de.5f0ca8","type":"http response","z":"cfd90a80.cb54a8","name":"","x":706.142822265625,"y":988.1427984237671,"wires":[]},{"id":"564ed678.7fab98","type":"inject","z":"cfd90a80.cb54a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":83.14287567138672,"y":1087.8571395874023,"wires":[["8f9b0b8e.0c4d58"]]},{"id":"8f9b0b8e.0c4d58","type":"async","z":"cfd90a80.cb54a8","name":"Clear authenticated glasses","async":"var ctx = context.global;\nctx.cachedOAuthClients = {};","outputs":1,"x":330.1428756713867,"y":1087.2857036590576,"wires":[["f5edb33f.fd178"]]},{"id":"f5edb33f.fd178","type":"debug","z":"cfd90a80.cb54a8","name":"","active":false,"console":false,"complete":false,"x":527.0000152587891,"y":1087.7142658233643,"wires":[]},{"id":"6a3cdbe3.ef9fd4","type":"http response","z":"cfd90a80.cb54a8","name":"","x":673.1428184509277,"y":938.5714120864868,"wires":[]},{"id":"d7471cc3.33137","type":"function","z":"cfd90a80.cb54a8","name":"","func":"msg.headers = {\n    \"Access-Control-Allow-Origin\": \"*\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":549,"y":987.3111028671265,"wires":[["99cf29de.5f0ca8"]]},{"id":"98a52f40.78d0e","type":"debug","z":"cfd90a80.cb54a8","name":"test","active":true,"console":"true","complete":"wtf","x":534,"y":48,"wires":[]}]