defaults/flow.json
[{"id":"9f12c2e3.6229","type":"websocket-listener","path":"/ws/ambulance/location","wholemsg":"false"},{"id":"545a7192.9e908","type":"http in","z":"f60cd997.341088","name":"","url":"/operations3","method":"get","swaggerDoc":"","x":297.6666564941406,"y":271.6666564941406,"wires":[["88bc80e9.fd033"]]},{"id":"24311563.b33a1a","type":"http response","z":"f60cd997.341088","name":"","x":658.6666717529297,"y":271.66666412353516,"wires":[]},{"id":"88bc80e9.fd033","type":"template","z":"f60cd997.341088","name":"OperationsView","field":"","template":"<!DOCTYPE html>\n<html>\n<head>\n  <title>Ambulance Dispatcher</title>\n  <script type=\"text/javascript\" src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js\"></script>\n  <script type=\"text/javascript\" src=\"https://maps.google.com/maps/api/js?sensor=true\"></script>\n  <script type=\"text/javascript\" src=\"https://rawgit.com/hpneo/gmaps/master/gmaps.js\"></script>\n  <link rel=\"stylesheet\" href=\"//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css\">\n  \n    <style type=\"text/css\" media=\"screen\">\n    #map {\n      position:absolute;\n      top: 0; bottom: 0; left: 0; right: 0;\n    }    \n    #panorama {\n    \twidth: 300px;\n    \theight: 300px;\n    \tz-index: 999;\n    }\n    #dispatch {  \n    \tfloat:right;\n    \twidth: 300px;\n    \theight: 18px;\n    \tz-index: 999;\n    \tposition:absolute;\n    }\n   \thtml, body, .row, #view, #map, #mapPartial, #infoPartial\n\t{\n    height: 100%;\n\t}\n\t#infoPartial {\n\t\tbackground:LightGrey;\n\t\tpadding-right:15px;\n\t}\n\t#requestSupervisor {\n\t\t\n    \twidth:95%;\n    \t\n\t}\n\t\n  </style>\n  \n</head>\n<body>\n\t    \n\t  \t<div class=\"row\" id=\"view\">\n\t  \t\t<div class=\"col-md-9 \" id=\"mapPartial\">\n\t\t\t  <div>\n\t\t\t  \t<div id=\"panorama\"><div id=\"dispatch\"><div><button id=\"dispatchBtn\">Enter Patient Information</button></div></div></div>\n\t\t\t  </div>\n\t\t\t  <div id=\"map\"></div> \n\t\t\t</div>\n\t\t\t<div class=\"col-md-3\" id=\"infoPartial\">\n\t\t\t\t<h2><span class=\"glyphicon glyphicon-earphone\"></span>113 Dispatcher</h2>\n\t\t\t\t<h5>Dispatcher ID: #10034</h5>\n\t\t\t\t<h5>Call ID: #134525</h5>\n\t\t\t\t<h5>Call Started: <script type=\"text/javascript\">document.write(new Date().toLocaleTimeString());</script></h5>\n\t\t\t\t<button id=\"requestSupervisor\" class=\"btn btn-danger\" type=\"submit\">Request Supervisor</button>\n\t\t\t\t<h3>Log</h3>\n\t\t\t\t<table id=\"log\" class=\"table table-striped\">\n\t\t\t\t\t<thead>\n\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t<th>Time</th><th>Event</th>\n\t\t\t\t\t\t</tr>\n\t\t\t\t\t</thead>\n\t\t\t\t\t<tbody>\n\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t<th><script type=\"text/javascript\">document.write(new Date().toLocaleTimeString());</script></th><td> Incoming call</td>\n\t\t\t\t\t\t</tr>\n\t\t\t\t\t</tbody>\n\t\t\t\t</table>\n\t\t\t\t\n\t\t\t</div>\n\t  \t</div>\n \n\n  <script type=\"text/javascript\">     \n  \tvar sv = new google.maps.StreetViewService();\n    // Address pointing to the WebSocket that patient GPS coordinates are retrieved from\n    var server = window.location.hostname;\n    //var patientLocation = \"ws://\"+server+\"/ws/patient/location\";\n    var ambulanceLocation = \"ws://\"+server+\"/ws/ambulance/location\";\n    var id;\n    var map;\n    var sock;\n    \n    $(document).ready(function(){\n    \n      // Create a new map centered on Hannover\n      map = new GMaps({\n        div: '#map',\n        lat: 59.9187606, \n        lng: 10.7120158,\n        zoom: 13\n      });\n      \n     map.setContextMenu({\n  \t\tcontrol: 'map',\n  \t\toptions: [{\n    \t\ttitle: 'Dispatch ambulance here',\n    \t\tname: 'dispatch',\n    \t\taction: function(e) {\n\t\t\t\tpanorama = GMaps.createPanorama({\n        \t\t\tel: '#panorama',\n        \t\t\tlat :  e.latLng.lat(),\n        \t\t\tlng:  e.latLng.lng(),\n        \t\t\tposition_changed: function(e) {\n        \t\t\t\tconsole.log('position_changed', panorama.getPosition());\n        \t\t\t} \n        \t\t});                   \n    \t\t}\n  \t\t}]\n\t});\n\t\n\t$.get('ambulanceLocation');\n      // Connect to Location websocket\n      //psock = new WebSocket(patientLocation);\n      asock = new WebSocket(ambulanceLocation);\n     console.log(\"test\");\n      asock.onopen = function(){ console.log(\"Connected websocket\");\n          console.log(\"Sender ping..\");\n          asock.send(\"Ping!\");\n          console.log(\"Ping sent..\");\n      };\n     \n      //psock.onerror = function(){ console.log(\"Websocket error\"); };\n      asock.onerror = function(){ console.log(\"Websocket error\"); };\n      \n      $('#dispatchBtn').bind('click', function() {\n        \t\t\t$.get('ambulanceLocation');\n      \t\t\t\tvar description = prompt(\"Incident description\", \"\");\n      \t\t\t\tvar patientName = prompt(\"Patient name\", \"\");\n      \t\t\t\tif(description) {\n      \t\t\t\t\tvar pos = panorama.getPosition();\n      \t\t\t\t\tvar panoId = panorama.getPano();\n      \t\t\t\t\tvar url = sv.getPanoramaById(panoId, function(data, status) {\n      \t\t\t\t\t\tconsole.log(\"panodata\", data.tiles);\n      \t\t\t\t\t\tvar url = \"https://maps.googleapis.com/maps/api/streetview?size=240x360&\"+\n      \t\t\t\t\t\t\"location=\"+pos.lat()+\",\"+pos.lng()+\"&fov=90&heading=\"+data.tiles.originHeading+\n      \t\t\t\t\t\t\"&pitch=\"+data.tiles.originPitch;\n      \t\t\t\t\t\tconsole.log(\"ID\", id);\n\t\t\t      \t\t\t$.post('dispatchAmbulance',{\n\t\t\t      \t\t\t\tid : id,\n\t\t\t      \t\t\t\tdescription: description,\n\t\t\t      \t\t\t\tpatientName: patientName,\n\t\t\t      \t\t\t\turl : url,\n\t\t\t      \t\t\t\tlat : pos.lat(),\n\t\t\t      \t\t\t\tlng : pos.lng()\n\t\t\t      \t\t\t}, function (){\n\t\t\t      \t\t\t            // add functionality to write to sidebar\n\t\t\t      \t\t\t            var time = new Date().toLocaleTimeString();\n\t\t\t      \t\t\t            var newRow = '<tr><th>' + time + '</th><td> Ambulance dispatched to ' + patientName + '</td></tr>';\n\t\t\t            \t\t\t\t\n\t\t\t            \t\t\t\t$(\"#log tbody\").append(newRow);\n\t\t\t            \t\t\t\t// window.alert(\"Ambulance has been dispatched\");\n\t\t\t            \t\t\t\tmap.addMarker({\n\t\t\t\t\t \t\t\t\t\t\tlat: pos.lat(),\n\t\t\t\t\t     \t\t\t\t\tlng: pos.lng(),\n\t\t\t\t\t      \t\t\t\t\ttitle: 'Incident',\n\t\t\t\t\t      \t\t\t\t\tinfoWindow: {\n\t \t\t\t\t\t\t\t\t\t\t\tcontent: description\n\t\t\t\t\t\t\t\t\t\t}});\n\t\n\t\t            \t\t});\n\t            \t\t});\n            \t\t}\n        \t\t});\n      \n      \n      var ambulanceMarker;      \n      // When GPS coordinates are received\n      asock.onmessage = function(evt){\n      \tvar data = JSON.parse(evt.data);\n      \tid = data.id;\n        console.log(data.payload.latitude);\n        console.log(data.payload.longitude);\n         \n        // Remove previous marker\n        map.removeMarker(ambulanceMarker);     \n        \n        console.log(\"Creating ambulance marker at \" + data.payload.latitude + \", \" + data.payload.longitude);\n        ambulanceMarker = map.addMarker({\n        \tlat: data.payload.latitude,\n        \tlng: data.payload.longitude,\n        \ticon : \"http://upload.wikimedia.org/wikipedia/commons/e/ed/Map_marker_icon_%E2%80%93_Nicolas_Mollet_%E2%80%93_Ambulance_%E2%80%93_Health_%26_Education_%E2%80%93_iOS.png\",\n            title: 'Latitude: ' + data.payload.latitude + '\\n' + 'Longitude: ' +  data.payload.longitude + '\\n' + 'Time: ' + data.payload.timestamp,\n            infoWindow: {\n \t\t\t\tcontent: '<b>'+data.name+'</b>'\n\t\t\t},\n\t\t\tclick: function(e) {\n\t\t\t\tpanorama = GMaps.createPanorama({\n        \t\t\tel: '#panorama',\n        \t\t\tlat : data.payload.latitude,\n        \t\t\tlng:  data.payload.longitude,\n        \t\t\tposition: \"TOP_RIGHT\",        \t\t\n        \t\t\tposition_changed: function(e) {\n        \t\t\t\tconsole.log('position_changed', panorama.getPosition());\n        \t\t\t} \n        \t\t});        \t\t\n\t\t\t}\n        });        \n      }\n    });\n  </script>\n</body>\n</html>","x":488.66664123535156,"y":271.6666564941406,"wires":[["24311563.b33a1a"]]},{"id":"1a349a97.e5bac5","type":"http request","z":"f60cd997.341088","name":"Get ambulance location","method":"GET","url":"","x":986.7104263305664,"y":416.3015537261963,"wires":[["81c8fc07.c96e6","76a15de8.5013d4"]]},{"id":"e35f066d.cb3768","type":"websocket out","z":"f60cd997.341088","name":"","server":"9f12c2e3.6229","client":"","x":1434.309413909912,"y":552.7737817764282,"wires":[]},{"id":"7f9cefbd.d5b48","type":"http in","z":"f60cd997.341088","name":"","url":"/ambulanceLocation","method":"get","x":295.6666564941406,"y":399.6666564941406,"wires":[["69d2137d.bfe99c","3b3d2e09.57f492"]]},{"id":"69d2137d.bfe99c","type":"http response","z":"f60cd997.341088","name":"","x":502.66668701171875,"y":397.6666564941406,"wires":[]},{"id":"ca59c08c.4147b","type":"http in","z":"f60cd997.341088","name":"","url":"/dispatchAmbulance","method":"post","x":322.7381134033203,"y":487.98808670043945,"wires":[["1e05977c.da4579","10cb9ec3.6a2eb1"]]},{"id":"1e05977c.da4579","type":"function","z":"f60cd997.341088","name":"Store data","func":"msg.patientLat = msg.payload.lat;\nmsg.patientLng = msg.payload.lng;\nmsg.patientName = msg.payload.patientName;\nmsg.description = msg.payload.description;\nmsg.topic = msg.payload.id;\nmsg.patientName = msg.payload.patientName;\nmsg.streetViewUrl = msg.payload.url;\nmsg.url = context.global.url + \"/location/\"+msg.topic;\nreturn msg;","outputs":"1","x":433.4881134033203,"y":539.4880886077881,"wires":[["8d7f1a6b.d6b288","655fe321.4e032c"]]},{"id":"8d7f1a6b.d6b288","type":"http request","z":"f60cd997.341088","name":"Get ambulance location","method":"GET","url":"","x":545.238151550293,"y":587.9880886077881,"wires":[["2b51e93f.855346"]]},{"id":"2b51e93f.855346","type":"json","z":"f60cd997.341088","name":"","x":671.4881057739258,"y":621.2380886077881,"wires":[["e5a6c33d.f4f29","814292d2.dbd62"]]},{"id":"e5a6c33d.f4f29","type":"function","z":"f60cd997.341088","name":"Store ambulance location","func":"msg.ambuLat = msg.payload.latitude;\nmsg.ambuLng = msg.payload.longitude;\nmsg.headers = null; //This needs to be set to null. The Google maps API does not accept the headers\nreturn msg;","outputs":"1","x":803.738109588623,"y":668.4880905151367,"wires":[["e46c160.58623e8","5b949cb1.4300a4"]]},{"id":"5b949cb1.4300a4","type":"http request","z":"f60cd997.341088","name":"Get patient address","method":"GET","url":"https://maps.googleapis.com/maps/api/geocode/json?latlng={{patientLat}},{{patientLng}}&key=AIzaSyCGBvmim4kx0yem7iKdOghmtMk5XFD49uc","x":909.8492965698242,"y":735.2659225463867,"wires":[["f55510de.1d945","5525dcf3.37f7d4"]]},{"id":"5525dcf3.37f7d4","type":"json","z":"f60cd997.341088","name":"","x":1043.5158386230469,"y":772.4048080444336,"wires":[["a62e45c4.bbff58"]]},{"id":"a62e45c4.bbff58","type":"function","z":"f60cd997.341088","name":"Construct Glass Notification","func":"var ambuLat = msg.ambuLat;\nvar ambuLng = msg.ambuLng;\nvar patientLat = msg.patientLat;\nvar patientLng = msg.patientLng;\nvar description = msg.description;\n\nvar kjernejournal;\nif(msg.patientName) {\n    var patient;\n\tpatient = context.global.patients[msg.patientName];\n\tkjernejournal = '<article><section><h1 class=\"text-large white\">Patient</h1><h2>' + patient.name + '</h2><h3 class=\"blue\">Critical medical data</h3></section><footer class=\"blue\">Swipe for more</footer></article>' +\n\t                '<article><section><table class=\"align-justify\"><tr><td class=\"text-large\">' + patient.name + '</td><td>' + patient.sex + '/' + patient.age + '/' + patient.bloodType +'</td></tr>'; \n\t                \n\tvar medicalHistory = \"\";\n\tpatient.medicalHistory.forEach(function (entry) {\n\t    medicalHistory += '<tr><td class=\"text-small\">' + entry + '</td><td></td></tr>';\n\t});\n\tkjernejournal += medicalHistory;\n\tkjernejournal += '</table></section><footer class=\"blue\">Medical history</footer></article>'\n\t\n\tkjernejournal += '<article><section><table class=\"align-justify\"><tr><td class=\"text-large\">' + patient.name + '</td><td>' + patient.sex + '/' + patient.age + '/' + patient.bloodType +'</td></tr>';\n\t\n\tvar prescriptions = \"\";\n\tpatient.prescriptions.forEach(function (entry) {\n\t    prescriptions += '<tr class=\"text-small\"><td>'+ entry +'</td><td></td></tr>';\n\t});\n\tkjernejournal += prescriptions;\n\tkjernejournal += '</table></section><footer class=\"blue\">Prescriptions</footer></article>';\n\t\n\tkjernejournal += '<article><section><table class=\"align-justify\"><tr><td class=\"text-large\">' + patient.name + '</td><td>' + patient.sex + '/' + patient.age + '/' + patient.bloodType +'</td></tr>';\n\tvar allergies = \"\";\n\tpatient.allergies.forEach(function (entry) {\n\t    allergies += '<tr class=\"text-small\"><td>'+ entry +'</td><td></td></tr>';\n\t});\n\tkjernejournal += allergies;\n\tkjernejournal += '</table></section><footer class=\"blue\">Allergies</footer></article>';\n}\n\n//var addr = \"glass://map?w=240&h=360&marker=1;\" + patientLat + \",\" + patientLng;\n//var addr = \"glass://map?w=240&h=360&marker=0;\" + ambuLat + \",\" + ambuLng + \"&marker=1;\" + patientLat + \",\" + patientLng;\nvar addr = msg.streetViewUrl;\n\n/*  Insert payload into Google Glass Timeline\n *  https://developers.google.com/glass/v1/reference/timeline/insert\n*/\n\nmsg.payload = {\n    \"notification\": {\n      \"level\": \"DEFAULT\"\n    },\n    \"callbackUrl\": \"https://mirrornotifications.appspot.com/forward?url=http://localhost:8081/reply\",\n    \"menuItems\": [{\n      \"action\": \"NAVIGATE\"\n    }],\n    \"html\": \"<article class=\\\"cover-only\\\"><figure><img src=\\\"\" + addr +  \"\\\" height=\\\"360\\\" width=\\\"240\\\"></figure><section><p style=\\\"padding-top:2px\\\" class=\\\"text-small\\\">Emergency response request:</p><div class=\\\"text-auto-size\\\"><p class=\\\"blue text-small\\\">\" + description + \"</p><p class=\\\"yellow text-small\\\">\"+msg.payload.results[0].formatted_address+\"</p></div></section><footer>Tap for details</footer></article>\"+kjernejournal,\n    //\"html\": \"<article class=\\\"cover-only\\\"><figure><img src=\\\"\" + addr +  \"\\\" height=\\\"360\\\" width=\\\"240\\\"></figure><section><p class=\\\"text-small\\\">Utrykningsforesp?rsel:</p><div class=\\\"text-auto-size\\\"><p class=\\\"blue text-small\\\">\" + description + \"</p><p class=\\\"yellow text-small\\\">\"+msg.payload.results[0].formatted_address+\"</p></div></section><footer>Tap for more</footer></article>\"+kjernejournal,\n    \"location\": {\n      \"latitude\": msg.payload.results[0].latitude,\n      \"longitude\": msg.payload.results[0].longitude,\n      \"displayName\": msg.payload.results[0].formatted_address\n    }\n};\nmsg.url = context.global.url + \"/timeline/\"+ msg.topic;\nreturn msg; ","outputs":"1","noerr":0,"x":1262.2381286621094,"y":775.2381210327148,"wires":[["d8afa471.bd9878","a3408765.8793b8"]]},{"id":"d8afa471.bd9878","type":"http request","z":"f60cd997.341088","name":"Send notification to ambulance","method":"POST","url":"","x":1388.2381286621094,"y":900.4881210327148,"wires":[["7d0e469b.d4c348","91962eab.ec725"]]},{"id":"164b9774.b7cd39","type":"http response","z":"f60cd997.341088","name":"Send response to OperationsView ","x":1625.9881286621094,"y":969.2381210327148,"wires":[]},{"id":"f55510de.1d945","type":"debug","z":"f60cd997.341088","name":"","active":false,"console":"false","complete":"patientLat","x":1208.4325904846191,"y":721.4325523376465,"wires":[]},{"id":"10cb9ec3.6a2eb1","type":"debug","z":"f60cd997.341088","name":"","active":false,"console":"false","complete":"payload","x":529.7381172180176,"y":487.98808670043945,"wires":[]},{"id":"814292d2.dbd62","type":"debug","z":"f60cd997.341088","name":"","active":false,"console":"false","complete":"false","x":822.7381687164307,"y":620.9880895614624,"wires":[]},{"id":"e46c160.58623e8","type":"debug","z":"f60cd997.341088","name":"","active":false,"console":"false","complete":"payload","x":1021.4881134033203,"y":668.7380886077881,"wires":[]},{"id":"ffb861c2.c1ce6","type":"debug","z":"f60cd997.341088","name":"","active":false,"console":"false","complete":"false","x":1452.595230102539,"y":506.41665744781494,"wires":[]},{"id":"3b3d2e09.57f492","type":"http request","z":"f60cd997.341088","name":"Get available Glasses","method":"GET","url":"http://{{req.headers.host}}/getAuthorized","x":505.6666564941406,"y":310.6666564941406,"wires":[["fee08453.d1b048"]]},{"id":"d1d9b292.1bb5d","type":"inject","z":"f60cd997.341088","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":297.6666564941406,"y":316.6666564941406,"wires":[["3b3d2e09.57f492"]]},{"id":"99fdf615.e30a38","type":"function","z":"f60cd997.341088","name":"Create one msg per Glass","func":"\ncontext.global.glasses = msg.payload;\nvar messages = [];\nfor(var id in msg.payload) {\t\n\tmessages.push({topic: id, name: msg.payload[id].name});\n}\nreturn [messages];","outputs":1,"x":787.6666793823242,"y":362.3809413909912,"wires":[["85434d7a.80529"]]},{"id":"fee08453.d1b048","type":"json","z":"f60cd997.341088","name":"","x":673.6666717529297,"y":316.6666564941406,"wires":[["99fdf615.e30a38"]]},{"id":"5945a72d.74f928","type":"function","z":"f60cd997.341088","name":"Add Glass ID and name to payload","func":"msg.payload = {id: msg.topic, name: msg.name, payload: msg.payload};\nreturn msg;","outputs":1,"x":1229.0952262878418,"y":506.4166564941406,"wires":[["e35f066d.cb3768","ffb861c2.c1ce6"]]},{"id":"81c8fc07.c96e6","type":"json","z":"f60cd997.341088","name":"","x":1081.0952262878418,"y":461.9166564941406,"wires":[["5945a72d.74f928"]]},{"id":"91bb990b.da4d38","type":"inject","z":"f60cd997.341088","name":"On startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":297.66668701171875,"y":439.6666564941406,"wires":[["acddb33.309535"]]},{"id":"acddb33.309535","type":"function","z":"f60cd997.341088","name":"Register patients","func":"var patientsJson = {};\npatientsJson['John Doe'] = {\n    \"name\": \"John Doe\",\n    \"age\": \"39\",\n    \"sex\": \"M\",\n    \"organDonor\": true,\n    \"bloodType\": \"A+\",\n    \"medicalHistory\": [\"Diabetic\", \"Spinal Disc Herniation\"],\n    \"prescriptions\": [\"Insulin\"],\n    \"allergies\": [\"Penicilin\", \"Seafood\"]\n};\npatientsJson['Jane Fisher'] = {\n    \"name\": \"Jane Fisher\",\n    \"age\": \"33\",\n    \"sex\": \"F\",\n    \"organDonor\": false,\n    \"bloodType\": \"0-\",\n    \"medicalHistory\": [\"Anaphylactic reaction\", \"Mild depression\"],\n    \"prescriptions\": [\"Trimethoprim\"],\n    \"allergies\": [\"Insect stings\", \"Sun sensitivity\"]\n};\npatientsJson['Helen Driscoll'] = {\n    \"name\": \"Helen Driscoll\",\n    \"age\": \"21\",\n    \"sex\": \"F\",\n    \"organDonor\": true,\n    \"bloodType\": \"B+\",\n    \"medicalHistory\": [\"Anxiety\"],\n    \"prescriptions\": [\"Cerazette\", \"Cetrizine\", \"Diazepam\"],\n    \"allergies\": [\"Pollen\", \"Egg\"]\n};\n\ncontext.global.patients = patientsJson;\n\n","outputs":1,"noerr":0,"x":469.66668701171875,"y":439.6666564941406,"wires":[[]]},{"id":"6340e4c.e04301c","type":"debug","z":"f60cd997.341088","name":"","active":false,"console":"false","complete":"true","x":1114.3809509277344,"y":311.95237731933594,"wires":[]},{"id":"655fe321.4e032c","type":"debug","z":"f60cd997.341088","name":"","active":false,"console":"false","complete":"true","x":689.4166564941406,"y":539.9166564941406,"wires":[]},{"id":"76a15de8.5013d4","type":"debug","z":"f60cd997.341088","name":"","active":false,"console":"false","complete":"res.headers","x":1257.1110610961914,"y":372.6666564941406,"wires":[]},{"id":"85434d7a.80529","type":"function","z":"f60cd997.341088","name":"Set msg.url","func":"msg.url = context.global.url + \"/location/\"+ msg.topic;\nreturn msg;","outputs":1,"x":763.2222120496963,"y":425.6666564941406,"wires":[["6340e4c.e04301c","1a349a97.e5bac5"]]},{"id":"54594f.ef5bd6b","type":"inject","z":"f60cd997.341088","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":true,"x":288.44443130493164,"y":170.8888521194458,"wires":[["baa28654.ef9538"]]},{"id":"baa28654.ef9538","type":"function","z":"f60cd997.341088","name":"context variables","func":"context.global.url = \"https://helsinki.mybluemix.net\";\ncontext.global.CLIENT_ID = \"476168557117-9c9fqlj61fs3h34kkut7s5qq55avaem0.apps.googleusercontent.com\";\ncontext.global.CLIENT_SECRET = \"MoZiGZESrCjkJWHpufs7Mb9u\";\nreturn msg;","outputs":1,"noerr":0,"x":488.49998474121094,"y":166.88885974884033,"wires":[[]]},{"id":"a3408765.8793b8","type":"debug","z":"f60cd997.341088","name":"","active":false,"console":"false","complete":"payload.html","x":1456.6666564941406,"y":810.8888521194458,"wires":[]},{"id":"7d0e469b.d4c348","type":"debug","z":"f60cd997.341088","name":"","active":false,"console":"false","complete":"false","x":1638.6666564941406,"y":866.8888521194458,"wires":[]},{"id":"2e40e68d.77ff6a","type":"http in","z":"f60cd997.341088","name":"","url":"/operations","method":"get","swaggerDoc":"","x":274.6666564941406,"y":222.8888521194458,"wires":[["ec64bc28.0d67f"]]},{"id":"ec64bc28.0d67f","type":"template","z":"f60cd997.341088","name":"OperationsView2","field":"","fieldType":"msg","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n\n<head>\n\t<title>Ambulance Dispatcher</title>\n\t<script type=\"text/javascript\" src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js\"></script>\n\t<script type=\"text/javascript\" src=\"//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js\"></script>\n\t<link rel=\"stylesheet\" href=\"//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css\">\n\n\t<style type=\"text/css\" media=\"screen\">\n\t\t#map {\n\t\t\tposition: absolute;\n\t\t\ttop: 0;\n\t\t\tbottom: 0;\n\t\t\tleft: 0;\n\t\t\tright: 0;\n\t\t}\n\t\t\n\t\t#panorama {\n\t\t\twidth: 100%;\n\t\t\theight: 300px;\n\t\t\tz-index: 999;\n\t\t}\n\t\t\n\t\t#dispatch {\n\t\t\tfloat: right;\n\t\t\twidth: 300px;\n\t\t\theight: 18px;\n\t\t\tz-index: 999;\n\t\t\tposition: absolute;\n\t\t}\n\t\t\n\t\thtml,\n\t\tbody,\n\t\t.row,\n\t\t#view,\n\t\t#map,\n\t\t#mapPartial,\n\t\t#infoPartial {\n\t\t\theight: 100%;\n\t\t}\n\t\t\n\t\t#infoPartial {\n\t\t\tbackground: LightGrey;\n\t\t\tpadding-right: 15px;\n\t\t}\n\t\t\n\t\t.modal-footer {\n\t\t\ttext-align: center;\n\t\t}\n\t\t\n\t\t#dispatchBtn {\n\t\t\twidth: 95%;\n\t\t}\n\t\t\n\t\t#endCallBtn {\n\t\t\twidth: 95%;\n\t\t}\n\t\t\n\t\t#patientInfoBtn {\n\t\t\twidth: 95%;\n\t\t\tmargin: 0 auto;\n\t\t}\n\t\t\n\t\t#buttonCenter {\n\t\t\ttext-align: center;\n\t\t}\n\t\t\n\t\t#availableAmbulances {\n\t\t\tposition: relative;\n\t\t\theight: 180px;\n\t\t\tclear:both;\n\t\t\tpadding-top:20px;\n\t\t}\n\t\t\n\t\t#patientSearchInfoResult {\n\t\t\ttext-align: center;\n\t\t}\n\t\t\n\t\t.controls {\n\t\t\tmargin-top: 10px;\n\t\t\tborder: 1px solid transparent;\n\t\t\tborder-radius: 2px 0 0 2px;\n\t\t\tbox-sizing: border-box;\n\t\t\t-moz-box-sizing: border-box;\n\t\t\theight: 32px;\n\t\t\toutline: none;\n\t\t\tbox-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);\n\t\t}\n\t\t\n\t\t#pac-input {\n\t\t\tbackground-color: #fff;\n\t\t\tfont-family: Roboto;\n\t\t\tfont-size: 15px;\n\t\t\tfont-weight: 300;\n\t\t\tmargin-left: 30px;\n\t\t\tpadding: 0 11px 0 13px;\n\t\t\ttext-overflow: ellipsis;\n\t\t\twidth: 300px;\n\t\t}\n\t\t\n\t\t#pac-input:focus {\n\t\t\tborder-color: #4d90fe;\n\t\t}\n\t\t\n\t\t.pac-container {\n\t\t\tfont-family: Roboto;\n\t\t}\n\t</style>\n\n</head>\n\n<body>\n\n\t\n\t<div id=\"dispatchModal\" class=\"modal fade\" role=\"dialog\">\n\t\t<div class=\"modal-dialog\">\n\n\t\t\t<!-- Modal content-->\n\t\t\t<div class=\"modal-content\">\n\t\t\t\t<div class=\"modal-header\">\n\t\t\t\t\t<button type=\"button\" class=\"close\" data-dismiss=\"modal\">&times;</button>\n\t\t\t\t\t<h4 class=\"modal-title\">Dispatch ambulance to this location</h4>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"modal-body\">\n\t\t\t\t\t<div id=\"panorama\">\n\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"modal-footer\">\n\t\t\t\t\t<button id=\"dispatchBtn\" class=\"btn btn-success\" type=\"submit\">Dispatch Ambulance</button>\n\t\t\t\t</div>\n\t\t\t</div>\n\n\t\t</div>\n\t</div>\n\n\t<div id=\"patientModal\" class=\"modal fade\" role=\"dialog\">\n\t\t<div class=\"modal-dialog\">\n\n\t\t\t<!-- Modal content-->\n\t\t\t<div class=\"modal-content\">\n\t\t\t\t<div class=\"modal-header\">\n\t\t\t\t\t<button type=\"button\" class=\"close\" data-dismiss=\"modal\">&times;</button>\n\t\t\t\t\t<h4 class=\"modal-title\">Send patient information to ambulance</h4>\n\t\t\t\t</div>\n\t\t\t\t<form id=\"patientInfo\">\n\t\t\t\t\t<div class=\"modal-body\">\n\t\t\t\t\t\t<div>\n\t\t\t\t\t\t\t<div class=\"form-group\">\n\t\t\t\t\t\t\t\t<label for=\"patientName\">Patient name</label>\n\t\t\t\t\t\t\t\t<div class=\"input-group\">\n\t\t\t\t\t\t\t\t\t<input type=\"text\" class=\"form-control\" id=\"patientName\" placeholder=\"Search for patient ...\">\n\t\t\t\t\t\t\t\t\t<span class=\"input-group-btn\">\n\t\t\t\t\t\t\t\t        <button id=\"patientSearchBtn\" class=\"btn btn-default\" type=\"button\"><span class=\"glyphicon glyphicon-search\"></span></button>\n\t\t\t\t\t\t\t\t    </span>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t<div id=\"patientSearchInfoResult\">\n\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t<div class=\"form-group\">\n\t\t\t\t\t\t\t\t<label for=\"description\">Short description of incident</label>\n\t\t\t\t\t\t\t\t<input type=\"text\" class=\"form-control\" id=\"description\" placeholder=\"Short description of incident\">\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t\t<div class=\"modal-footer\">\n\t\t\t\t\t\t<button id=\"patientInfoBtn\" class=\"btn btn-primary\" type=\"submit\">Send patient information</button>\n\t\t\t\t\t</div>\n\t\t\t\t</form>\n\t\t\t</div>\n\t\t</div>\n\t</div>\n\n\t<div class=\"row\" id=\"view\">\n\t\t<div class=\"col-md-9 \" id=\"mapPartial\">\n\t\t\t<div>\n\t\t\t\t<div id=\"panorama\">\n\n\t\t\t\t</div>\n\t\t\t</div>\n\t\t\t<input id=\"pac-input\" class=\"controls\" type=\"text\" placeholder=\"Search Box\">\n\t\t\t<div id=\"map\"></div>\n\t\t</div>\n\t\t<div class=\"col-md-3\" id=\"infoPartial\">\n\t\t\t<h2><span class=\"glyphicon glyphicon-earphone\"></span>911 Dispatcher</h2>\n\t\t\t<h5>Dispatcher ID: #10034</h5>\n\t\t\t<h5>Call ID: #134525</h5>\n\t\t\t<h5>Call Started: <script type=\"text/javascript\">document.write(new Date().toLocaleTimeString());</script></h5>\n\t\t\t<button id=\"endCallBtn\" class=\"btn btn-danger\" type=\"submit\">End call</button>\n\t\t\t<h3>Log</h3>\n\t\t\t<div>\n\t\t\t\t<table id=\"log\" class=\"table table-striped\">\n\t\t\t\t\t<thead>\n\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t<th>Time</th>\n\t\t\t\t\t\t\t<th>Event</th>\n\t\t\t\t\t\t</tr>\n\t\t\t\t\t</thead>\n\t\t\t\t\t<tbody>\n\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t<th>\n\t\t\t\t\t\t\t\t<script type=\"text/javascript\">\n\t\t\t\t\t\t\t\t\tdocument.write(new Date().toLocaleTimeString());\n\t\t\t\t\t\t\t\t</script>\n\t\t\t\t\t\t\t</th>\n\t\t\t\t\t\t\t<td> Incoming call</td>\n\t\t\t\t\t\t</tr>\n\t\t\t\t\t</tbody>\n\t\t\t\t</table>\n\t\t\t</div>\n\t\t\t<!--<div>\n\t\t\t\t<h3>Available ambulances:</h3>\n\t\t\t\t<ul id=\"availableAmbulances\">\n\t\t\t\t\t\n\t\t\t\t</ul>\n\t\t\t</div>-->\n\t\t</div>\n\t</div>\n\t\n\n\t<script type=\"text/javascript\">\n\t\tvar panorama;\n\t\t\n\t\t$('#endCallBtn').click(function() {\n\t\t\tlocation.reload();\n\t\t});\n\t\t\n\t\tfunction initMap() {\n\t\t\tvar location = {\n\t\t\t\tlat: 60.1637088,\n\t\t\t\tlng: 24.7600956\n\t\t\t};\n\t\t\tvar map = new google.maps.Map(document.getElementById('map'), {\n\t\t\t\tzoom: 12,\n\t\t\t\tcenter: location,\n\t\t\t\tmapTypeId: google.maps.MapTypeId.ROADMAP,\n\t\t\t\tmapTypeControl: false,\n\t\t\t\tstreetViewControl: false\n\t\t\t});\n\n\t\t\t//updateAvailableAmbulances();\n\t\t\tinitRightClick(map);\n\t\t\tinitSearchBox(map);\n\t\t}\n\n\t\tfunction initRightClick(map) {\n\t\t\tvar icon = {\n\t\t\t\turl: 'https://maps.gstatic.com/mapfiles/place_api/icons/geocode-71.png',\n\t\t\t\tsize: new google.maps.Size(71, 71),\n\t\t\t\torigin: new google.maps.Point(0, 0),\n\t\t\t\tanchor: new google.maps.Point(17, 34),\n\t\t\t\tscaledSize: new google.maps.Size(25, 25)\n\t\t\t};\n\n\t\t\tvar marker = new google.maps.Marker({\n\t\t\t\ticon: icon,\n\t\t\t\ttitle: 'location'\n\t\t\t});\n\n\t\t\tmarker.addListener('click', function() {\n\t\t\t\tshowStreetviewModal(marker);\n\t\t\t});\n\n\t\t\tgoogle.maps.event.addDomListener(map, 'rightclick', function(e) {\n\t\t\t\tmarker.setPosition(e.latLng);\n\t\t\t\tmarker.setMap(map);\n\t\t\t});\n\t\t}\n\n\t\tfunction initSearchBox(map) {\n\t\t\tvar input = document.getElementById('pac-input');\n\t\t\tvar searchBox = new google.maps.places.SearchBox(input);\n\t\t\tmap.controls[google.maps.ControlPosition.TOP_LEFT].push(input);\n\n\t\t\t// Bias the SearchBox results towards current map's viewport.\n\t\t\tmap.addListener('bounds_changed', function() {\n\t\t\t\tsearchBox.setBounds(map.getBounds());\n\t\t\t});\n\n\t\t\tvar markers = [];\n\t\t\t// [START region_getplaces]\n\t\t\t// Listen for the event fired when the user selects a prediction and retrieve\n\t\t\t// more details for that place.\n\t\t\tsearchBox.addListener('places_changed', function() {\n\t\t\t\tvar places = searchBox.getPlaces();\n\n\t\t\t\tif (places.length == 0) {\n\t\t\t\t\treturn;\n\t\t\t\t}\n\n\t\t\t\t// Clear out the old markers.\n\t\t\t\tmarkers.forEach(function(marker) {\n\t\t\t\t\tmarker.setMap(null);\n\t\t\t\t});\n\t\t\t\tmarkers = [];\n\n\t\t\t\t// For each place, get the icon, name and location.\n\t\t\t\tvar bounds = new google.maps.LatLngBounds();\n\t\t\t\tplaces.forEach(function(place) {\n\t\t\t\t\tvar icon = {\n\t\t\t\t\t\turl: 'https://maps.gstatic.com/mapfiles/place_api/icons/geocode-71.png',\n\t\t\t\t\t\tsize: new google.maps.Size(71, 71),\n\t\t\t\t\t\torigin: new google.maps.Point(0, 0),\n\t\t\t\t\t\tanchor: new google.maps.Point(17, 34),\n\t\t\t\t\t\tscaledSize: new google.maps.Size(25, 25)\n\t\t\t\t\t};\n\n\t\t\t\t\tvar marker = new google.maps.Marker({\n\t\t\t\t\t\tmap: map,\n\t\t\t\t\t\ticon: icon,\n\t\t\t\t\t\ttitle: place.name,\n\t\t\t\t\t\tposition: place.geometry.location\n\t\t\t\t\t});\n\n\t\t\t\t\t// Create a marker for each place.\n\t\t\t\t\tmarkers.push(marker);\n\n\t\t\t\t\tmarker.addListener('click', function() {\n\t\t\t\t\t\tshowStreetviewModal(marker);\n\t\t\t\t\t});\n\n\t\t\t\t\tif (place.geometry.viewport) {\n\t\t\t\t\t\t// Only geocodes have viewport.\n\t\t\t\t\t\tbounds.union(place.geometry.viewport);\n\t\t\t\t\t}\n\t\t\t\t\telse {\n\t\t\t\t\t\tbounds.extend(place.geometry.location);\n\t\t\t\t\t}\n\t\t\t\t});\n\t\t\t\tmap.panToBounds(bounds);\n\t\t\t});\n\t\t}\n\n\t\tfunction showStreetviewModal(marker) {\n\t\t\tpanorama = new google.maps.StreetViewPanorama(\n\t\t\t\tdocument.getElementById('panorama'), {\n\t\t\t\t\tposition: marker.getPosition(),\n\t\t\t\t\tpov: {\n\t\t\t\t\t\theading: 165,\n\t\t\t\t\t\tpitch: 0\n\t\t\t\t\t},\n\t\t\t\t\tzoom: 1,\n\t\t\t\t\tdisableDefaultUI: true\n\t\t\t\t});\n\t\t\t$('#dispatchModal').modal('show');\n\t\t\t$('#dispatchModal').on('shown.bs.modal', function() {\n\t\t\t\tgoogle.maps.event.trigger(panorama, \"resize\");\n\t\t\t});\n\n\t\t\t$('#dispatchBtn').bind('click', function() {\n\t\t\t\tvar url = \"https://maps.googleapis.com/maps/api/streetview?size=240x360&\" +\n\t\t\t\t\t\"location=\" + marker.getPosition().lat() + \",\" + marker.getPosition().lng() + \"&fov=90&heading=\" + panorama.getPov().heading +\n\t\t\t\t\t\"&pitch=\" + panorama.getPov().pitch;\n\t\t\t\t$.post('/dispatchAmbulance2', {\n\t\t\t\t\tid: '102159532536147848905',\n\t\t\t\t\tlat: marker.getPosition().lat(),\n\t\t\t\t\tlng: marker.getPosition().lng(),\n\t\t\t\t\turl: url\n\t\t\t\t}, function() {\n\t\t\t\t\t// add functionality to write to sidebar\n\t\t\t\t\tvar time = new Date().toLocaleTimeString();\n\t\t\t\t\tvar newRow = '<tr><th>' + time + '</th><td> Ambulance dispatched' + '</td></tr>';\n\n\t\t\t\t\t$(\"#log tbody\").append(newRow);\n\t\t\t\t\t$('#dispatchModal').modal('hide');\n\n\t\t\t\t\tvar icon = {\n\t\t\t\t\t\turl: 'http://auto-accident-denver.com/wp-content/uploads/2015/12/emergency-Icon.jpeg-25.png',\n\t\t\t\t\t};\n\n\t\t\t\t\tambulanceMarker = new google.maps.Marker({\n\t\t\t\t\t    icon: icon,\n\t\t\t\t\t\tmap: marker.getMap(),\n\t\t\t\t\t\ttitle: 'Incident',\n\t\t\t\t\t\tposition: marker.getPosition()\n\t\t\t\t\t});\n\n\t\t\t\t\tambulanceMarker.addListener('click', function() {\n\t\t\t\t\t\tshowPatientInformationModal(marker);\n\t\t\t\t\t});\n\n\t\t\t\t\tmarker.setMap(null);\n\t\t\t\t})\n\t\t\t});\n\n\t\t}\n\n\t\tfunction showPatientInformationModal(marker) {\n\t\t\t$('#patientInfoBtn').attr(\"disabled\", true);\n\t\t\t$('#patientModal').modal('show');\n\t\t\t\n\t\t\t$('#patientSearchBtn').click(function(){\n\t\t\t\t$.get('https://ambulance-iot-demo.mybluemix.net/patientData', {\n\t\t\t\t\tpatientName: $('input[id=patientName]').val()\n\t\t\t\t}, function(data) {\n\t\t\t\t\tvar patientData = '<h3>' + data.name + ' <small>' + data.sex + '/' + data.age + '</small></h3>';\n\t\t\t\t\t$(\"#patientSearchInfoResult\").html(patientData);\n\t\t\t\t\t$('#patientInfoBtn').attr(\"disabled\", false);\n\t\t\t\t}).fail(function() {\n\t\t\t\t\t$(\"#patientSearchInfoResult\").html('');\n\t\t\t\t\t$('#patientInfoBtn').attr(\"disabled\", true);\n\t\t\t\t});\n\t\t\t});\n\t\t\t\n\t\t\t$('form').submit(function(event) {\n\t\t\t\tvar patientName = $('input[id=patientName]').val();\n\t\t\t\tvar description = $('input[id=description]').val()\n\t\t\t\t$.post('https://ambulance-iot-demo.mybluemix.net/patientInfo', {\n\t\t\t\t\tid: '102159532536147848905',\n\t\t\t\t\tpatientName: patientName,\n\t\t\t\t\tdescription: description\n\t\t\t\t}, function() {\n\t\t\t\t\t$('#patientModal').modal('hide');\n\t\t\t\t\tvar time = new Date().toLocaleTimeString();\n\t\t\t\t\tvar newRow = '<tr><th>' + time + '</th><td> Patient information sent for ' + patientName + '</td></tr>';\n\n\t\t\t\t\t$(\"#log tbody\").append(newRow);\n\t\t\t\t});\n\t\t\t\tevent.preventDefault();\n\t\t\t});\n\t\t}\n\t\t\n\t\tfunction updateAvailableAmbulances() {\n\t\t\t$.get('https://ambulance-iot-demo.mybluemix.net/getAuthorized', function(data) {\n\t\t\t\tObject.keys(data).forEach(function(key) {\n\t\t\t\t\tvar row = '<li>' + data[key].name + '</li>';\n\t\t\t\t\t$(\"#availableAmbulances\").append(row);\n\t\t\t\t});\n\t\t\t});\t\n\t\t}\n\t</script>\n\t<script async defer src=\"https://maps.googleapis.com/maps/api/js?libraries=places&callback=initMap\"></script>\n</body>\n\n</html>","x":469.6666564941406,"y":220.8888521194458,"wires":[["782ea8f4.fae1a8"]]},{"id":"782ea8f4.fae1a8","type":"http response","z":"f60cd997.341088","name":"","x":625.6666564941406,"y":221.8888521194458,"wires":[]},{"id":"7b701c52.4ee0f4","type":"http in","z":"f60cd997.341088","name":"","url":"/dispatchAmbulance2","method":"post","swaggerDoc":"","x":300.6666564941406,"y":793.8888521194458,"wires":[["8ad5bd4c.27e05","af02df19.93216"]]},{"id":"8ad5bd4c.27e05","type":"function","z":"f60cd997.341088","name":"Store data","func":"msg.patientLat = msg.payload.lat;\nmsg.patientLng = msg.payload.lng;\nmsg.topic = msg.payload.id;\nmsg.streetViewUrl = msg.payload.url;\nmsg.url = context.global.url + \"/location/\"+msg.topic;\nreturn msg;","outputs":1,"noerr":0,"x":563.6666564941406,"y":790.8888521194458,"wires":[["26477373.6b203c"]]},{"id":"26477373.6b203c","type":"http request","z":"f60cd997.341088","name":"Get patient address","method":"GET","url":"https://maps.googleapis.com/maps/api/geocode/json?latlng={{patientLat}},{{patientLng}}&key=AIzaSyCGBvmim4kx0yem7iKdOghmtMk5XFD49uc","x":740.6666564941406,"y":822.8888521194458,"wires":[["a9f7460d.dd42b8"]]},{"id":"5c7a56f.771d1a8","type":"function","z":"f60cd997.341088","name":"","func":"var addr = msg.streetViewUrl;\n\n/*  Insert payload into Google Glass Timeline\n *  https://developers.google.com/glass/v1/reference/timeline/insert\n*/\n\nmsg.payload = {\n    \"notification\": {\n      \"level\": \"DEFAULT\"\n    },\n    \"callbackUrl\": \"https://mirrornotifications.appspot.com/forward?url=http://localhost:8081/reply\",\n    \"menuItems\": [{\n      \"action\": \"NAVIGATE\"\n    }],\n    \"html\": \"<article class=\\\"cover-only\\\"><figure><img src=\\\"\" + addr +  \"\\\" height=\\\"360\\\" width=\\\"240\\\"></figure><section><p style=\\\"padding-top:2px\\\" class=\\\"text-small\\\">Emergency response request:</p><div class=\\\"text-auto-size\\\"><p class=\\\"yellow text-small\\\">\"+msg.payload.results[0].formatted_address+\"</p></div></section><footer>Tap for GPS</footer></article>\",\n    \"location\": {\n      \"latitude\": msg.payload.results[0].latitude,\n      \"longitude\": msg.payload.results[0].longitude,\n      \"displayName\": msg.payload.results[0].formatted_address\n    }\n};\nmsg.url = context.global.url + \"/timeline/\"+ msg.topic;\nreturn msg; ","outputs":1,"noerr":0,"x":1084.6666564941406,"y":897.8888778686523,"wires":[["d8afa471.bd9878","27a18409.cd5c9c"]]},{"id":"27a18409.cd5c9c","type":"debug","z":"f60cd997.341088","name":"","active":false,"console":"false","complete":"false","x":1164.6665954589844,"y":985.8888778686523,"wires":[]},{"id":"a9f7460d.dd42b8","type":"json","z":"f60cd997.341088","name":"","x":942.6666564941406,"y":836.8888521194458,"wires":[["5c7a56f.771d1a8"]]},{"id":"91962eab.ec725","type":"function","z":"f60cd997.341088","name":"","func":"msg.headers = {\n    \"Access-Control-Allow-Origin\": \"*\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":1395.6666564941406,"y":980.8888521194458,"wires":[["164b9774.b7cd39"]]},{"id":"dff5d38d.50dd7","type":"http in","z":"f60cd997.341088","name":"","url":"/patientInfo","method":"post","swaggerDoc":"","x":305.6666564941406,"y":903.8888521194458,"wires":[["786e4d8f.d225f4"]]},{"id":"786e4d8f.d225f4","type":"function","z":"f60cd997.341088","name":"Store data","func":"msg.patientName = msg.payload.patientName;\nmsg.description = msg.payload.description;\nmsg.topic = msg.payload.id;\nmsg.url = context.global.url + \"/location/\"+msg.topic;\n\nreturn msg;","outputs":1,"noerr":0,"x":486.6666564941406,"y":912.8888521194458,"wires":[["e57551a1.5a805","69c22934.2d7808"]]},{"id":"e57551a1.5a805","type":"function","z":"f60cd997.341088","name":"Construct Glass Notification","func":"var description = msg.description;\n\nvar kjernejournal;\nif(msg.patientName) {\n    var patient;\n\tpatient = context.global.patients[msg.patientName];\n\tkjernejournal = '<article><section><h1 class=\"text-large white\">Patient</h1><h2>' + patient.name + '</h2><h3 class=\"blue\">Critical medical data</h3></section><footer class=\"blue\">Swipe for more</footer></article>' +\n\t                '<article><section><table class=\"align-justify\"><tr><td class=\"text-large\">' + patient.name + '</td><td>' + patient.sex + '/' + patient.age + '/' + patient.bloodType +'</td></tr>'; \n\t                \n\tvar medicalHistory = \"\";\n\tpatient.medicalHistory.forEach(function (entry) {\n\t    medicalHistory += '<tr><td class=\"text-small\">' + entry + '</td><td></td></tr>';\n\t});\n\tkjernejournal += medicalHistory;\n\tkjernejournal += '</table></section><footer class=\"blue\">Medical history</footer></article>'\n\t\n\tkjernejournal += '<article><section><table class=\"align-justify\"><tr><td class=\"text-large\">' + patient.name + '</td><td>' + patient.sex + '/' + patient.age + '/' + patient.bloodType +'</td></tr>';\n\t\n\tvar prescriptions = \"\";\n\tpatient.prescriptions.forEach(function (entry) {\n\t    prescriptions += '<tr class=\"text-small\"><td>'+ entry +'</td><td></td></tr>';\n\t});\n\tkjernejournal += prescriptions;\n\tkjernejournal += '</table></section><footer class=\"blue\">Prescriptions</footer></article>';\n\t\n\tkjernejournal += '<article><section><table class=\"align-justify\"><tr><td class=\"text-large\">' + patient.name + '</td><td>' + patient.sex + '/' + patient.age + '/' + patient.bloodType +'</td></tr>';\n\tvar allergies = \"\";\n\tpatient.allergies.forEach(function (entry) {\n\t    allergies += '<tr class=\"text-small\"><td>'+ entry +'</td><td></td></tr>';\n\t});\n\tkjernejournal += allergies;\n\tkjernejournal += '</table></section><footer class=\"blue\">Allergies</footer></article>';\n}\n\nmsg.payload = {\n    \"notification\": {\n      \"level\": \"DEFAULT\"\n    },\n    \"callbackUrl\": \"https://mirrornotifications.appspot.com/forward?url=http://localhost:8081/reply\",\n\n    //\"html\": \"<article class=\\\"cover-only\\\"><figure><img src=\\\"\" + addr +  \"\\\" height=\\\"360\\\" width=\\\"240\\\"></figure><section><p style=\\\"padding-top:2px\\\" class=\\\"text-small\\\">Emergency response request:</p><div class=\\\"text-auto-size\\\"><p class=\\\"blue text-small\\\">\" + description + \"</p><p class=\\\"yellow text-small\\\">\"+msg.payload.results[0].formatted_address+\"</p></div></section><footer>Tap for details</footer></article>\"+kjernejournal,\n    \"html\": kjernejournal\n};\nmsg.url = context.global.url + \"/timeline/\"+ msg.topic;\nreturn msg; ","outputs":"1","noerr":0,"x":724.6666564941406,"y":965.8888521194458,"wires":[["d8afa471.bd9878","9eab3da0.3b23f"]]},{"id":"9eab3da0.3b23f","type":"debug","z":"f60cd997.341088","name":"","active":true,"console":"false","complete":"false","x":949.6666564941406,"y":1050.8888521194458,"wires":[]},{"id":"69c22934.2d7808","type":"debug","z":"f60cd997.341088","name":"","active":true,"console":"false","complete":"true","x":694.6666564941406,"y":912.8888521194458,"wires":[]},{"id":"20ab9daa.1fba22","type":"http in","z":"f60cd997.341088","name":"","url":"/patientData","method":"get","swaggerDoc":"","x":288.6666564941406,"y":1066.8888521194458,"wires":[["2842e9d1.aecb56"]]},{"id":"1a785c49.eb93d4","type":"http response","z":"f60cd997.341088","name":"","x":735.6666564941406,"y":1105.8888521194458,"wires":[]},{"id":"2842e9d1.aecb56","type":"function","z":"f60cd997.341088","name":"","func":"var patientName = msg.payload.patientName;\n\nif(context.global.patients[patientName] != null) {\n    msg.payload = context.global.patients[patientName];\n} else {\n    msg.res.send(\"404\", {\"errorMessage\" : \"Not found!\"});\n};\n\nmsg.headers = {\n    \"Access-Control-Allow-Origin\": \"*\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":502.6666564941406,"y":1088.8888521194458,"wires":[["1a785c49.eb93d4"]]},{"id":"af02df19.93216","type":"debug","z":"f60cd997.341088","name":"","active":true,"console":"true","complete":"payload.id","x":508.4999694824219,"y":699.0000839233398,"wires":[]}, {"id":"718263bc.53545c","type":"http in","z":"adc88ef0.2f995","name":"","url":"/oauth2callback","method":"get","x":255.66665649414062,"y":173.66665649414062,"wires":[["9db2a065.373c9","a6e1507.4f541b"]]},{"id":"2e3c4cb5.e4b924","type":"http in","z":"adc88ef0.2f995","name":"","url":"/auth","method":"get","x":220.84115028381348,"y":131.35553073883057,"wires":[["dad894d3.b8ff48"]]},{"id":"dad894d3.b8ff48","type":"function","z":"adc88ef0.2f995","name":"Authenticate","func":"var ctx = context.global;\nOAuth2 = ctx.googleapis.OAuth2Client;\nvar oauthCallbackPath = ctx.url + \"/oauth2callback\";\nvar oauth2Client = new OAuth2(ctx.CLIENT_ID, ctx.CLIENT_SECRET, oauthCallbackPath);\n\n// generates a url that allows offline access and asks permissions\n// for Mirror API scope.\nvar url = oauth2Client.generateAuthUrl({\n  access_type: 'offline',\n  scope: 'https://www.googleapis.com/auth/glass.timeline https://www.googleapis.com/auth/glass.location https://www.googleapis.com/auth/plus.me'\n});\n\nmsg.res.redirect(url);","outputs":1,"x":391.55558013916016,"y":131.78410053253174,"wires":[[]]},{"id":"a6e1507.4f541b","type":"debug","z":"adc88ef0.2f995","name":"","active":false,"console":"true","complete":"payload","x":747.3809967041016,"y":174.64126586914062,"wires":[]},{"id":"9db2a065.373c9","type":"async","z":"adc88ef0.2f995","name":"GrabUserIdAndCacheCredentials","async":"var ctx = context.global;\nvar success = function () { console.log('Grab Authentication Token success')}\nvar failure = function () { msg.res.send(\"401\", {\"errorMessage\" : \"Failure\"}); }\n\nOAuth2 = context.global.googleapis.OAuth2Client;\nvar oauthCallbackPath = context.global.url + \"/oauth2callback\";\nvar oauth2Client = new OAuth2(ctx.CLIENT_ID, ctx.CLIENT_SECRET, oauthCallbackPath);\n\nvar grabUserIdAndCacheCredentials = function(oauth2Client, successCallback) {\n    ctx.googleapis\n    .discover('plus', 'v1')\n    .execute(function(err, client) {\n\t\tif(!!err) { \n\t\t\tconsole.error(err);\n\t\t\tmsg.res.send(\"401\", {\"errorMessage\" : err}); \n\t\t\treturn;\n\t\t}\n\t\tclient\n\t\t    .plus.people.get({ userId: 'me' })\n\t\t    .withAuthClient(oauth2Client)\n\t\t    .execute(function(err, res) {\t\n\t\t    \tif(!!err) { \t\t\t\t\n\t\t\t\t\tconsole.error(err);\n\t\t\t\t\tmsg.res.send(\"401\", {\"errorMessage\" : err}); \n\t\t\t\t\treturn;\n\t\t\t\t}\n\t\t\t\tmsg.payload = res;\n\t\t\t\tcb(msg);\n\t\t\t\tsuccessCallback(res.id, res.displayName, oauth2Client);\t\t\t\n\t\t\t});\t\t\n    });   \n};\n\nvar grabToken = function (code, oauth2Client, errorCallback, successCallback) {\n    oauth2Client.getToken(code, function (err, tokens) {\n        if (!!err) {\n            errorCallback(err);\n        } else {\n            console.log('tokens', tokens);\n            oauth2Client.setCredentials(tokens);\n            grabUserIdAndCacheCredentials(oauth2Client, successCallback);\n        }\n    });\n};\n\ngrabToken(msg.req.query.code, oauth2Client, failure, function (userId, name, oauth2Client) {\n        msg.res.send(\"200\", \"User is authenticated with Google with userId/name: \" + userId + \"/\" + name);\n        if(!ctx.cachedOAuthClients) ctx.cachedOAuthClients = {};        \n        ctx.cachedOAuthClients[userId] = {client : oauth2Client, name : name};\n\t\tmsg.payload = userId;\n        console.log(msg.payload);\n        cb(msg);\n});","outputs":1,"x":515.0952377319336,"y":173.92696285247803,"wires":[["a6e1507.4f541b"]]},{"id":"407382e.5eab47c","type":"http in","z":"adc88ef0.2f995","name":"","url":"/timeline/:id","method":"post","x":247.09523010253906,"y":218.64124488830566,"wires":[["8528cd93.8c428","e1fb9cdc.10e93"]]},{"id":"9e5f959d.b54b48","type":"debug","z":"adc88ef0.2f995","name":"","active":false,"console":"true","complete":"false","x":806.2381134033203,"y":221.4983892440796,"wires":[]},{"id":"8528cd93.8c428","type":"async","z":"adc88ef0.2f995","name":"Validate payload","async":"if(!msg.req.params.id) { \n\tmsg.res.send(\"401\", {\"errorMessage\" : \"No ID in request\"});\n}\nreturn msg;","outputs":1,"x":462.8095169067383,"y":219.06981754302979,"wires":[["16761852.270b48","e1fb9cdc.10e93"]]},{"id":"16761852.270b48","type":"async","z":"adc88ef0.2f995","name":"Push Card","async":"var pushCard = function (card, oauth2Client) {\n    context.global.googleapis\n        .discover('mirror', 'v1')\n        .execute(function (err, client) {\n        console.log(\"HELLLOE\");\n        console.log(client);\n        console.warn(client);\n            if (!!err) {\n                msg.res.send(\"500\", JSON.stringify(err));\n                msg.payload = JSON.stringify(err);\n                cb(msg);\n                return;\n            }  \n   \t\t    Card(client, oauth2Client, card);            \n        });\n};\n\nvar Card = function (client, oauth2Client, card) {\n    client\n        .mirror.timeline.insert(card)\n        .withAuthClient(oauth2Client)\n        .execute(function (err, data) {\n            if (!!err) {               \n                msg.res.send(\"500\", JSON.stringify(err));\n                msg.payload = JSON.stringify(err);\n                cb(msg);\n            } else {\n                msg.res.send(\"200\", {\"message\" : \"'Create and Insert Card to Glass Timeline success'\"});\n                msg.payload = \"Success\";\n                cb(msg);\n            }\n        });\n};\n// &polyline=;42.36254,-71.08726,42.36297,-71.09364,42.36579,-71.09208,42.3697,-71.102,42.37105,-71.10104,42.37067,-71.1001,42.36561,-71.10406,42.36838,-71.10878,42.36968,-71.10703\nvar card =   msg.payload;\n        \nvar oauthClient = context.global.cachedOAuthClients[msg.req.params.id].client;\npushCard(card, oauthClient);","outputs":1,"x":658.523811340332,"y":220.9269552230835,"wires":[["9e5f959d.b54b48"]]},{"id":"e1fb9cdc.10e93","type":"debug","z":"adc88ef0.2f995","name":"","active":false,"console":"true","complete":"true","x":457.95237731933594,"y":271.7840995788574,"wires":[]},{"id":"e46af10f.609f9","type":"http in","z":"adc88ef0.2f995","name":"","url":"/location/:id","method":"get","x":242.23809051513672,"y":325.21267795562744,"wires":[["6ac3a625.019388"]]},{"id":"6ac3a625.019388","type":"async","z":"adc88ef0.2f995","name":"Validate payload","async":"if(!msg.req.params.id) { \n\tmsg.res.send(\"401\", {\"errorMessage\" : \"No ID in request\"});\n}\nreturn msg;","outputs":1,"x":462.95236587524414,"y":326.64124965667725,"wires":[["79d55e31.18204","de6e13.0da581f"]]},{"id":"de6e13.0da581f","type":"async","z":"adc88ef0.2f995","name":"Get location","async":"var getLocation = function (oauth2Client) {\n    context.global.googleapis\n        .discover('mirror', 'v1')\n        .execute(function (err, client) {\n            if (!!err) {\n                msg.statusCode = 500;\n                msg.payload = JSON.stringify(err);\n                cb(msg);\n                return;\n            }  \n   \t\t    Location(client, oauth2Client);            \n        });\n};\n\nvar Location = function (client, oauth2Client) {\n    client\n        .mirror.locations.get({id:\"latest\"})\n        .withAuthClient(oauth2Client)\n        .execute(function (err, data) {\n            if (!!err) {               \n                msg.statusCode = 500;\n                msg.payload = JSON.stringify(err);\n                cb(msg);\n            } else {\n            \tmsg.statusCode = 200;\n                msg.payload = data;             \n                cb(msg);\n            }\n        });\n};\n        \nvar oauthClient = context.global.cachedOAuthClients[msg.req.params.id].client;\ngetLocation(oauthClient);","outputs":1,"x":664.0952453613281,"y":329.0698251724243,"wires":[["81fdf05d.5fd61","9d5071ee.726f2"]]},{"id":"79d55e31.18204","type":"debug","z":"adc88ef0.2f995","name":"","active":true,"console":"true","complete":"true","x":643.6666717529297,"y":277.06981563568115,"wires":[]},{"id":"81fdf05d.5fd61","type":"debug","z":"adc88ef0.2f995","name":"","active":false,"console":"true","complete":"false","x":815.2380599975586,"y":280.6412477493286,"wires":[]},{"id":"f0279904.92bb88","type":"inject","z":"adc88ef0.2f995","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":239.8095245361328,"y":432.2126741409302,"wires":[["f441133c.2afb7"]]},{"id":"5dd4a43b.bda96c","type":"debug","z":"adc88ef0.2f995","name":"","active":false,"console":false,"complete":false,"x":745.6667022705078,"y":429.0698547363281,"wires":[]},{"id":"f441133c.2afb7","type":"async","z":"adc88ef0.2f995","name":"Get authentiated Glass IDs","async":"var ctx = context.global;\n//var keys = _.keys(ctx.cachedOAuthClients);\nfor(client in ctx.cachedOAuthClients) {\n\tcb({payload : ctx.cachedOAuthClients[client].name});\n}\n//msg.payload = keys;\n///return msg;\n","outputs":1,"x":487.2381134033203,"y":431.21268367767334,"wires":[["5dd4a43b.bda96c"]]},{"id":"aeaec5b1.9629a8","type":"http in","z":"adc88ef0.2f995","name":"","url":"/getAuthorized","method":"get","x":251.95238494873047,"y":378.7840738296509,"wires":[["58bfb941.3ce738"]]},{"id":"58bfb941.3ce738","type":"async","z":"adc88ef0.2f995","name":"Get authentiated Glass IDs","async":"var ctx = context.global;\nmsg.payload = {};\nfor(id in ctx.cachedOAuthClients) {\n\tmsg.payload[id] = {name : ctx.cachedOAuthClients[id].name}\n}\nreturn msg;\n","outputs":1,"x":490.6666793823242,"y":378.78409481048584,"wires":[["927a1cf4.5fb7d"]]},{"id":"927a1cf4.5fb7d","type":"http response","z":"adc88ef0.2f995","name":"","x":684.8095111846924,"y":378.49835872650146,"wires":[]},{"id":"d40588bc.c18c08","type":"inject","z":"adc88ef0.2f995","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":239.80953216552734,"y":479.2126932144165,"wires":[["b632824b.69fd3"]]},{"id":"b632824b.69fd3","type":"async","z":"adc88ef0.2f995","name":"Clear authenticated glasses","async":"var ctx = context.global;\nctx.cachedOAuthClients = {};","outputs":1,"x":486.80953216552734,"y":478.6412572860718,"wires":[["80fcd150.9ff6f"]]},{"id":"80fcd150.9ff6f","type":"debug","z":"adc88ef0.2f995","name":"","active":false,"console":false,"complete":false,"x":683.6666717529297,"y":479.0698194503784,"wires":[]},{"id":"9d5071ee.726f2","type":"http response","z":"adc88ef0.2f995","name":"","x":829.8094749450684,"y":329.926965713501,"wires":[]},{"id":"1aa1d11d.cc047f","type":"debug","z":"adc88ef0.2f995","name":"","active":true,"console":"false","complete":"false","x":737.4999694824219,"y":110.00006103515625,"wires":[]}]
